@using Business_Manager.Helpers
@{
    string itemName = "Billboard2";
    string itemNameText = "員工福利整合平台";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
     

         .footer {
             background-color: rgba(0, 0, 0, .85);
         }
    </style>
        )
     <nav class="navbar navbar-expand-lg   bg-dark navbar-dark">

         <div class="container ebp">
             <a class="navbar-brand" href="javascript:void(0);">
                 <img src="~/Content/images/icons/icon-192x192.png" style="width: 36px; height: 36px;" />
                 員工福利整合平台
             </a>
             <div class="navbar-nav-scroll">
                 <ul class="navbar-nav bd-navbar-nav flex-row ">
                     <!-- <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">首頁</a>
    </li>-->
                     <li class="nav-item">
                         <a class="nav-link  active" href="~/EBP/Home/Billboard">公佈欄</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="~/EBP/Home/Activity">活動</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="~/EBP/Home/Club">社團</a>
                     </li>
                 </ul>
             </div>

             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                
                 <i class="far fa-user"></i>
             </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">

                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                         <a class="nav-link" href="#">我的積分 <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">表單申請</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">活動紀錄</a>
                     </li>

                     <li class="nav-item">
                         <a class="nav-link" href="#">社團紀錄</a>
                     </li>
                 </ul>

             </div>
         </div>
         </nav>
        
         <div class="main">
             <div class="container ebp" >
                 <div class="row" >

                     <div class=" col-12 col-sm-12 col-md-3 col-lg-3 sidebar-block" style="padding:0;">
                         <div class="sidebar">
                             <a href="#" class="section-title-block">
                                 <span class="section-title">中揚訊息</span>
                             </a>
                             <ul class="sidebar-menu">

                                 <li class="menu-item">
                                     <a href="#">
                                         <span class="fa fa-university"></span>全部消息
                                     </a>

                                 </li>
                                 <li class="have-children menu-item">
                                     <a href="#"><span class="fa fa-tags"></span>辦法</a>
                                     <ul>
                                         <li class="sub-menu"><a href="#">Add Category</a></li>
                                         <li class="sub-menu"><a href="#">View Categories</a></li>
                                     </ul>
                                 </li>
                                 <li class="have-children menu-item">
                                     <a href="#"><span class="fa fa-trophy"></span>福利</a>
                                     <ul>
                                         <li class="sub-menu"><a href="#">Add Award</a></li>
                                         <li class="sub-menu"><a href="#">View Awards</a></li>
                                     </ul>
                                 </li>
                                 <li class="have-children menu-item">
                                     <a href="#"><span class="fa fa-gavel"></span>相關政策</a>
                                     <ul>
                                         <li class="sub-menu"><a href="#">Add Jury</a></li>
                                         <li class="sub-menu"><a href="#">View Juries</a></li>
                                     </ul>
                                 </li>

                                 <li class="menu-item"><a href="#"><span class="fa fa-trophy"></span>公司活動</a></li>
                                 <li class="have-children menu-item">
                                     <a href="#"><span class="fa fa-flag"></span>Reports</a>
                                     <ul>
                                         <li class="sub-menu"><a href="#">View Judging points</a></li>
                                         <li class="sub-menu"><a href="#">Create Acceptances List</a></li>
                                         <li class="sub-menu"><a href="#">Create Awarded List</a></li>
                                         <li class="sub-menu"><a href="#">View Candidates for Awards</a></li>
                                         <li class="sub-menu"><a href="responsive_table.html">Send Report Cards</a></li>
                                     </ul>
                                 </li>
                                 <li class="menu-item"><a href="#">
                                     <span class="fa fa-trophy"></span>社團活動</a></li>

                             </ul>
                         </div>
                        


                     </div>
                     <div class="col-12 col-md-9" style="padding:0;height:100%;">

                         <div class="content">
                             <div class="title-block">
                                 <div class="col-12 " style="padding:0;">
                                     <span class="section-title">2023年聚餐補助&社團補助申請方式電子化</span>
                                     <div class="post-meta">
                                         <span><i class="fas fa-user"></i> By 
                                         <span id="authorArticle">總務室</span> </span>
                                         <span><i class="fas fa-calendar-alt"></i> 
                                         <span id="dateArticle">2023-03-06 15:51:22</span> </span>
                                         <span id="clickArticle">瀏覽次數：189</span>
                                     </div>
                                 </div>
                           
                             </div>
                             <div class="article-block">
                                 <!--  <div class="table-sec">
        <table>
            <thead>
                <tr>
                    <th width="65%">標題</th>
                    <th width="15%">單位</th>
                    <th width="20%">時間</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="紘立二廠-門禁需求申請說明">
                            <span class="mr-2">【後勤單位】</span>
                            <span class="text-danger mr-1"><i class="fas fa-bullhorn"></i></span>
                            紘立二廠-門禁需求申請說明
                        </a>
                    </td>
                    <td>總務室</td>
                    <td>2022-10-11 17:30:55</td>
                </tr>
                <tr>
                    <td>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="2023年聚餐補助&amp;社團補助申請方式電子化">
                            <span class="mr-2">【福委會活動】</span>
                            2023年聚餐補助&amp;社團補助申請方式電子化
                        </a>
                    </td>
                    <td>總務室</td>
                    <td>2023-03-06 15:51:22</td>
                </tr>
                <tr>
                    <td>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="2023-Q1-中揚&amp;晶彩&amp;群英">
                            <span class="mr-2">【OKR指標】</span>2023-Q1-中揚&amp;晶彩&amp;群英
                        </a>
                    </td>
                    <td>總務室</td>
                    <td>2023-02-17 10:38:25</td>
                </tr>
                <tr>
                    <td>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="分機表20230313">
                            <span class="mr-2">【分機表】</span>分機表20230313
                        </a>
                    </td>
                    <td>總務室</td>
                    <td>2023-03-13 13:33:43</td>
                </tr>
                <tr>
                    <td>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="二廠-停車資訊">
                            <span class="mr-2">【車位資訊】</span>二廠-停車資訊
                        </a>
                    </td>
                    <td>總務室</td>
                    <td>2023-02-15 17:18:38</td>
                </tr>
            </tbody>


        </table>

    </div>-->
                                 <div class="article">


                                     <p> 各位同仁大家好：</p>

                                     <p>
                                         總管理處特此公告“2023年聚餐補助&社團補助申請方式電子化”之聯絡票，並張貼於一樓公佈欄，再麻煩各單位主管及事務員告知同仁抽空前往了解，感謝大家。
                                     </p>

                                     <p>
                                         ※公司所有聯絡票可至此路徑讀取： \\192.168.20.199\e4-總務跨單位資料夾\全體員工\聯絡票公告
                                     </p>
                                     <p>
                                         總管理處特此公告“2023年聚餐補助&社團補助申請方式電子化”之聯絡票，並張貼於一樓公佈欄，再麻煩各單位主管及事務員告知同仁抽空前往了解，感謝大家。
                                     </p>

                                     <p>
                                         ※公司所有聯絡票可至此路徑讀取： \\192.168.20.199\e4-總務跨單位資料夾\全體員工\聯絡票公告
                                     </p>
                                     <p>
                                         總管理處特此公告“2023年聚餐補助&社團補助申請方式電子化”之聯絡票，並張貼於一樓公佈欄，再麻煩各單位主管及事務員告知同仁抽空前往了解，感謝大家。
                                     </p>

                                     <p>
                                         ※公司所有聯絡票可至此路徑讀取： \\192.168.20.199\e4-總務跨單位資料夾\全體員工\聯絡票公告
                                     </p>
                                     <p>
                                         總管理處特此公告“2023年聚餐補助&社團補助申請方式電子化”之聯絡票，並張貼於一樓公佈欄，再麻煩各單位主管及事務員告知同仁抽空前往了解，感謝大家。
                                     </p>

                                     <p>
                                         ※公司所有聯絡票可至此路徑讀取： \\192.168.20.199\e4-總務跨單位資料夾\全體員工\聯絡票公告
                                     </p>


                                     <div class="imgbox" style="">
                                         <img src="https://i.imgur.com/2YeneEh.png" alt="Alternate Text" style="width:100%" />
                                     </div>




                                 </div>

                                 <div class="btnback-block"><a href="~/EBP/Home/Billboard" class="btn-back">回到上一頁</a></div>
                                 

                             </div>



                             </div>
                     </div>

                 </div>
                
             </div>

         </div>


         <footer class="mt-auto py-3 footer"></footer>

         @Html.Resource("js",
             @<script>
                  $(document).ready(function () {
                      /*公佈欄選單*/
                      $(".sidebar-menu > li.have-children a").on("click", function (i) {
                          i.preventDefault();
                          if (!$(this).parent().hasClass("active")) {
                              $(".sidebar-menu li ul").slideUp();
                              $(this).next().slideToggle();
                              $(".sidebar-menu li").removeClass("active");
                              $(this).parent().addClass("active");
                          }
                          else {
                              $(this).next().slideToggle();
                              $(".sidebar-menu li").removeClass("active");
                          }
                      });


                



                      $(".sidebar > a >.section-title").on("click", function (i) {
                          i.preventDefault();
                          $(".sidebar-menu").toggleClass("showMenu");

                          $(".sidebar-menu > li").click(function () {
                             // $(".dropdown > p").html($(this).html());
                              //$(".sidebar-menu").removeClass("showMenu");
                          });
                      });
                  });

                  /*搜尋bar*/
                  $('.searchButton').on('click', function () {
                      alert('You clicked search button');
                  });
             </script>
        )
