@charset "UTF-8";
/*$main-color: #28527A; 灰藍主色*/
/*$main-color: #214262 ;

$sub-color:#8AC4D0;/*淺綠
$adorn-color: #FE7F2D;點綴橘
$adorn-sub-color: #FBEEAC; 點綴黃
$logo-color:#367BC4;
*/
/*藍*/
/*深藍*/
/*綠*/
/*點綴橘*/
/*淺灰*/
html, body {
  height: 100% !important; }
  html .navbar-brand, body .navbar-brand {
    font-size: 1rem; }

/*初始化*/
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none; }

a, a:hover {
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box; }

/*按鈕*/
.btn {
  padding: 8px 15px;
  border-radius: 5px; }
  .btn i {
    margin-left: 5px; }
  .btn.btn-positive {
    background: #FF715B;
    color: #ffffff !important; }
  .btn.btn-negative {
    background: #ffffff;
    color: #bfbfbf !important;
    border: solid 1px #bfbfbf; }

/*活動-狀態*/
.atv-status.pre {
  color: #FF715B; }

.atv-status.ing {
  color: #0E55A2; }

.atv-status.end {
  color: #bfbfbf; }

.navbar.navbar-expand-lg.bg-dark.navbar-dark {
  background: #214262 !important; }

.main {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding: 10px;
  min-height: calc( 100vh - 94px); }
  .main .container {
    height: 100%; }
    .main .container .row {
      height: 100%; }
      .main .container .row .sidebar {
        max-width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 0 15px;
        margin-right: 15px;
        min-height: calc( 100vh - 134px); }

/*banner*/
.banner {
  height: 220px;
  align-items: stretch;
  justify-content: space-between;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 10px; }
  .banner.act-ban {
    margin-right: 0;
    margin-left: 0; }
    .banner.act-ban img {
      object-position: 20% 55%; }
  .banner.club-ban {
    margin-right: 0;
    margin-left: 0; }
    .banner.club-ban img {
      object-position: 20% 55%; }
  .banner img {
    object-position: 20% 40%;
    object-fit: cover;
    display: block;
    max-width: 100%;
    width: 100%; }

/*公佈欄-側邊選單*/
.section-title {
  line-height: 2;
  padding: 10px 15px;
  display: block;
  font-weight: 900;
  font-size: 16px;
  /*  margin-bottom: 10px;
    border-bottom: solid 1px #c9d9dd;*/
  position: relative;
  z-index: 999;
  color: #395e81; }

.sidebar-menu li.have-children.active a {
  color: #0E55A2; }

.sidebar-menu li.have-children.active span, .sidebar-menu li.have-children.active span::after {
  color: #0E55A2; }

.sidebar-menu li.have-children ul li a {
  /*   background-color: #f4f7fb;*/
  padding-left: 52px; }
  .sidebar-menu li.have-children ul li a:hover {
    padding-left: 52px;
    border-radius: 0; }

.sidebar-menu li a {
  background-color: #fff;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #5c5c5c; }
  .sidebar-menu li a:hover {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #0E55A2;
    border-radius: 5px;
    background: #f4f7fb; }
    .sidebar-menu li a:hover span, .sidebar-menu li a:hover span::after {
      color: #0E55A2; }
  .sidebar-menu li a span {
    margin-right: 15px;
    color: #898989; }
    .sidebar-menu li a span.fa {
      font-weight: 500; }

li.have-children, li {
  position: relative; }

.have-children span::after {
  position: absolute;
  right: 15px;
  content: "\f054";
  color: #898989;
  transition: all .5s; }

li.active.have-children span::after {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.sidebar-menu .have-children > ul {
  display: none; }

/*公佈欄頁面-右側內容*/
.content {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 5px 30px;
  position: relative;
  z-index: 999;
  min-height: calc( 100vh - 134px);
  /*標題*/
  /*文章區塊*/ }
  .content .imgbox {
    display: block;
    max-width: 500px;
    height: auto; }
  .content .title-block {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #91C7B1;
    padding: 10px 5px;
    /*搜尋bar*/ }
    .content .title-block .section-title {
      text-align: left;
      border-bottom-width: 0px;
      font-size: 22px;
      padding: 0; }
    .content .title-block .post-meta {
      margin-top: 5px;
      margin-bottom: 5px;
      color: #a3a3a3; }
      .content .title-block .post-meta span {
        margin-right: 10px; }
        .content .title-block .post-meta span .fas {
          color: #a5a5a5; }
    .content .title-block .search {
      width: 100%;
      position: relative; }
      .content .title-block .search:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-family: "Font Awesome 5 Pro";
        content: '\f002';
        background: #91C7B1;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        -webkit-font-smoothing: subpixel-antialiased; }
      .content .title-block .search .searchTerm {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #91C7B1;
        padding: 5px;
        height: 35px;
        border-radius: 5px;
        outline: none; }
      .content .title-block .search .searchButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor: pointer; }
  .content .article-block {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 18px; }
    .content .article-block .article {
      padding: 0 5px;
      border-bottom: solid 2px #91C7B1; }
    .content .article-block .table-sec table {
      border-collapse: collapse;
      padding: 0;
      margin: 0;
      border-spacing: 0;
      display: table-cell;
      border-left: solid 2px #f7f7f7;
      border-right: solid 2px #f7f7f7; }
      .content .article-block .table-sec table thead tr {
        background: #f9f9f9; }
      .content .article-block .table-sec table tbody tr {
        background-color: #ffffff;
        border-bottom: 1px solid #dddddd; }
        .content .article-block .table-sec table tbody tr:hover td {
          background-color: #fffade; }
    .content .article-block .table-sec th {
      color: #888888;
      border-bottom: solid 1px #f7f7f7;
      height: 45px;
      font-weight: 600; }
    .content .article-block .table-sec td {
      width: 20vw;
      height: 55px; }
      .content .article-block .table-sec td a {
        text-decoration: none;
        color: #0E55A2; }
        .content .article-block .table-sec td a:hover {
          color: #91C7B1; }
    .content .article-block .table-sec th, .content .article-block .table-sec td {
      padding: 5px; }
    .content .article-block .table-sec tr:last-of-type {
      border-bottom: 2px solid #c9d9dd; }
    .content .article-block .table-sec tr:nth-of-type(even) td {
      /*   background-color: #f3f3f3;*/ }
    .content .article-block .btnback-block {
      text-align: center;
      margin-top: 15px; }
    .content .article-block .btn-back {
      padding: 10px 15px;
      font-size: 16px;
      background: #91C7B1;
      border-radius: 5px;
      color: #fff;
      display: inline-block; }

/*公佈欄-頁數*/
/*活動頁面*/
.full-block {
  width: 100%;
  background: #ffffff;
  min-height: calc(100vh - 134px);
  padding: 30px; }
  .full-block .full-content {
    width: 100%; }

.sort-block {
  display: flex;
  flex-direction: row; }
  .sort-block label {
    margin-right: 10px;
    margin-left: 10px; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #FF715B; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #FF715B; }

.control__indicator:after {
  content: '';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block; }

.control--checkbox .control__indicator:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.condition-search .row-box {
  padding: 10px 0px 0;
  /* border-bottom: 1px #e7e7e7 solid;*/ }

.conditionList {
  max-width: calc(100% - 120px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0rem; }

.condition-search h3, .condition-search .h3 {
  color: #db3b00; }

.conditionList > .item {
  font-size: 0rem; }

.conditionList > .item > label {
  display: inline-block;
  min-width: 110px;
  min-height: 35px;
  padding: 3px 13px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4em;
  color: #242424; }

.conditionList > .item > span {
  display: inline-block; }

.datepicker > input[type='text'] {
  cursor: pointer; }

.datepicker {
  margin-right: 10px; }

input[type='text'], input[type='password'] {
  height: 35px;
  border: 0;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #e5e5e5;
  width: 180px; }

input:not(input[type="radio"]), input:not(input[type="checkbox"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px; }

input:not(input[type="radio"]):focus, input:not(input[type="checkbox"]):focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 114, 71, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(138, 196, 208, 0.5); }

/*月份*/
.conditionList label.round:not(.disabled-round) {
  width: 45px;
  height: 45px;
  line-height: 45px;
  padding: 0px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  text-align: center;
  border: none;
  font-size: 0.9rem;
  /* border: 1px #dcdcdc solid;*/ }

.conditionList input[type='radio']:checked + label, .conditionList input[type='checkbox']:checked + label {
  color: #FF715B;
  border-color: #FF715B; }

.conditionList input[type='radio']:checked + label.round:not(.disabled-round), .conditionList input[type='checkbox']:checked + label.round:not(.disabled-round) {
  background-color: #db3b00;
  color: #fff;
  border: none; }

.conditionList input[type='radio'], .conditionList input[type='checkbox'] {
  border: none;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute; }

.conditionList input[type='radio'] + label, .conditionList input[type='checkbox'] + label {
  display: block;
  cursor: pointer;
  color: #9d9d9d;
  padding: 8px 20px;
  border: 1px transparent solid;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: unset;
  border: solid 1px #9d9d9d;
  border-radius: 5px; }

.condition-search .caption {
  min-height: 30px;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
  display: inline-block;
  font-weight: bold;
  color: #242424;
  min-width: 80px;
  font-size: 16px; }

.conditionList input.search-btn {
  width: 50px;
  height: 35px;
  margin-bottom: 5px; }

input.search-btn {
  width: 50px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
  border: none;
  background: #db3b00 url(../../images/icon/search_w.svg) no-repeat center/40%;
  cursor: pointer; }

/*頁數*/
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 60px;
  margin: 20px;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  border-radius: 5px; }

.page__numbers, .page__btn, .page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 10px;
  font-size: 18px;
  cursor: pointer; }

.page__dots {
  width: 30px;
  height: 30px;
  color: #91C7B1;
  cursor: initial; }

.page__numbers {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

.page__numbers.active {
  color: #ffffff;
  background: #91C7B1;
  font-weight: 600;
  border: 1px solid #91C7B1; }

.page__btn {
  color: #91C7B1;
  pointer-events: none;
  padding: 10px; }

.page__btn.active {
  color: #91C7B1;
  pointer-events: initial; }

.page__btn.active:hover {
  color: #23adad; }

/*footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.85); }

@media only screen and (max-width: 1200px) {
  .content .article-block .table-sec table {
    display: unset; } }

@media only screen and (max-width: 1023px) {
  .main.activity, .main.club {
    background: #fff; }
  .content {
    padding: 0 0; }
    .content .article-block {
      padding: 10px; } }

@media (max-width: 767px) {
  .content .article-block {
    padding: 0; }
  .section-title {
    border-bottom: solid 1px #c9d9dd; }
  .main {
    min-height: unset;
    background: #fff; }
    .main .container .row {
      height: auto; }
      .main .container .row .sidebar-block {
        height: auto; }
      .main .container .row .sidebar {
        margin-right: 0;
        padding: 0;
        height: auto;
        margin-bottom: 20px;
        background: unset;
        min-height: unset; }
        .main .container .row .sidebar .section-title-block span::after {
          position: absolute;
          right: 15px;
          content: "\f0c9";
          color: #898989;
          transition: all .5s;
          font-family: "Font Awesome 5 Pro"; }
        .main .container .row .sidebar .section-title {
          font-size: 18px;
          position: relative;
          background: #fff;
          margin-bottom: 0;
          padding: 5px 15px; }
      .main .container .row ul.sidebar-menu {
        margin-bottom: -317px;
        opacity: 0;
        position: relative;
        z-index: 1;
        transition: all 0.5s; }
        .main .container .row ul.sidebar-menu.showMenu {
          margin-bottom: 0;
          opacity: 1; }
        .main .container .row ul.sidebar-menu.active {
          display: block; }
        .main .container .row ul.sidebar-menu li.menu-item {
          transition: 1s;
          -webkit-transition: 1s; }
  .title-block {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px; }
  .sidebar-menu li.have-children ul li a {
    background-color: #fff;
    padding-left: 45px; }
  .sidebar-menu li a span {
    margin-right: 10px; }
  .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px; }
  .imgbox {
    height: auto;
    /*取代 斷點900px以上設定的 350px高度，不然下方的最小高度500px會無效*/
    min-height: 500px; } }

@media (max-width: 480px) {
  /*活動頁面*/
  /*時間*/
  .conditionList {
    max-width: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto; }
  .conditionList .item {
    display: block;
    width: 100%; }
  .datepicker > input[type='text'] {
    width: calc(100% - 10px);
    margin: 0px 0px 6px 0px; }
  .conditionList > .item > span {
    display: block; }
  .conditionList > .item > label {
    width: 100%;
    min-height: auto;
    min-width: auto;
    display: block;
    padding: 5px 0px;
    text-align: left;
    font-size: 1rem; }
  .condition-search .caption {
    width: 100%;
    min-height: auto;
    min-width: auto;
    display: block;
    padding: 0px;
    text-align: left;
    font-size: 1rem; }
  .conditionList > li {
    /* float: left;*/
    min-width: 33%;
    display: inline-block; }
  .condition-search .row-box {
    padding: 15px 0px 15px;
    /* border-bottom: 1px #e7e7e7 solid;*/ } }

@media (max-width: 375px) {
  .content .title-block {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px; }
    .content .title-block .section-title {
      padding: 5px 0;
      font-size: 18px; } }

@media (min-width: 1200px) {
  .container.ebp {
    max-width: 1250px; } }
