@using Business_Manager.Helpers
@{
    string itemName = "Home";
    string itemNameText = "聊天室";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .im-content {
            display: none;
        }

        .content {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    </style>
)

<div class="overlay"></div>
<div class="wrapper">
    <div class="content">
        <div class="content-list">
            <div class="content-main">
                <div class="selfname-block">
                    <a class="selfname-block-list" href="javascript:void(0);">
                        <div class="selfname-block-list-img">
                            <img src="~/Areas/IM/Content/images/other/happy-woman.jpg" alt="logo" />
                        </div>
                        <div class="selfname-block-name">
                            <h2>系統開發室 陳美美</h2>
                            @*<h2>分機：6666</h2>*@
                        </div>
                    </a>
                    <div class="selfname-block-list">
                        <a class="subscribe-bell" href="javascript:void(0);">
                           <i class="fas fa-plus-circle set-icon"></i>
                        </a>
                        <div class="selfname-set dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-cog set-icon"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item profile-link" href="javascript:void(0);">
                                    <i class="far fa-user-circle"></i>個人檔案
                                </a>
                                <a class="dropdown-item my-account" href="javascript:void(0);">
                                    <i class="far fa-unlock"></i>我的帳號
                                </a>
                                <a class="dropdown-item remind-link" href="javascript:void(0);">
                                    <i class="far fa-bell"></i>提醒
                                </a>
                                <a class="dropdown-item" href="javascript:void(0);" onclick="Logout()">
                                    <i class="far fa-sign-out"></i>登出
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-block">
                        <a class="tab" href="#Chat">
                            <i class="fas fa-comment"></i>聊天室
                        </a>
                        <a class="tab" href="#Friend">
                            <i class="fas fa-user-friends"></i>好友
                        </a>
                        <a class="tab" href="#Group">
                            <i class="fas fa-users"></i>群組
                        </a>
                        <a class="tab" href="#Usually">
                            <i class="fas fa-star"></i>常用
                        </a>
                    </div>
                </div>
                <div class="row frame" style="margin-right: 0; margin-left: 0">
                    <div class="search-block col-12">
                        <label style="outline: 0; display: block; margin: 0">
                            <input type="text" class="form-control" placeholder="搜尋" />
                        </label>
                    </div>
                    @*<div class="arrange-block col-4 col-md-4 col-lg-4">
                        <select class="form-control" style="outline: 0">
                            <option value="0">排序</option>
                            <option value="1" selected>部門</option>
                            <option value="2">BMW</option>
                            <option value="3">Citroen</option>
                        </select>
                    </div>*@
                </div>
            </div>

            <div class="chatlist im-content" data-content="Chat">
                <ul id="chat-nav">
                    <li>
                        <a class="chat-nav-list chat-nav-list-01" href="javascript:void(0);">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="/Areas/IM/Content/images/other/user01.png" alt="logo" />
                                </div>
                                <div>
                                    <h2>
                                        網管資安室 林君君
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>
                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">36</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="chat-nav-list chat-nav-list-01" href="javascript:void(0);">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="/Areas/IM/Content/images/other/superhero.png" alt="logo" />
                                </div>
                                <div>
                                    <h2>
                                        網管資安室 趙露思
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>
                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">3</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="chat-nav-list chat-nav-list-01" href="javascript:void(0);">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="/Areas/IM/Content/images/other/boy.png" alt="logo" />
                                </div>
                                <div>
                                    <h2>
                                        網管資安室 吳法
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>
                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">6</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="chat-nav-list chat-nav-list-01" href="javascript:void(0);">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="/Areas/IM/Content/images/other/h-man.jpg" alt="logo" />
                                </div>
                                <div>
                                    <h2>
                                        人工智慧研發部 李子傑
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>
                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">6</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="manlist im-content" data-content="Friend">
                <ul id="sort-nav">
                    <li>
                        <a href="javascript:void(0);" class="sort-alink">
                            <div>
                                <i class="fas fa-comment-alt-dots"></i>
                                <span>中揚光電/研發處</span>
                                <span>(36)</span>
                            </div>
                            <i class="fas fa-caret-down drop-icon"></i>
                        </a>
                        <ul class="group-nav">
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/65/50/50" />
                                        </div>
                                        <h6>系統開發室 陳美美</h6>
                                    </div>
                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/61/50/50" />
                                        </div>
                                        <h6>系統開發室 陳大天</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/66/50/50" />
                                        </div>
                                        <h6>系統開發室 張曉明</h6>
                                    </div>

                                    <div class="group-nav-list-status online">  </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="sort-alink">
                            <div>
                                <i class="fas fa-comment-alt-dots"></i>
                                <span>中揚光電/法務處</span>
                                <span>(6)</span>
                            </div>
                            <i class="fas fa-caret-down drop-icon"></i>

                        </a>
                        <ul class="group-nav">
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/65/50/50" />
                                        </div>
                                        <h6>系統開發室 陳美美</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/61/50/50" />
                                        </div>
                                        <h6>系統開發室 陳大天</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/66/50/50" />
                                        </div>
                                        <h6>系統開發室 張曉明</h6>
                                    </div>

                                    <div class="group-nav-list-status online">  </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="sort-alink">
                            <div>
                                <i class="fas fa-comment-alt-dots"></i>
                                <span>中揚光電/業務處</span>
                                <span>(9)</span>
                            </div>
                            <i class="fas fa-caret-down drop-icon"></i>

                        </a>
                        <ul class="group-nav">
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/550/50/50" />
                                        </div>
                                        <h6>系統開發室 陳美美</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/433/50/50" />
                                        </div>
                                        <h6>系統開發室 陳大天</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/129/50/50" />
                                        </div>
                                        <h6>系統開發室 張曉明</h6>
                                    </div>

                                    <div class="group-nav-list-status online">  </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="im-content" data-content="Group"></div>
            <div class="im-content" data-content="Usually"></div>
        </div>
        <div class="content-window">
            <div class="chat-title">
                <a class="back-link" href="javascript:void(0);">
                    <i class="fas fa-long-arrow-left icon"></i>
                </a>
                <a class="chat-person" href="javascript:void(0);">
                    <div class="chat-img">
                        <img src="~/Areas/IM/Content/images/other/h-man.jpg" alt="user" />
                    </div>
                    <h2>人工智慧研發部 李子傑</h2>
                </a>
                <div class="chat-function">
                    <a href="javascript:void(0);" class="search-link">
                        <i class="fas fa-search icon"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="fas fa-phone-alt icon"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="fas fa-video icon"></i>
                    </a>
                    <div class="chat-more">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-ellipsis-v icon">  </i>
                            </button>
                            <div class="dropdown-menu  dropdown-menu-right">
                                <a class="dropdown-item invite-friend" href="javascript:void(0);">邀請好友</a>
                                <a class="dropdown-item" href="javascript:void(0);">加入常用聯絡人</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-message">
                    <div class="search-block">
                        <label class="search-label" style="outline: 0; display: block; margin: 0;">
                            <input type="text" class="form-control" id="" name="" placeholder="搜尋" />
                        </label>
                    </div>
                    <div>
                        <a class="close-search-message">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="chat-content">
                <div class="chat-block">
                    <div class="chat-block-each left">
                        <div class="chat-img">
                            <img src="~/Areas/IM/Content/images/other/h-man.jpg" alt="user" />
                        </div>
                        <div class="chat-meg" style="width: 80%">
                            <h3>人工智慧研發部 李子傑</h3>
                            <div class="message-block">
                                <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                <div class="time"><span>上午9:00</span></div>
                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-block clearfix">
                    <div class="chat-block-each right">
                        <div class="chat-meg" style="width: 80%">
                            <div class="message-block">
                                <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                <div class="time"><span>上午9:00</span></div>
                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meg-content">
                <div class="up-block">
                    <textarea class="text-block" id="textarea" placeholder="輸入訊息..."></textarea>
                </div>
                <div class="down-block">
                    <div class="send-block">
                        <a href="javascript:void(0);">
                            <i class="far fa-smile blue-icon"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fas fa-paperclip blue-icon"></i>
                        </a>
                    </div>
                    <a class="btn-send" href="javascript:void(0);">送出</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popwindow">
    <div class="pop-modal invite-step-1">
        <div class="modal-header">
            <a class="close-link" href="javascript:void(0);">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h2 class="modal-title">邀請-已選(1)</h2>
            <a class="modal-title next-link" style="">下一步</a>
        </div>
        <div class="modal-body">
            <!--1點選邀請人-->
            <div class="invite-page1">
                <div class="search-block col-12 col-md-12 col-lg-12 ">
                    <label class="gray" style="outline:0;display:block;margin:0;">
                        <input type="text" class="form-control" name="" placeholder="搜尋" />
                    </label>
                </div>
                <div class="invited-list">
                    <a class="invited-man">
                        <div class="cancel" style=""></div>
                        <div class="chat-img">
                            <img src="https://picsum.photos/id/65/50/50" />
                        </div>
                        <p class="name">系統開發室-陳美美</p>
                    </a>
                    <a class="invited-man">
                        <div class="cancel" style=""></div>
                        <div class="chat-img">
                            <img src="https://picsum.photos/id/61/50/50" />
                        </div>
                        <p class="name">系統開發室-楊丞琳</p>
                    </a>
                </div>
                <div class="invite-manlist">
                    <ul id="sort-nav">
                        <li>
                            <a href="javascript:void(0);" class="sort-alink">
                                <div>
                                    <i class="fas fa-comment-alt-dots"></i>
                                    <span>中揚光電/研發處</span>
                                    <span>(36)</span>
                                </div>
                            </a>
                            <ul class="group-nav">
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check03">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/65/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 張曉華</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check03" class="cb-element" checked />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check04">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/61/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 吳磊</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check04" class="cb-element" checked />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/63/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/55/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/56/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="sort-alink">
                                <div>
                                    <i class="fas fa-comment-alt-dots"></i>
                                    <span>中揚光電/法務處</span>
                                    <span>(6)</span>
                                </div>
                            </a>
                            <ul class="group-nav">
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/65/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/61/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳曉東</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check03">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/63/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 趙露思</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check03" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="chec04">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/55/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 李大天</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check04" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check05">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/56/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 余天</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check05" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="sort-alink">
                                <div>
                                    <i class="fas fa-comment-alt-dots"></i>
                                    <span>中揚光電/業務處</span>
                                    <span>(9)</span>
                                </div>
                            </a>
                            <ul class="group-nav">
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/65/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/61/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/63/100/100" />
                                                </span>
                                                <span class="h4">系統開發室 吳大發</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/55/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/56/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-modal invite-step-2">
        <div class="modal-header">
            <a class="close-link" href="javascript:void(0);">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h2 class="modal-title">設定群組檔案</h2>
            <a class="modal-title next-link" style="">下一步</a>
        </div>
        <div class="modal-body">
            <!--2輸入群組名稱-->
            <div class="invite-ed-page">
                <div class="group-info">
                    <div class="group-info-top">
                        <a class="group-pic">
                            <div class="upload-camara" style=""></div>
                            <div class="chat-img">
                                <img src="https://picsum.photos/id/65/130/130" />
                            </div>
                        </a>
                    </div>
                    <div class="input-block col-12 col-md-12 col-lg-12 ">
                        <label class="camara" style="outline:0;display:block;margin:0;">
                            <input type="text" class="form-control" name="" placeholder="輸入群組名稱" />
                        </label>
                    </div>
                </div>
                <div class="invite-ed-manlist">
                    <ul class="ed-nav">
                        <li>
                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="check01">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/65/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="check01" class="cb-element" checked />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>
                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/61/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 楊丞琳</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" checked />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>
                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/63/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>
                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/55/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>
                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/56/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--彈窗-個人檔案-->
    <div class="pop-modal profile-modal">
        <div class="modal-header">
            <a class="close-link">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h1 class="modal-title">個人檔案</h1>
            <a class="modal-title next-link" style="opacity: 1;">
                <i class="fas fa-times" style="color:#ffffff;"></i>
            </a>
        </div>
        <div class="profile-page">
            <div class="profile-top">
                <a class="profile-pic">
                    <div class="upload-camara" style=""></div>
                    <div class="chat-img">
                        <img src="https://picsum.photos/id/65/130/130" />
                    </div>
                </a>
                <span class="name">系統開發室 張曉華</span>
            </div>
            <div class="profile-bottom">
                <p class="info">
                    <span class="info-title">部門</span>
                    <span class="info-content">中揚光電 研發處</span>
                </p>
                <p class="info">
                    <span class="info-title">工號</span>
                    <span class="info-content">ZY01066</span>
                </p>
                <p class="info" style="border:none;">
                    <a class="info-link my-account">我的帳戶</a>
                </p>
            </div>
        </div>
    </div>
    <!--彈窗-我的帳戶-->
    <div class="pop-modal account-modal">
        <div class="modal-header">
            <a class="close-b close-link" id="account-back-link">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h1 class="modal-title">我的帳戶</h1>
            <a class="modal-title next-link" style="">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="profile-page">
            <div class="profile-bottom">
                <p class="info">
                    <label for="test">
                        <span class="info-title">原來密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入原來密碼">
                    </span>
                </p>
                <p class="info">
                    <label for="test">
                        <span class="info-title">修改密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入新密碼">
                    </span>
                </p>
                <p class="info">
                    <label for="test">
                        <span class="info-title">確認密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入新密碼">
                    </span>
                </p>
                <p class="info save-close" style="border:none;">
                    <a class="info-link save-close">儲存並關閉</a>
                </p>
            </div>
        </div>
    </div>
    <!--彈窗-開啟/關閉提醒-->
    <div class="pop-modal remind-modal">
        <div class="modal-header">
            <a class="close-b close-link" id="account-back-link">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h1 class="modal-title">提醒</h1>
            <a class="modal-title next-link" style="">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="profile-page">
            <div class="profile-bottom">
                <p class="info">
                    <label for="test">
                        <span class="info-title">原來密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入原來密碼">
                    </span>
                </p>
                <p class="info">
                    <label for="test">
                        <span class="info-title">修改密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入新密碼">
                    </span>
                </p>
                <p class="info">
                    <label for="test">
                        <span class="info-title">確認密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入新密碼">
                    </span>
                </p>
                <p class="info save-close" style="border:none;">
                    <a class="info-link save-close">儲存並關閉</a>
                </p>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            SwitchList();

            addEventListener('hashchange', (event) => {
                SwitchList();
            });

            $(".invite-friend").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block');//打開彈窗外框
                $('.pop-modal').hide();//先關閉所有彈窗
                $('.invite-step-1').show();
            });

            $(".profile-link").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block'); //打開彈窗外框
                $('.pop-modal').hide(); //先關閉所有彈窗
                $('.profile-modal').show();
            });
            

            $(".my-account").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block'); //打開彈窗外框
                $('.pop-modal').hide(); //先關閉所有彈窗
                $('.account-modal').show();
            });
            $(".remind-link").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block'); //打開彈窗外框
                $('.pop-modal').hide(); //先關閉所有彈窗
                $('.remind-modal').show();
            });

            $(".next-link").on("click", function (e) {
                if ($(this).parents().hasClass("invite-step-1")) {
                    $('.pop-modal').hide();
                    $('.invite-step-2').show();
                }

                if ($(this).parents().hasClass("invite-step-2")) {
                    ClosePop();
                }
                if ($(this).parents().hasClass("profile-modal")) {
                    ClosePop();
                }
                if ($(this).parents().hasClass("account-modal")) {
                    ClosePop();
                }
                if ($(this).parents().hasClass("remind-modal")) {
                    ClosePop();
                }
            });

            $(".save-close").on("click", function (e) {
                if ($(this).parents().hasClass("account-modal")) {
                    ClosePop();
                }
            });

            $(".close-link").on("click", function (e) {
                if ($(this).parents().hasClass("invite-step-1")) {
                    ClosePop();
                }

                if ($(this).parents().hasClass("invite-step-2")) {
                    $('.pop-modal').hide();//先關閉所有彈窗
                    $('.invite-step-1').show();
                }

                if ($(this).parents().hasClass("profile-modal")) {
                    ClosePop();
                }

                if ($(this).parents().hasClass("account-modal")) {
                    $('.pop-modal').hide();//先關閉所有彈窗
                    $('.profile-modal').show();
                }
                if ($(this).parents().hasClass("remind-modal")) {
                    ClosePop();
                }
            });

            $("body").off("click").on("click", function (e) {
                //狀況：當彈窗開啟時
                if ($(".popwindow").hasClass("d-block")) {
                    //條件：我點擊的地方不是彈窗
                    if (!$(e.target).parents().hasClass("pop-modal")
                        && !$(e.target).hasClass("invite-friend")
                        && !$(e.target).hasClass("profile-link")
                        && !$(e.target).hasClass("my-account")
                        && !$(e.target).hasClass("remind-link")
                    ) {
                        ClosePop();//動作：我就關閉
                    }
                }
            });

            $(".chat-nav li > a").on("click", function (e) {
                $(this).addClass('active');
            });

            //點擊左側開啟聊天視窗
            $('.content-window > .chat-modal').first().show();//第一個會先打開

            $(".chat-nav-list-01").on("click", function (e) {
                $('.content-window').addClass('d-block');//打開外框
                $('.chat-modal').hide();//先關閉所有窗
                $('.chat-01').show();
            });

            $(".chat-nav-list-02").on("click", function (e) {
                $('.content-window').addClass('d-block');//打開外框
                $('.chat-modal').hide();//先關閉所有彈窗
                $('.chat-02').show();
            });

            $(".chat-nav-list-03").on("click", function (e) {
                $('.content-window').addClass('d-block');//打開外框
                $('.chat-modal').hide();//先關閉所有彈窗
                $('.chat-03').show();
            });

            $(".back-link").on("click", function (e) {
                $('.content-window').removeClass('d-block');//關閉
            });

            //左邊點選後呈active
            $('#chat-nav li').first().find("a").addClass("active");

            $('#chat-nav li > a').click(function () {
                if ($(this).parent("li").attr('class') != 'active') {
                    $('#chat-nav li a').removeClass('active');
                    $(this).addClass('active');
                }
            });

            //搜尋訊息框
            $(".chat-function > .search-link").on("click", function (e) {
                $('.search-message').addClass('d-inline-flex');//打開
            });

            $(".close-search-message").on("click", function (e) {
                $('.search-message').removeClass('d-inline-flex');//關閉
            });
        });

        function ClosePop() {
            $(".overlay").hide();
            $(".popwindow").removeClass("d-block");
        }

        function SwitchList() {
            $(".im-content").hide();
            $(".tab").removeClass("active");

            switch (location.hash) {
                case "#Friend":
                    $(".im-content[data-content='Friend']").show();
                    $(".tab[href='#Friend']").addClass("active");

                    $('#sort-nav li').first().addClass("active").find('ul').show();
                    $('#sort-nav li').first().find("a > i").addClass("active");
                    $('#sort-nav li').first().find("a.sort-alink").addClass("active");

                    $('#sort-nav > li > a').click(function () {
                        if ($(this).parent("li").attr('class') != 'active') {
                            $('#sort-nav li ul').slideUp();
                            $('#sort-nav li a i').removeClass('active');
                            $('#sort-nav li').removeClass('active');
                            $('#sort-nav li a').removeClass('active');

                            //$(this).next().slideToggle();

                            $(this).parent("li").addClass('active');
                            $(this).addClass('active');
                            $(this).find("i").addClass('active');
                            $(this).next().slideDown();
                        }
                    });
                    break;
                case "#Group":
                    $(".im-content[data-content='Group']").show();
                    $(".tab[href='#Group']").addClass("active");
                    break;
                case "#Usually":
                    $(".im-content[data-content='Usually']").show();
                    $(".tab[href='#Usually']").addClass("active");
                    break;
                case "#Chat":
                default:
                    $(".im-content[data-content='Chat']").show();
                    $(".tab[href='#Chat']").addClass("active");
                    break;
            }
        }
    </script>
)