@using Business_Manager.Helpers
@{
    string itemName = "RoutingProcessRule";
    string itemNameText = "站別規則資料";
}

@Html.Resource("css",
    @<style>
    </style>
 )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12 text-right mb-2">
                        <a class="btn btn-info auth-contact" href="javascript:Edit@(itemName)();" style=""><i class="fas fa-plus"></i>新增</a>
                    </div>
                    <div class="col-12">
                        <div class="table-custom">
                            <table id="tblData02" class="table table-responsive-sm table-bordered table-striped table-sm mb-0">
                                <thead>
                                    <tr>
                                        <th style="width:60px;">#</th>
                                        <th style="min-width: 75px;">站別規則代碼</th>
                                        <th style="min-width: 75px;">下一站別</th>
                                        <th style="min-width: 75px;" class="text-center">規則狀態</th>
                                        <th style="min-width: 75px;" class="text-center">是否啟用</th>
                                        <th style="min-width: 75px;" class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>F</td>
                                        <td>A0_維修</td>
                                        <td class="text-center">不良品</td>
                                        <td class="text-center">ACTIVE</td>
                                        <td class="text-center active-content">
                                            <a class="active-link auth-contact" href="javascript:Edit@(itemName)();" style=""><i class="fas fa-edit"></i></a>

                                            <a class="active-link auth-contact" href="javascript:Delete@(itemName)();" style=""><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>P</td>
                                        <td>A5_鎳</td>
                                        <td class="text-center">良品</td>
                                        <td class="text-center">ACTIVE</td>
                                        <td class="text-center active-content">
                                            <a class="active-link auth-contact" href="javascript:Edit@(itemName)();" style=""><i class="fas fa-edit"></i></a>

                                            <a class="active-link auth-contact" href="javascript:Delete@(itemName)();" style=""><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>

                <div class="row" id="editData@(itemName)" style="display: none;">
                    <div class="col-12">
                        <form class="container" autocomplete="off" id="editForm@(itemName)">
                            <fieldset>
                                <input type="hidden" id="ContactId" name="ContactId" value="-1" />
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtContactName@(itemName)">站別規則代碼<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select id="cboStatusNo_rule" name="cboStatusNo_rule" class="form-control" required="" data-msg-required="請選擇規則狀態"><option value="" selected="selected">-- 請選擇規則狀態 --</option><option value="B">B (退回)</option><option value="BW">BW (維修重工)</option><option value="F">F (不良品)</option><option value="FP">FP (偽良品)</option><option value="G">G (上膠)</option><option value="J">J (跳站)</option><option value="P">P (良品)</option><option value="R">R (退鎳)</option><option value="RC">RC (退硬膜)</option><option value="S">S (報廢)</option><option value="TS">TS (暫時報廢)</option><option value="W">W (特採)</option></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtEmail@(itemName)">下站站別<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select id="cboNextProcess" name="cboNextProcess" class="form-control" required="" data-msg-required="請選擇下站站別"><option value="">--請選擇站別--</option><option value="-1">A0_N/A</option><option value="12">A5_鎳</option><option value="13">A5_退鎳</option><option value="22">A5_精銑</option><option value="29">A5_精車</option><option value="43">A0_QA檢</option><option value="44">A0_洗淨</option><option value="45">A0_倉庫</option><option value="181">A5_退硬膜</option><option value="901">A0_維修</option></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtEmail@(itemName)">狀態<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select id="cboStatusNoPop" name="cboStatusNoPop" class="form-control" required="" data-msg-required="請選擇狀態"><option value="">--請選擇狀態--</option><option value="A">ACTIVE</option><option value="S">STOP</option></select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemName)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemName)()" style="display: none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
@<script>
    function Pop@(itemName)() {
        $("#modal@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });
    }

    function Edit@(itemName)(ContactId) {
        $("#ContactId").val(ContactId ? ContactId : 0);
        Switch("#editData@(itemName), .edit-mode", "#listData@(itemName), .list-mode");
    }

    function Return@(itemName)() {
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
           
    }

    function Close@(itemName)() {
        $("#modal@(itemName)").modal("hide");
    }

    //規則-刪除
    function Delete@(itemName)(){
            swal({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                closeOnClickOutside: false,
            }).then((pass) => {
                if (pass) {
                    let targetUrl = "@Url.Action("DeleteShift", "BasicInformation")";
                    let postData = {
                        "ShiftId": ShiftId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
    }
</script>
)