WEB/Business Manager/.vs/Business Manager
WEB/Business Manager/packages
WEB/Business Manager/Business Manager/bin
WEB/Business Manager/Business Manager/obj
DA/BASDA/obj
DA/BPMDA/obj/Debug
DA/EBPDA/obj/Debug
DA/EIPDA/obj/Debug
DA/FINDA/obj/Debug
DA/HRMDA/obj
DA/IMDA/obj
DA/IOTDA/obj/Debug
DA/MAMODA/obj/Debug
DA/MESDA/obj/Debug
DA/MRPDA/obj/Debug
DA/PDMDA/obj/Debug
DA/PMISDA/obj/Debug
DA/QMSDA/obj/Debug
DA/SCMDA/obj/Debug
DA/SSODA/obj/Debug
WEB/Business Manager/.vs/Business Manager/FileContentIndex
WEB/Business Manager/Business Manager/obj/Debug
WEB/Business Manager/.vs
WEB/Helpers/obj
