WEB/Business Manager/.vs/Business Manager
WEB/Business Manager/packages
WEB/Business Manager/Business Manager/bin
WEB/Business Manager/Business Manager/obj
DA/BASDA/obj
DA/BPMDA/obj/Debug
DA/EBPDA/obj/Debug
DA/EIPDA/obj/Debug
DA/FINDA/obj/Debug
DA/HRMDA/obj
DA/IMDA/obj
DA/IOTDA/obj/Debug
DA/MAMODA/obj/Debug
DA/MESDA/obj/Debug
DA/MRPDA/obj/Debug
DA/PDMDA/obj/Debug
DA/PMISDA/obj/Debug
DA/QMSDA/obj/Debug
DA/SCMDA/obj/Debug
DA/SSODA/obj/Debug
WEB/Business Manager/.vs/Business Manager/FileContentIndex
WEB/Business Manager/Business Manager/obj/Debug
WEB/Business Manager/.vs
WEB/Helpers/obj
DA/BASDA/bin
DA/BPMDA/.vs
DA/BPMDA/bin
DA/BASDA/.vs
DA/EBPDA/.vs
DA/EBPDA/bin
DA/EIPDA/.vs
DA/EIPDA/bin
DA/FINDA/.vs
DA/FINDA/bin
DA/HRMDA/.vs
DA/HRMDA/bin
DA/IMDA/.vs
DA/IMDA/bin
DA/IOTDA/.vs
DA/IOTDA/bin
DA/MAMODA/.vs
DA/MAMODA/bin
DA/MESDA/.vs
DA/MESDA/bin
DA/MRPDA/.vs
DA/MRPDA/bin
DA/PDMDA/.vs
DA/PDMDA/bin
DA/PMISDA/.vs
DA/PMISDA/bin
DA/QMSDA/.vs
DA/QMSDA/bin
DA/SCMDA/.vs
DA/SCMDA/bin
DA/SSODA/.vs
DA/SSODA/bin
WEB/Business Manager/Business Manager/.vs
WEB/Business Manager/Business Manager/bin
WEB/Business Manager/Business Manager/app.config
WEB/Business Manager/Business Manager/Business Manager.csproj
WEB/Business Manager/Business Manager/Business Manager.csproj.user
WEB/Business Manager/Business Manager/packages.config
WEB/Business Manager/Business Manager/Web.config
WEB/Helpers/.vs
WEB/Helpers/bin
