@using Business_Manager.Helpers
@{
    string itemNameText = "聊天室";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="overlay"></div>
<div class="wrapper">
    <div class="content">
        <!--左側list-->
        <div class="content-list ">
            <div class="content-main">
                <div class="selfname-block">
                    <a href="#" class="selfname-block-list">
                        <div class="selfname-block-list-img">
                            <img src="https://picsum.photos/id/64/50/50" />
                        </div>
                        <div class="selfname-block-name">
                            <h1>系統開發室 陳美美</h1>
                            <h2>分機：6666</h2>
                        </div>
                    </a>


                    <div class="selfname-set dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-cog set-icon"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item profile-link" href="javascript:void(0);">個人檔案</a>
                            <a class="dropdown-item goto-account" href="javascript:void(0);">我的帳戶</a>
                            <a class="dropdown-item" href="#">登出</a>
                        </div>
                    </div>
                </div>
                <div class="frame tab-content">
                    <div class="tab-block" style="">
                        <a class="tab active" href="/Chat/ChatList">
                            <i class="fas fa-comment"></i>
                            聊天室
                        </a>
                        <a class="tab " href="/Chat/FriendList">
                            <i class="fas fa-user-friends"></i>好友
                        </a>
                    </div>
                </div>
                <div class="frame row" style="margin-right: 0;margin-left: 0;">
                    <div class="search-block col-8 col-md-8 col-lg-8 ">
                        <label class=" " style="outline:0;display:block;margin:0;">
                            <input type="text" class="form-control" name="" placeholder="搜尋" />
                        </label>
                    </div>
                    <div class="arrange-block col-4 col-md-4 col-lg-4">
                        <div class="dropdown">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="padding:0.375rem 1.5rem">
                                排序
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">部門</a>
                                <a class="dropdown-item" href="#">狀態</a>
                                <a class="dropdown-item" href="#">筆劃</a>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
            <div class="chatlist">
                <ul id="chat-nav">
                    <li>
                        <a href="#" class="chat-nav-list chat-nav-list-01">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/65/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        網管資安室 林君君
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">36</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list chat-nav-list-02">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/91/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 謝雷
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list chat-nav-list-03">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/70/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        專案管理室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/129/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 李小龍
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">2</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/129/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 許富凱
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">2</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/129/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 林宥嘉
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">2</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 阿信
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 蔡依林
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="chat-nav-list">
                            <div class="chat-nav-list-person">
                                <div class="chat-nav-list-img">
                                    <img src="https://picsum.photos/id/103/50/50" />
                                </div>
                                <div>
                                    <h2>
                                        系統開發室 陳美美
                                    </h2>
                                    <p>好的，麻煩你了，謝謝！</p>
                                </div>
                            </div>

                            <div class="chat-nav-list-status">
                                <div class="last-time">上午12:00</div>
                                <div class="unread">236</div>
                            </div>
                        </a>
                    </li>


                </ul>



            </div>
        </div>
        <!--右側聊天視窗-->
        <div class="content-window">
            <div class="chat-modal chat-01">
                <div href="#" class="chat-title">
                    <div class="chat-title-first">
                        <a href="#" class="back-link">
                            <i class="fas fa-long-arrow-left icon"></i>

                        </a>
                        <a class="chat-person">
                            <div class="chat-img">
                                <img src="https://picsum.photos/id/65/50/50" />
                            </div>
                            <h1>網管資安室 林君君</h1>
                        </a>
                    </div>
                    <div class="chat-function">
                        <a href="javascript:void(0);" class="search-link">
                            <i class="fas fa-search icon"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-phone-alt icon"></i>
                        </a>

                        <div class="chat-more">
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v icon">  </i>
                                </button>
                                <div class="dropdown-menu  dropdown-menu-right">
                                    <a class="dropdown-item invite-friend" href="javascript:void(0);">邀請好友</a>
                                    <a class="dropdown-item" href="#">加入常用聯絡人</a>
                                </div>
                            </div>

                        </div>




                    </div>
                    <div class="search-message">
                        <div class="search-block ">
                            <label class="search-label" style="outline:0;display:block;margin:0;">
                                <input type="text" class="form-control" name="" placeholder="搜尋" />
                            </label>
                        </div>
                        <div class="">
                            <a class="close-search-message" style="">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="chat-content" style="">
                    <div class="chat-block">
                        <div class="chat-block-each left">
                            <div style="">
                                <div class="chat-img">
                                    <img src="https://picsum.photos/id/65/50/50" />
                                </div>



                            </div>
                            <div class="chat-meg" style="width:80%;">
                                <h2>網管資安室 林君君</h2>
                                <div class="message-block">
                                    <div class="message">早安！記得分享檔案到群組喔！</div>
                                    <div class="time">
                                        <span>上午9:00</span>
                                    </div>

                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="chat-block clearfix">
                        <div class="chat-block-each right" style="">

                            <div class="chat-meg" style="width:80%;">
                                <div class="message-block">
                                    <div class="message">昨天請你傳給的檔案記得傳給我喔！</div>
                                    <div class="remark">
                                        <div class="read">
                                            <span>已讀</span>
                                        </div>
                                        <div class="time">
                                            <span>上午9:00</span>
                                        </div>

                                    </div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>

                                    <div>
                                        <div class="read">
                                            <span></span>
                                        </div>
                                        <div class="time">
                                            <span>上午9:00</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="chat-block clearfix">
                        <div class="chat-block-each right" style="">

                            <div class="chat-meg" style="width:80%;">
                                <div class="message-block">

                                    <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>



                                </div>

                            </div>
                        </div>
                    </div>





                </div>
                <div class="meg-content">
                    <div class="up-block">


                        <textarea class="text-block" id="textarea" placeholder="輸入訊息..."></textarea>
                    </div>
                    <div class="down-block">
                        <div class="send-block">
                            <a href="#">
                                <i class="far fa-smile blue-icon"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-paperclip blue-icon"></i>
                            </a>


                        </div>
                        <a href="#" class="btn-send">送出</a>
                    </div>
                </div>

            </div>

            <div class="chat-modal chat-02">
                <div href="#" class="chat-title">
                    <div class="chat-title-first">
                        <a href="#" class="back-link">
                            <i class="far fa-long-arrow-left icon"></i>
                        </a>
                        <a class="chat-person">
                            <div class="chat-img">
                                <img src="https://picsum.photos/id/91/50/50" />
                            </div>
                            <h1>系統開發室 謝雷</h1>
                        </a>
                    </div>
                    <div class="chat-function">
                        <a href="#">
                            <i class="fas fa-search icon"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-phone-alt icon"></i>
                        </a>

                        <div class="chat-more">
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v icon">  </i>
                                </button>
                                <div class="dropdown-menu  dropdown-menu-right">
                                    <a class="dropdown-item invite-friend" href="javascript:void(0);">邀請好友</a>
                                    <a class="dropdown-item" href="#">加入常用聯絡人</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="chat-content" style="">
                    <div class="chat-block">
                        <div class="chat-block-each left">
                            <div class="chat-img">
                                <img src="https://picsum.photos/id/91/50/50" />
                            </div>
                            <div class="chat-meg" style="width:80%;">
                                <h2>系統開發室 謝雷</h2>
                                <div class="message-block">
                                    <div class="message">用linq超簡單快速的</div>
                                    <div class="time"><span>上午9:00</span></div>

                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="chat-block clearfix">
                        <div class="chat-block-each right" style="">

                            <div class="chat-meg" style="width:80%;">
                                <div class="message-block">

                                    <div class="message">我也來試看看用linq</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="chat-block clearfix">
                        <div class="chat-block-each right" style="">

                            <div class="chat-meg" style="width:80%;">
                                <div class="message-block">

                                    <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>



                                </div>

                            </div>
                        </div>
                    </div>





                </div>
                <div class="meg-content">
                    <div class="up-block">


                        <textarea class="text-block" id="textarea" placeholder="輸入訊息..."></textarea>
                    </div>
                    <div class="down-block">
                        <div class="send-block">
                            <a href="#">
                                <i class="far fa-smile blue-icon"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-paperclip blue-icon"></i>
                            </a>


                        </div>
                        <a href="#" class="btn-send">送出</a>
                    </div>
                </div>

            </div>
            <div class="chat-modal chat-03">
                <div href="#" class="chat-title">
                    <a class="chat-person">
                        <div class="chat-img">
                            <img src="https://picsum.photos/id/70/50/50" />
                        </div>
                        <h1>專案管理室 陳美美</h1>
                    </a>

                    <div class="chat-function">
                        <a href="#">
                            <i class="fas fa-search icon"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-phone-alt icon"></i>
                        </a>

                        <div class="chat-more">
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v icon">  </i>
                                </button>
                                <div class="dropdown-menu  dropdown-menu-right">
                                    <a class="dropdown-item invite-friend" href="javascript:void(0);">邀請好友</a>
                                    <a class="dropdown-item" href="#">加入常用聯絡人</a>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>

                <div class="chat-content" style="">
                    <div class="chat-block">
                        <div class="chat-block-each left">
                            <div class="chat-img">

                                <img src="https://picsum.photos/id/70/50/50" />


                            </div>
                            <div class="chat-meg" style="width:80%;">
                                <h2>專案管理室 陳美美</h2>
                                <div class="message-block">
                                    <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                    <div class="time"><span>上午9:00</span></div>

                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="chat-block clearfix">
                        <div class="chat-block-each right" style="">

                            <div class="chat-meg" style="width:80%;">
                                <div class="message-block">

                                    <div class="message">昨天請你傳給的檔案記得傳給我喔！</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="chat-block clearfix">
                        <div class="chat-block-each right" style="">

                            <div class="chat-meg" style="width:80%;">
                                <div class="message-block">

                                    <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>


                                </div>
                                <div class="message-block">
                                    <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                    <div class="time"><span>上午9:00</span></div>



                                </div>

                            </div>
                        </div>
                    </div>





                </div>
                <div class="meg-content">
                    <div class="up-block">


                        <textarea class="text-block" id="textarea" placeholder="輸入訊息..."></textarea>
                    </div>
                    <div class="down-block">
                        <div class="send-block">
                            <a href="#">
                                <i class="far fa-smile blue-icon"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-paperclip blue-icon"></i>
                            </a>


                        </div>
                        <a href="#" class="btn-send">送出</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="popwindow" style="">
    <div class="pop-modal invite-step-1">
        <div class="modal-header" style="">
            <a class="close-link" href="javascript:void(0);">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h2 class="modal-title">邀請-已選(1)</h2>
            <a class="modal-title next-link" style="">下一步</a>

        </div>
        <div class="modal-body">
            <!--1點選邀請人-->
            <div class="invite-page1">
                <div class="search-block col-12 col-md-12 col-lg-12 ">
                    <label class="gray" style="outline:0;display:block;margin:0;">
                        <input type="text" class="form-control" name="" placeholder="搜尋" />
                    </label>
                </div>
                <div class="invited-list">
                    <a class="invited-man">
                        <div class="cancel" style=""></div>
                        <div class="chat-img">
                            <img src="https://picsum.photos/id/65/50/50" />
                        </div>
                        <p class="name">系統開發室-陳美美</p>
                    </a>
                    <a class="invited-man">
                        <div class="cancel" style=""></div>
                        <div class="chat-img">
                            <img src="https://picsum.photos/id/61/50/50" />
                        </div>
                        <p class="name">系統開發室-楊丞琳</p>
                    </a>
                </div>
                <div class="invite-manlist">
                    <ul id="sort-nav">
                        <li>
                            <a href="#" class="sort-alink">
                                <div>
                                    <i class="fas fa-comment-alt-dots"></i>
                                    <span>中揚光電/研發處</span>
                                    <span>(36)</span>
                                </div>
                            </a>
                            <ul class="group-nav">
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check03">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/65/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 張曉華</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check03" class="cb-element" checked />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check04">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/61/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 吳磊</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check04" class="cb-element" checked />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/63/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/55/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/56/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>

                            </ul>


                        </li>
                        <li>
                            <a href="#" class="sort-alink">
                                <div>
                                    <i class="fas fa-comment-alt-dots"></i>
                                    <span>中揚光電/法務處</span>
                                    <span>(6)</span>
                                </div>

                            </a>
                            <ul class="group-nav">
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/65/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/61/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳曉東</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check03">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/63/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 趙露思</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check03" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="chec04">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/55/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 李大天</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check04" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="check05">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/56/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 余天</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="check05" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>

                            </ul>


                        </li>
                        <li>
                            <a href="#" class="sort-alink">
                                <div>
                                    <i class="fas fa-comment-alt-dots"></i>
                                    <span>中揚光電/業務處</span>
                                    <span>(9)</span>
                                </div>

                            </a>
                            <ul class="group-nav">
                                <li>
                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/65/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/61/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/63/100/100" />
                                                </span>
                                                <span class="h4">系統開發室 吳大發</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/55/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>
                                <li>

                                    <!--label-->
                                    <div class="item-name distance">
                                        <label class="res-control res-control-checkbox" for="checkAll02">
                                            <span class="group-nav-list-person">
                                                <span class="group-nav-list-img">
                                                    <img src="https://picsum.photos/id/56/50/50" />
                                                </span>
                                                <span class="h4">系統開發室 陳美美</span>
                                            </span>
                                        </label>
                                        <input type="checkbox" id="checkAll02" class="cb-element" />
                                        <span class="res-control-indicator"></span>
                                    </div>
                                </li>

                            </ul>


                        </li>
                    </ul>



                </div>

            </div>


        </div>

    </div>
    <div class="pop-modal invite-step-2">
        <div class="modal-header" style="">
            <a class="close-link" href="javascript:void(0);">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h2 class="modal-title">設定群組檔案</h2>
            <a class="modal-title next-link" style="">下一步</a>
        </div>
        <div class="modal-body">
            <!--2輸入群組名稱-->
            <div class="invite-ed-page">
                <div class="group-info">
                    <div class="group-info-top">
                        <a class="group-pic">
                            <div class="upload-camara" style=""></div>
                            <div class="chat-img">
                                <img src="https://picsum.photos/id/65/130/130" />
                            </div>
                        </a>
                    </div>



                    <div class="input-block col-12 col-md-12 col-lg-12 ">

                        <label class="camara" style="outline:0;display:block;margin:0;">
                            <input type="text" class="form-control" name="" placeholder="輸入群組名稱" />
                        </label>

                    </div>


                </div>

                <div class="invite-ed-manlist">


                    <ul class="ed-nav">
                        <li>
                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="check01">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/65/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="check01" class="cb-element" checked />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>

                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/61/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 楊丞琳</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" checked />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>

                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/63/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>

                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/55/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>
                        <li>

                            <!--label-->
                            <div class="item-name distance">
                                <label class="res-control res-control-checkbox" for="checkAll02">
                                    <span class="group-nav-list-person">
                                        <span class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/56/50/50" />
                                        </span>
                                        <span class="h4">系統開發室 陳美美</span>
                                    </span>
                                </label>
                                <input type="checkbox" id="checkAll02" class="cb-element" />
                                <span class="res-control-indicator"></span>
                            </div>
                        </li>

                    </ul>




                </div>
            </div>

        </div>

    </div>

    <!--彈窗-個人檔案-->
    <div class="pop-modal profile-modal">
        <div class="modal-header">
            <a class="close-link">

                <i class="fas fa-long-arrow-left"></i>


            </a>
            <h5 class="modal-title">個人檔案</h5>
            <a class="modal-title next-link" style="opacity:0">
                <i class="fas fa-times"></i>
            </a>
        </div>


        <div class="profile-page">
            <div class="profile-top">
                <a class="profile-pic">
                    <div class="upload-camara" style=""></div>
                    <div class="chat-img">
                        <img src="https://picsum.photos/id/65/130/130" />
                    </div>
                </a>

                <span class="name">系統開發室 張曉華</span>

            </div>
            <div class="profile-bottom">
                <p class="info">
                    <span class="info-title">部門</span>
                    <span class="info-content">中揚光電 研發處</span>
                </p>
                <p class="info">
                    <span class="info-title">工號</span>
                    <span class="info-content">ZY01066</span>
                </p>
                <p class="info" style="border:none;">
                    <a class="info-link goto-account">我的帳戶</a>
                </p>
            </div>

        </div>



    </div>
    <!--彈窗-我的帳戶-->
    <div class="pop-modal account-modal">
        <div class="modal-header">
            <a class="close-b close-link" id="account-back-link">
                <i class="fas fa-long-arrow-left"></i>
            </a>
            <h2 class="modal-title">我的帳戶</h2>
            <a class="modal-title next-link" style="">
                <i class="fas fa-times"></i>
            </a>

        </div>


        <div class="profile-page">
            <div class="profile-bottom">
                <p class="info">
                    <label for="test">
                        <span class="info-title">原來密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入原來密碼">
                    </span>
                </p>
                <p class="info">
                    <label for="test">
                        <span class="info-title">修改密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入新密碼">
                    </span>
                </p>
                <p class="info">
                    <label for="test">
                        <span class="info-title">確認密碼</span>
                    </label>
                    <span class="inline-input">
                        <input type="text" class="form-control pw" name="" placeholder="請輸入新密碼">
                    </span>
                </p>
                <p class="info save-close" style="border:none;">
                    <a class="info-link save-close">儲存並關閉</a>
                </p>

            </div>






        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            $(".invite-friend").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block');//打開彈窗外框
                $('.pop-modal').hide();//先關閉所有彈窗
                $('.invite-step-1').show();
            });

            $(".profile-link").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block');//打開彈窗外框
                $('.pop-modal').hide();//先關閉所有彈窗
                $('.profile-modal').show();
            });

            $(".close-link").on("click", function (e) {
                if ($(this).parents().hasClass("invite-step-1")) {
                    ClosePop();
                }

                if ($(this).parents().hasClass("invite-step-2")) {
                    $('.pop-modal').hide();//先關閉所有彈窗
                    $('.invite-step-1').show();
                }
                if ($(this).parents().hasClass("profile-modal")) {
                    ClosePop();
                }
                if ($(this).parents().hasClass("account-modal")) {
                    $('.pop-modal').hide();//先關閉所有彈窗
                    $('.profile-modal').show();
                }
            });

            $(".next-link").on("click", function (e) {
                if ($(this).parents().hasClass("invite-step-1")) {
                    $('.pop-modal').hide();
                    $('.invite-step-2').show();
                }

                if ($(this).parents().hasClass("invite-step-2")) {
                    ClosePop();

                }
                if ($(this).parents().hasClass("account-modal")) {
                    ClosePop();

                }
            });

            $(".save-close").on("click", function (e) {

                if ($(this).parents().hasClass("account-modal")) {
                    ClosePop();

                }
            });

            $(".goto-account").on("click", function (e) {
                $('.overlay').show();
                $('.popwindow').addClass('d-block');//打開彈窗外框
                $('.pop-modal').hide();//先關閉所有彈窗
                $('.account-modal').show();

            });

            $("body").off("click").on("click", function (e) {
                if ($('.popwindow').hasClass("d-block")) {//狀況：當彈窗開啟時
                    console.log($(e.target));
                    if (!$(e.target).parents().hasClass("pop-modal")//條件：我點擊的地方不是彈窗
                        && !$(e.target).hasClass("invite-friend")//條件
                        && !$(e.target).hasClass("profile-link")
                        && !$(e.target).hasClass("goto-account"))//條件

                    {
                        ClosePop();//動作：我就關閉
                    }
                }
            });

            $(".chat-nav li > a").on("click", function (e) {
                $(this).addClass('active');

            });


            //點擊左側開啟聊天視窗
            $('.content-window > .chat-modal').first().show();//第一個會先打開

            $(".chat-nav-list-01").on("click", function (e) {
                $('.content-window').addClass('d-block');//打開外框
                $('.chat-modal').hide();//先關閉所有窗
                $('.chat-01').show();
            });

            $(".chat-nav-list-02").on("click", function (e) {
                $('.content-window').addClass('d-block');//打開外框
                $('.chat-modal').hide();//先關閉所有彈窗
                $('.chat-02').show();
            });
            $(".chat-nav-list-03").on("click", function (e) {
                $('.content-window').addClass('d-block');//打開外框
                $('.chat-modal').hide();//先關閉所有彈窗
                $('.chat-03').show();
            });


            $(".back-link").on("click", function (e) {
                $('.content-window').removeClass('d-block');//關閉
            });

            //左邊點選後呈active
            $('#chat-nav li').first().find("a").addClass("active");

            $('#chat-nav li > a').click(function () {
                if ($(this).parent("li").attr('class') != 'active') {

                    $('#chat-nav li a').removeClass('active');
                    $(this).addClass('active');
                }
            });

            //搜尋訊息框
            $(".chat-function > .search-link").on("click", function (e) {
                $('.search-message').addClass('d-inline-flex');//打開

            });
            $(".close-search-message").on("click", function (e) {
                $('.search-message').removeClass('d-inline-flex');//關閉
            });
        });

        function ClosePop() {
            $('.overlay').hide();
            $('.popwindow').removeClass('d-block');
        }

    </script>
)
