@using Business_Manager.Helpers
@{
    string itemNameText = "聊天室";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .content {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    </style>
)

<div class="wrapper">
    <div class="content">
        <div class="content-list">
            <div class="content-main">
                <div class="selfname-block">
                    <a href="#" class="selfname-block-list">
                        <div class="selfname-block-list-img">
                            <img src="https://picsum.photos/id/64/50/50" />
                        </div>
                        <div class="selfname-block-name">
                            <h1>系統開發室 陳美美</h1>
                            <h2>分機：6666</h2>
                        </div>
                    </a>
                    <div class="selfname-set dropdown">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-cog set-icon"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">個人檔案</a>
                            <a class="dropdown-item" href="#">我的帳號</a>
                            <a class="dropdown-item" href="#">登出</a>
                        </div>
                    </div>
                </div>
                <div class="frame tab-content">
                    <div class="tab-block" style="">
                        <a class="tab " href="/Chat/ChatList">
                            <i class="fas fa-comment"></i>
                            聊天室
                        </a>
                        <a class="tab active" href="/Chat/FriendList">
                            <i class="fas fa-user-friends"></i>好友
                        </a>
                    </div>
                </div>
                <div class="frame row" style="margin-right: 0;margin-left: 0;">
                    <div class="search-block col-8 col-md-8 col-lg-8 ">
                        <label class=" " style="outline:0;display:block;margin:0;">
                            <input type="text" class="form-control" name="" placeholder="搜尋" />
                        </label>
                    </div>
                    <div class="arrange-block col-4 col-md-4 col-lg-4">
                        <select class="form-control" style="outline:0">
                            <option value="0">排序</option>
                            <option value="1" selected>部門</option>
                            <option value="2">BMW</option>
                            <option value="3">Citroen</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="manlist">
                <ul id="sort-nav">
                    <li>
                        <a href="#" class="sort-alink">
                            <div>
                                <i class="fas fa-comment-alt-dots"></i>
                                <span>中揚光電/研發處</span>
                                <span>(36)</span>
                            </div>
                            <i class="fas fa-caret-down drop-icon"></i>
                        </a>
                        <ul class="group-nav">
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/65/50/50" />
                                        </div>
                                        <h6>系統開發室 陳美美</h6>
                                    </div>
                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/61/50/50" />
                                        </div>
                                        <h6>系統開發室 陳大天</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/66/50/50" />
                                        </div>
                                        <h6>系統開發室 張曉明</h6>
                                    </div>

                                    <div class="group-nav-list-status online">  </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="sort-alink">
                            <div>
                                <i class="fas fa-comment-alt-dots"></i>
                                <span>中揚光電/法務處</span>
                                <span>(6)</span>
                            </div>
                            <i class="fas fa-caret-down drop-icon"></i>

                        </a>
                        <ul class="group-nav">
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/65/50/50" />
                                        </div>
                                        <h6>系統開發室 陳美美</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/61/50/50" />
                                        </div>
                                        <h6>系統開發室 陳大天</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/66/50/50" />
                                        </div>
                                        <h6>系統開發室 張曉明</h6>
                                    </div>

                                    <div class="group-nav-list-status online">  </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="sort-alink">
                            <div>
                                <i class="fas fa-comment-alt-dots"></i>
                                <span>中揚光電/業務處</span>
                                <span>(9)</span>
                            </div>
                            <i class="fas fa-caret-down drop-icon"></i>

                        </a>
                        <ul class="group-nav">
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/550/50/50" />
                                        </div>
                                        <h6>系統開發室 陳美美</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/433/50/50" />
                                        </div>
                                        <h6>系統開發室 陳大天</h6>
                                    </div>

                                    <div class="group-nav-list-status">  </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="group-nav-list">
                                    <div class="group-nav-list-person">
                                        <div class="group-nav-list-img">
                                            <img src="https://picsum.photos/id/129/50/50" />
                                        </div>
                                        <h6>系統開發室 張曉明</h6>
                                    </div>

                                    <div class="group-nav-list-status online">  </div>
                                </a>
                            </li>
                        </ul>


                    </li>
                </ul>



            </div>
        </div>
        <!--右側聊天視窗-->
        <div class="content-window">

            <div href="#" class="chat-title">
                <a class="chat-person">
                    <div class="chat-img">
                        <img src="https://picsum.photos/id/65/50/50" />
                    </div>
                    <h1>人工智慧研發部 李子傑</h1>
                </a>

                <div class="chat-function">
                    <a href="#">
                        <i class="fas fa-phone-alt icon"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-info-circle icon"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-ellipsis-v icon"></i>
                    </a>


                </div>
            </div>

            <div class="chat-content" style="">
                <div class="chat-block">
                    <div class="chat-block-each left">
                        <div class="chat-img">

                            <img src="https://picsum.photos/id/65/50/50" />


                        </div>
                        <div class="chat-meg" style="width:80%;">
                            <h3>人工智慧研發部 李子傑</h3>
                            <div class="message-block">
                                <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                <div class="time"><span>上午9:00</span></div>

                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="chat-block clearfix">
                    <div class="chat-block-each right" style="">

                        <div class="chat-meg" style="width:80%;">
                            <div class="message-block">

                                <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                <div class="time"><span>上午9:00</span></div>


                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="chat-block clearfix">
                    <div class="chat-block-each right" style="">

                        <div class="chat-meg" style="width:80%;">
                            <div class="message-block">

                                <div class="message">昨天請你傳給的檔案記得傳給我喔！不然的話我這邊會幫你打一個叉叉。</div>
                                <div class="time"><span>上午9:00</span></div>


                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>


                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>


                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>


                            </div>
                            <div class="message-block">
                                <div class="message">12312312313212312312121231231231321231231231231231321231231231231231321231231231231231321231231231231231321231231231231231321231233</div>
                                <div class="time"><span>上午9:00</span></div>



                            </div>

                        </div>
                    </div>
                </div>





            </div>
            <div class="meg-content">
                <div class="up-block">


                    <textarea class="text-block" id="textarea" placeholder="輸入訊息..."></textarea>
                </div>
                <div class="down-block">
                    <div class="send-block">
                        <a href="#">
                            <i class="far fa-smile blue-icon"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip blue-icon"></i>
                        </a>


                    </div>
                    <a href="#" class="btn-send">送出</a>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            $('#sort-nav li').first().addClass("active").find('ul').show();
            $('#sort-nav li').first().find("a > i").addClass("active");
            $('#sort-nav li').first().find("a.sort-alink").addClass("active");

            $('#sort-nav > li > a').click(function () {
                if ($(this).parent("li").attr('class') != 'active') {
                    $('#sort-nav li ul').slideUp();
                    $('#sort-nav li a i').removeClass('active');
                    $('#sort-nav li').removeClass('active');
                    $('#sort-nav li a').removeClass('active');

                    //$(this).next().slideToggle();

                    $(this).parent("li").addClass('active');
                    $(this).addClass('active');
                    $(this).find("i").addClass('active');
                    $(this).next().slideDown();

                }
            });

            //$('#sort-nav li').first().find("a").trigger("click");
        });
    </script>
)