@using Business_Manager.Helpers
@{
    string itemNameText = "聊天室";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>

    </style>
)

     <div class="body-bg">
         <div class="login-content" style="">
             <div class="login-block">
                 <div class="logo">
                     <img src="@Url.Content("~/Content/images/logo-chat.png")" />
                 </div>
                 <div class="login-form">
                     <form autocomplete="off" method="post">
                         <div class="form-group row">
                             <div class="col-12 mb-2">
                                 <label class="login-account">
                                     <input type="text" class="form-control" id="" name="" placeholder="請輸入帳號" />
                                 </label>
                             </div>
                         </div>
                         <div class="form-group row">
                             <div class="col-12 mb-3">
                                 <label class="login-key">

                                     <input type="text" class="form-control" name="" placeholder="請輸入密碼" />
                                 </label>
                             </div>
                         </div>
                     </form>

                     <div class="login-form-box"  >
                         <input type="checkbox" id="check01" />
                         <span class="res-control-indicator"></span>
                         <label class="res-control res-control-checkbox" for="check01">
                             記住帳密
                         </label>
                         <a href="#" class="forget-link" style="">忘記密碼?</a>


                     </div>
                   

                     <a class="link-btn mt-4 " href="/Chat/ChatList">登入</a>
                 </div>
             </div>
         </div>
     </div>

@Html.Resource("js",
    @<script>
    </script>
)