@using Business_Manager.Helpers
@{
    string itemName = "KeyenceTest";
    string itemNameText = "Keyence測試";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtInputText@(itemName)">輸入字串</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtInputText@(itemName)" name="txtInputText@(itemName)" placeholder="請輸入輸入字串" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Execute@(itemName)()"><i class="fas fa-save"></i>執行</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
        });

        function Execute@(itemName)() {
            let targetUrl = "@Url.Action("KeyenceScan", "SystemSetting")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $("#txtInputText@(itemName)").val(data.result);
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    </script>
)