@using Business_Manager.Helpers
@{
    string itemName = "RdWorkBom";
    string parentItemName = "RdWorkPlatform";
    string itemNameText = "產品結構";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .title-row {
             display: flex;
             align-items: center;
             justify-content: space-between;
             margin-bottom: 0.5rem;
         }

         .subject-content {
             font-size: 1rem;
         }

             .subject-content p {
                 margin-bottom: 0.25rem;
             }

         .SubjectContentRdWorkBom .card .card-header {
             background: #eddeff;
         }

         .ComponentContentRdWorkBom .card .card-header {
             background: #cae8ff;
         }


         fieldset.scheduler-border {
             padding: 0 1.4em 1.4em 1.4em !important;
             margin: 0 0 1.5em 0 !important;
             border: solid 1px #a768f3 !important;
             border-radius: 5px;
         }

         legend.scheduler-border {
             font-size: 1.2rem !important;
             font-weight: bold !important;
             width: auto;
             padding: 0 10px;
             color: #a768f3;
         }

         fieldset.scheduler-border2 {
             padding: 0 1.4em 1.4em 1.4em !important;
             margin: 0 0 1.5em 0 !important;
             border: solid 1px #36a2f5 !important;
             border-radius: 5px;
         }

         legend.scheduler-border2 {
             font-size: 1.2rem !important;
             font-weight: bold !important;
             width: auto;
             padding: 0 10px;
             color: #36a2f5;
         }

         .help-block span {
             display: block;
         }

        .BomTree {
            /*width: 90%;*/
            /*margin: 20px auto;*/
            min-height: 20px;
            padding: 3px;
            margin-bottom: 20px;
            /*border: 1px solid #ccc;*/
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
        }

            .BomTree ul {
                padding: 0 0 0 2em;
            }

            .BomTree li {
                padding: .6em 0 0 1px;
                margin: 0;
                list-style-type: none;
                position: relative;
                /*margin-left: 50px;*/
            }

                .BomTree li::before, .BomTree li::after {
                    content: '';
                    left: -39px;
                    position: absolute;
                }

                .BomTree li::before {
                    border-left: 1px dotted #999;
                    top: -16px;
                    height: 100%;
                }

                .BomTree li::after {
                    border-top: 1px dotted #999;
                    top: 1.4em;
                    width: 16px;
                }

                .BomTree li > span,
                .BomTree li > input {
                    line-height: 2.6em;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    border: 1px solid #bbb;
                    display: inline-block;
                    padding: 0 30px 0 8px;
                    text-decoration: none
                }

                .BomTree li.self_li > span,
                .BomTree li.self_li > input {
                    cursor: pointer
                }

                .BomTree li > .input-group {
                    width: 100%;
                }

            .BomTree > ul > li::before, .BomTree > ul > li::after {
                border: 0
            }

            .BomTree li:last-child::before {
                height: 2.5em
            }

            .BomTree li.self_li > span:hover, .BomTree li.self_li > span:hover + ul li span,
            .BomTree li.self_li > input:hover, .BomTree li.self_li > input:hover + ul li input {
                background: #D3F0D2;
                border: 1px solid #5FA196;
                color: #000
            }

            .BomTree li:hover > span,
            .BomTree li:hover > input {
                background: #D8EBF0;
                border: 1px solid #2764C8;
            }

            .BomTree form {
                display: inline;
            }

             /*.BomTree input[type=text] {
                 line-height: 22px;
                 font-size: 15px;
                 background-color: rgba(255,255,255,0.3);
                 border: none;
             }

                 .BomTree input[type=text]:hover {
                     background-color: #FFF;
                     border: none;
                 }*/

        .modal.show .modal-dialog {
            transform: translateY(50px);
            /* 等於 transform: none;*/
        }

        .modal.fade .modal-dialog {
            transition: transform .3s ease-out;
        }

        .fade {
            transition: opacity .15s linear;
        }
    </style>
)

<div class="row">
    <div class="col-6">
        <div class="card card-shadow">
            <div class="card-body">
                <h5><i class="fas fa-edit"></i>結構編輯</h5>
                <div class="erpTree">
                <ul class="tree">

    <li>
        Active Life

        <ul>
            <li>
                Disc Golf
            </li>
            <li>

            </li>
            <li>
                123
            </li>

            <li>
                Diving

                <ul>
                    <li>
                        Free Diving
                    </li>

                    <li>
                        Scuba Diving
                    </li>
                </ul>
            </li>

            <li>
                Fishing
            </li>

            <li>
                Fitness &amp; Instruction

                <ul>
                    <li>
                        Pilates
                    </li>

                    <li>
                        Swimming Lessons/Schools

                        <ul>
                            <li>
                                Free Diving
                            </li>

                            <li>
                                Scuba Diving
                            </li>
                        </ul>
                    </li>

                    <li>
                        Tai Chi (taichi, All)
                    </li>

                    <li>
                        Trainers (healthtrainers, All)
                    </li>

                    <li>
                        Yoga (yoga, All)
                    </li>

                </ul>
            </li>

            <li>
                Flyboarding (flyboarding, All)
            </li>

            <li>
                Zorbing (zorbing, [NZ, PT])
            </li>

        </ul>
    </li>



</ul></div>
                
               
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-shadow">
            <div class="card-body">
                <h5><i class="fas fa-edit"></i>結構編輯</h5>
                <div id="BomTreeRdWorkBom" class="BomTree">
                    <ul class="masterUl">
                        <li id="parent_li-272203" class="parent_li">
                            <input id="MtlItemId-272203" name="MtlItemId" type="hidden" value="272203">
                            <button class="btn btn-warning" onclick="DatasRdWorkBom.EditBillOfMaterialsRdWorkBom()"><i class="fa fa-plus">主件</i></button>
                            <div class="input-group">

                                <span id="firstTitle" class="form-control">Ellie測試-主件</span>
                                <div class="input-group-append">
                                    <button name="DelBtn" class="btn btn-danger" aria-label="删除"><i class="fas fa-trash-alt"></i>删除</button>
                                    <button id="EditBtn" name="EditBtn" class="btn btn-primary" aria-label="修改" onclick="javascript:DatasRdWorkBom.EditBillOfMaterialsRdWorkBom(272203)"><i class="fas fa-plus"></i>修改</button>
                                </div>
                            </div>
                            <ul id="parent_ul-272203">
                                <li id="parent_li-272204" class="parent_li">
                                    <input id="MtlItemId-272204" name="MtlItemId" type="hidden" value="272204"><button class="btn btn-success" onclick="javascript:DatasRdWorkBom.EditBillOfMaterialsRdWorkBom(272203)"><i class="fa fa-plus">元件</i></button>
                                    <div class="input-group">
                                        <span id="title" class="form-control">Ellie測試-元件</span>
                                        <div class="input-group-append">
                                            <button name="DelBtn" class="btn btn-danger" aria-label="删除"><i class="fas fa-trash-alt"></i>删除</button>
                                            <button id="EditBtn-272204" name="EditBtn" class="btn btn-primary" aria-label="修改" onclick="javascript:DatasRdWorkBom.EditBillOfMaterialsRdWorkBom(272204)"><i class="fas fa-plus"></i>修改</button>
                                        </div>
                                    </div>
                                    <ul id="parent_ul-272204" class="parent_ul"></ul>
                                </li>

                                <li id="parent_li-272205" class="parent_li">
                                    <input id="MtlItemId-272205" name="MtlItemId" type="hidden" value="272205">
                                    <div class="input-group">
                                        <span id="title" class="form-control">Ellie測試-holder</span>
                                        <div class="input-group-append">
                                            <button name="DelBtn" class="btn btn-danger" aria-label="删除"><i class="fas fa-trash-alt"></i>删除</button>
                                            <button id="EditBtn-272205" name="EditBtn" class="btn btn-primary" aria-label="修改" onclick="javascript:DatasRdWorkBom.EditBillOfMaterialsRdWorkBom(272205)"><i class="fas fa-plus"></i>修改</button>
                                        </div>
                                    </div>
                                    <ul id="parent_ul-272205" class="parent_ul"></ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <!--Tree分支模板-->
        <h5><i class="fas fa-edit"></i>Tree模板</h5>
        <div id="newBomDetail" style="display: block;">
            <ul>
                <li name="parent_li" id="parent_li">
                    <div class="input-group">
                        <label class="control control-solid control-solid-info control--checkbox">
                            <input type="checkbox" id="cbxClone@(itemName)N" name="cbxClone@(itemName)" />
                            <span class="control__indicator"></span>
                        </label>
                        <input type="text" name="MtlItemName" class="form-control" />
                        <div class="input-group-append">
                            <button class="btn btn-danger" name="DelBtn" aria-label="删除"><i class="fas fa-trash-alt"></i>删除</button>
                            <button class="btn btn-primary" name="EditBtn" aria-label="修改"><i class="fas fa-plus"></i>修改</button>
                            <button class="btn btn-info" name="CopyBtn" aria-label="複製結構"><i class="fas fa-copy"></i>複製結構</button>
                        </div>
                    </div>
                    <ul name="parent_ul" id="parent_ul"></ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-shadow">
            <div class="card-body">
                <h5><i class="fas fa-edit"></i>示範效果(一)</h5>
                <div id="BomTreeRdWorkBom" class="BomTree">
                    <ul class="tree">
                        <li name="parent_li" id="parent_li-272811">
                            <div class="input-group">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                    <span class="control__indicator"></span>
                                </label>
                                <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272811">
                                <div class="input-group-append">
                                    <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272811"><i class="fas fa-trash-alt"></i>删除</button>
                                    <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272811"><i class="fas fa-plus"></i>修改</button>
                                    <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272811"><i class="fas fa-copy"></i>複製結構</button>
                                </div>
                            </div>
                            <ul name="parent_ul" id="parent_ul-272811">
                                <li name="parent_li" id="parent_li-272812">
                                    <div class="input-group">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272812">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272812"><i class="fas fa-trash-alt"></i>删除</button>
                                            <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272812"><i class="fas fa-plus"></i>修改</button>
                                            <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272812"><i class="fas fa-copy"></i>複製結構</button>
                                        </div>
                                    </div>
                                   
                                </li>
                                <li name="parent_li" id="parent_li-272812">
                                    <div class="input-group">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272812">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272812"><i class="fas fa-trash-alt"></i>删除</button>
                                            <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272812"><i class="fas fa-plus"></i>修改</button>
                                            <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272812"><i class="fas fa-copy"></i>複製結構</button>
                                        </div>
                                    </div>
                                    <ul name="parent_ul" id="parent_ul-272812">
                                        <li name="parent_li" id="parent_li-272815">
                                            <div class="input-group">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                                    <span class="control__indicator"></span>
                                                </label>
                                                <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272815">
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272815"><i class="fas fa-trash-alt"></i>删除</button>
                                                    <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272815"><i class="fas fa-plus"></i>修改</button>
                                                    <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272815"><i class="fas fa-copy"></i>複製結構</button>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272815"></ul>
                                        </li>

                                        <li name="parent_li" id="parent_li-272814">
                                            <div class="input-group">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                                    <span class="control__indicator"></span>
                                                </label>
                                                <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272814">
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272814"><i class="fas fa-trash-alt"></i>删除</button>
                                                    <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272814"><i class="fas fa-plus"></i>修改</button>
                                                    <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272814"><i class="fas fa-copy"></i>複製結構</button>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272814"></ul>
                                        </li>
                                    </ul>
                                </li>

                                <li name="parent_li" id="parent_li-272813">
                                    <div class="input-group">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272813">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272813"><i class="fas fa-trash-alt"></i>删除</button>
                                            <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272813"><i class="fas fa-plus"></i>修改</button>
                                            <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272813"><i class="fas fa-copy"></i>複製結構</button>
                                        </div>
                                    </div>
                                    <ul name="parent_ul" id="parent_ul-272813">
                                        <li name="parent_li" id="parent_li-272816">
                                            <div class="input-group">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                                    <span class="control__indicator"></span>
                                                </label>
                                                <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272816">
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272816"><i class="fas fa-trash-alt"></i>删除</button>
                                                    <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272816"><i class="fas fa-plus"></i>修改</button>
                                                    <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272816"><i class="fas fa-copy"></i>複製結構</button>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272816"></ul>
                                        </li>

                                        <li name="parent_li" id="parent_li-272817">
                                            <div class="input-group">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                                    <span class="control__indicator"></span>
                                                </label>
                                                <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272817">
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272817"><i class="fas fa-trash-alt"></i>删除</button>
                                                    <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272817"><i class="fas fa-plus"></i>修改</button>
                                                    <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272817"><i class="fas fa-copy"></i>複製結構</button>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272817">
                                                <li name="parent_li" id="parent_li-272819">
                                                    <div class="input-group">
                                                        <label class="control control-solid control-solid-info control--checkbox">
                                                            <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                        <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272819">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272819"><i class="fas fa-trash-alt"></i>删除</button>
                                                            <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272819"><i class="fas fa-plus"></i>修改</button>
                                                            <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272819"><i class="fas fa-copy"></i>複製結構</button>
                                                        </div>
                                                    </div>
                                                    <ul name="parent_ul" id="parent_ul-272819">
                                                        <li name="parent_li" id="parent_li-272820">
                                                            <div class="input-group">
                                                                <label class="control control-solid control-solid-info control--checkbox">
                                                                    <input type="checkbox" id="cbxCloneRdWorkBomN" name="cbxCloneRdWorkBom">
                                                                    <span class="control__indicator"></span>
                                                                </label>
                                                                <input type="text" name="MtlItemName" class="form-control" id="MtlItemName-272820">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-danger" name="DelBtn" aria-label="删除" data-mtlitem-id="272820"><i class="fas fa-trash-alt"></i>删除</button>
                                                                    <button class="btn btn-primary" name="EditBtn" aria-label="修改" data-mtlitem-id="272820"><i class="fas fa-plus"></i>修改</button>
                                                                    <button class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272820"><i class="fas fa-copy"></i>複製結構</button>
                                                                </div>
                                                            </div>
                                                            <ul name="parent_ul" id="parent_ul-272820"></ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card card-shadow">
            <div class="card-header"><i class="fas fa-edit"></i>示範效果(二)</div>
            <div class="card-body">
                <div id="BomTreeBomMtlItemStructClone" class="BomTree bomStruct">
                    <ul class="tree" data-lvl="1">
                        <li name="self_li" id="self_li-272811">
                            <div class="input-group">

                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272811" value="272811">
                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272811" value="-1">
                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272811" value="68446">
                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272811" value="1">
                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272811" value="1">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272811">
                                    <span class="control__indicator bomLvl_1"></span>
                                </label>
                                <div class="input-group-prepend">
                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_1" id="BomSequenceBomMtlItemStructClone-272811">0000</span>
                                </div>
                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemNameBomMtlItemStructClone-272811">遞迴測試</span>
                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemNoBomMtlItemStructClone-272811">KKMLN-2024071001</span>
                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemSpecBomMtlItemStructClone-272811">LV1</span>

                                <div class="input-group-append">
                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272811"><i class="fas fa-copy"></i>複製結構</a>
                                </div>
                            </div>
                            <ul name="parent_ul" id="parent_ul-272811" data-lvl="2" style="">
                                <li name="self_li" id="self_li-272812">
                                    <div class="input-group">
                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272812" value="272812">
                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272812" value="272811">
                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272812" value="68447">
                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272812" value="1">
                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272812" value="2">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272812">
                                            <span class="control__indicator bomLvl_2"></span>
                                        </label>
                                        <div class="input-group-prepend">
                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_2" id="BomSequenceBomMtlItemStructClone-272812">0010</span>
                                        </div>
                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemNameBomMtlItemStructClone-272812">遞迴測試</span>
                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemNoBomMtlItemStructClone-272812">KKMLN-2024071002</span>
                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemSpecBomMtlItemStructClone-272812">LV2</span>

                                        <div class="input-group-append">
                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272812"><i class="fas fa-copy"></i>複製結構</a>
                                        </div>
                                    </div>
                                    <ul name="parent_ul" id="parent_ul-272812" data-lvl="3" style="display: none;">
                                        <li name="self_li" id="self_li-272815">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272815" value="272815">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272815" value="272812">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272815" value="68450">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272815" value="1">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272815" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272815">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272815">0010</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272815">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272815">KKOLN-2024071002</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272815">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272815"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272815" data-lvl="4"></ul>
                                        </li>

                                        <li name="self_li" id="self_li-272814">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272814" value="272814">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272814" value="272812">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272814" value="68449">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272814" value="2">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272814" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272814">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272814">0020</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272814">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272814">KKMLN-2024071003</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272814">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272814"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272814" data-lvl="4"></ul>
                                        </li>
                                    </ul>
                                </li>

                                <li name="self_li" id="self_li-272813">
                                    <div class="input-group">
                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272813" value="272813">
                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272813" value="272811">
                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272813" value="68448">
                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272813" value="2">
                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272813" value="2">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272813">
                                            <span class="control__indicator bomLvl_2"></span>
                                        </label>
                                        <div class="input-group-prepend">
                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_2" id="BomSequenceBomMtlItemStructClone-272813">0020</span>
                                        </div>
                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemNameBomMtlItemStructClone-272813">遞迴測試</span>
                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemNoBomMtlItemStructClone-272813">KKOLN-2024071001</span>
                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemSpecBomMtlItemStructClone-272813">LV2</span>

                                        <div class="input-group-append">
                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272813"><i class="fas fa-copy"></i>複製結構</a>
                                        </div>
                                    </div>
                                    <ul name="parent_ul" id="parent_ul-272813" data-lvl="3" style="">
                                        <li name="self_li" id="self_li-272816">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272816" value="272816">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272816" value="272813">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272816" value="68451">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272816" value="1">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272816" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272816">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272816">0010</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272816">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272816">KKOLN-2024071003</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272816">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272816"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272816" data-lvl="4" style="display: none;"></ul>
                                        </li>

                                        <li name="self_li" id="self_li-272817">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272817" value="272817">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272817" value="272813">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272817" value="68452">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272817" value="2">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272817" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272817">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272817">0020</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272817">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272817">KKOLN-2024071004</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272817">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272817"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272817" data-lvl="4" style="">
                                                <li name="self_li" id="self_li-272819">
                                                    <div class="input-group">
                                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272819" value="272819">
                                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272819" value="272817">
                                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272819" value="68454">
                                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272819" value="1">
                                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272819" value="4">
                                                        <label class="control control-solid control-solid-info control--checkbox">
                                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272819">
                                                            <span class="control__indicator bomLvl_4"></span>
                                                        </label>
                                                        <div class="input-group-prepend">
                                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_4" id="BomSequenceBomMtlItemStructClone-272819">0010</span>
                                                        </div>
                                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_4" id="MtlItemNameBomMtlItemStructClone-272819">遞迴測試</span>
                                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_4" id="MtlItemNoBomMtlItemStructClone-272819">KKMLN-2024071004</span>
                                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_4" id="MtlItemSpecBomMtlItemStructClone-272819">LV4</span>

                                                        <div class="input-group-append">
                                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272819"><i class="fas fa-copy"></i>複製結構</a>
                                                        </div>
                                                    </div>
                                                    <ul name="parent_ul" id="parent_ul-272819" data-lvl="5" style="">
                                                        <li name="self_li" id="self_li-272820">
                                                            <div class="input-group">
                                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272820" value="272820">
                                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272820" value="272819">
                                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272820" value="68455">
                                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272820" value="1">
                                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272820" value="5">
                                                                <label class="control control-solid control-solid-info control--checkbox">
                                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272820">
                                                                    <span class="control__indicator bomLvl_0"></span>
                                                                </label>
                                                                <div class="input-group-prepend">
                                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_0" id="BomSequenceBomMtlItemStructClone-272820">0010</span>
                                                                </div>
                                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_0" id="MtlItemNameBomMtlItemStructClone-272820">遞迴測試</span>
                                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_0" id="MtlItemNoBomMtlItemStructClone-272820">KKMLN-2024071009</span>
                                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_0" id="MtlItemSpecBomMtlItemStructClone-272820">LV5-A01B02C02D01E01</span>

                                                                <div class="input-group-append">
                                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272820"><i class="fas fa-copy"></i>複製結構</a>
                                                                </div>
                                                            </div>
                                                            <ul name="parent_ul" id="parent_ul-272820" data-lvl="6" style="">
                                                                <li name="self_li" id="self_li-272821">
                                                                    <div class="input-group">
                                                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272821" value="272821">
                                                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272821" value="272820">
                                                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272821" value="0">
                                                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272821" value="1">
                                                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272821" value="6">
                                                                        <label class="control control-solid control-solid-info control--checkbox">
                                                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272821">
                                                                            <span class="control__indicator bomLvl_1"></span>
                                                                        </label>
                                                                        <div class="input-group-prepend">
                                                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_1" id="BomSequenceBomMtlItemStructClone-272821">0010</span>
                                                                        </div>
                                                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemNameBomMtlItemStructClone-272821">遞迴測試</span>
                                                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemNoBomMtlItemStructClone-272821">KKOLN-2024071005</span>
                                                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemSpecBomMtlItemStructClone-272821">LV6</span>

                                                                        <div class="input-group-append">
                                                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272821"><i class="fas fa-copy"></i>複製結構</a>
                                                                        </div>
                                                                    </div>
                                                                    <ul name="parent_ul" id="parent_ul-272821" data-lvl="7"></ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div id="BomTreeBomMtlItemStructClone" class="BomTree bomStruct">
                    <ul class="tree" data-lvl="1">
                        <li name="self_li" id="self_li-272811">
                            123
                            <ul name="parent_ul" id="parent_ul-272811" data-lvl="2" style="">
                                <li name="self_li" id="self_li-272812">
                                    製令變更單
                                    <ul name="parent_ul" id="parent_ul-272812" data-lvl="3" style="display: none;">
                                        <li name="self_li" id="self_li-272815
                                        ">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272815" value="272815">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272815" value="272812">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272815" value="68450">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272815" value="1">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272815" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272815">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272815">0010</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272815">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272815">KKOLN-2024071002</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272815">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272815"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272815" data-lvl="4"></ul>
                                        </li>

                                        <li name="self_li" id="self_li-272814">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272814" value="272814">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272814" value="272812">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272814" value="68449">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272814" value="2">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272814" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272814">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272814">0020</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272814">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272814">KKMLN-2024071003</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272814">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272814"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272814" data-lvl="4"></ul>
                                        </li>
                                    </ul>
                                </li>

                                <li name="self_li" id="self_li-272813">
                                    <div class="input-group">
                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272813" value="272813">
                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272813" value="272811">
                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272813" value="68448">
                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272813" value="2">
                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272813" value="2">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272813">
                                            <span class="control__indicator bomLvl_2"></span>
                                        </label>
                                        <div class="input-group-prepend">
                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_2" id="BomSequenceBomMtlItemStructClone-272813">0020</span>
                                        </div>
                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemNameBomMtlItemStructClone-272813">遞迴測試</span>
                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemNoBomMtlItemStructClone-272813">KKOLN-2024071001</span>
                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_2" id="MtlItemSpecBomMtlItemStructClone-272813">LV2</span>

                                        <div class="input-group-append">
                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272813"><i class="fas fa-copy"></i>複製結構</a>
                                        </div>
                                    </div>
                                    <ul name="parent_ul" id="parent_ul-272813" data-lvl="3" style="">
                                        <li name="self_li" id="self_li-272816">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272816" value="272816">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272816" value="272813">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272816" value="68451">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272816" value="1">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272816" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272816">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272816">0010</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272816">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272816">KKOLN-2024071003</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272816">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272816"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272816" data-lvl="4" style="display: none;"></ul>
                                        </li>

                                        <li name="self_li" id="self_li-272817">
                                            <div class="input-group">
                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272817" value="272817">
                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272817" value="272813">
                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272817" value="68452">
                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272817" value="2">
                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272817" value="3">
                                                <label class="control control-solid control-solid-info control--checkbox">
                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272817">
                                                    <span class="control__indicator bomLvl_3"></span>
                                                </label>
                                                <div class="input-group-prepend">
                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_3" id="BomSequenceBomMtlItemStructClone-272817">0020</span>
                                                </div>
                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNameBomMtlItemStructClone-272817">遞迴測試</span>
                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemNoBomMtlItemStructClone-272817">KKOLN-2024071004</span>
                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_3" id="MtlItemSpecBomMtlItemStructClone-272817">LV3</span>

                                                <div class="input-group-append">
                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272817"><i class="fas fa-copy"></i>複製結構</a>
                                                </div>
                                            </div>
                                            <ul name="parent_ul" id="parent_ul-272817" data-lvl="4" style="">
                                                <li name="self_li" id="self_li-272819">
                                                    <div class="input-group">
                                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272819" value="272819">
                                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272819" value="272817">
                                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272819" value="68454">
                                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272819" value="1">
                                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272819" value="4">
                                                        <label class="control control-solid control-solid-info control--checkbox">
                                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272819">
                                                            <span class="control__indicator bomLvl_4"></span>
                                                        </label>
                                                        <div class="input-group-prepend">
                                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_4" id="BomSequenceBomMtlItemStructClone-272819">0010</span>
                                                        </div>
                                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_4" id="MtlItemNameBomMtlItemStructClone-272819">遞迴測試</span>
                                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_4" id="MtlItemNoBomMtlItemStructClone-272819">KKMLN-2024071004</span>
                                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_4" id="MtlItemSpecBomMtlItemStructClone-272819">LV4</span>

                                                        <div class="input-group-append">
                                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272819"><i class="fas fa-copy"></i>複製結構</a>
                                                        </div>
                                                    </div>
                                                    <ul name="parent_ul" id="parent_ul-272819" data-lvl="5" style="">
                                                        <li name="self_li" id="self_li-272820">
                                                            <div class="input-group">
                                                                <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272820" value="272820">
                                                                <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272820" value="272819">
                                                                <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272820" value="68455">
                                                                <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272820" value="1">
                                                                <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272820" value="5">
                                                                <label class="control control-solid control-solid-info control--checkbox">
                                                                    <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272820">
                                                                    <span class="control__indicator bomLvl_0"></span>
                                                                </label>
                                                                <div class="input-group-prepend">
                                                                    <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_0" id="BomSequenceBomMtlItemStructClone-272820">0010</span>
                                                                </div>
                                                                <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_0" id="MtlItemNameBomMtlItemStructClone-272820">遞迴測試</span>
                                                                <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_0" id="MtlItemNoBomMtlItemStructClone-272820">KKMLN-2024071009</span>
                                                                <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_0" id="MtlItemSpecBomMtlItemStructClone-272820">LV5-A01B02C02D01E01</span>

                                                                <div class="input-group-append">
                                                                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272820"><i class="fas fa-copy"></i>複製結構</a>
                                                                </div>
                                                            </div>
                                                            <ul name="parent_ul" id="parent_ul-272820" data-lvl="6" style="">
                                                                <li name="self_li" id="self_li-272821">
                                                                    <div class="input-group">
                                                                        <input type="hidden" name="MtlItemIdBomMtlItemStructClone" id="MtlItemIdBomMtlItemStructClone-272821" value="272821">
                                                                        <input type="hidden" name="ParentMtlItemIdBomMtlItemStructClone" id="ParentMtlItemIdBomMtlItemStructClone-272821" value="272820">
                                                                        <input type="hidden" name="BomIdBomMtlItemStructClone" id="BomIdBomMtlItemStructClone-272821" value="0">
                                                                        <input type="hidden" name="SortNumberBomMtlItemStructClone" id="SortNumberBomMtlItemStructClone-272821" value="1">
                                                                        <input type="hidden" name="lvlBomMtlItemStructClone" id="lvlBomMtlItemStructClone-272821" value="6">
                                                                        <label class="control control-solid control-solid-info control--checkbox">
                                                                            <input type="checkbox" name="cbxCloneBomMtlItemStructClone" data-mtlitem-id="272821">
                                                                            <span class="control__indicator bomLvl_1"></span>
                                                                        </label>
                                                                        <div class="input-group-prepend">
                                                                            <span name="BomSequenceBomMtlItemStructClone" class="input-group-text bomLvl_1" id="BomSequenceBomMtlItemStructClone-272821">0010</span>
                                                                        </div>
                                                                        <span name="MtlItemNameBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemNameBomMtlItemStructClone-272821">遞迴測試</span>
                                                                        <span name="MtlItemNoBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemNoBomMtlItemStructClone-272821">KKOLN-2024071005</span>
                                                                        <span name="MtlItemSpecBomMtlItemStructClone" class="form-control bomLvl_1" id="MtlItemSpecBomMtlItemStructClone-272821">LV6</span>

                                                                        <div class="input-group-append">
                                                                            <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構" data-mtlitem-id="272821"><i class="fas fa-copy"></i>複製結構</a>
                                                                        </div>
                                                                    </div>
                                                                    <ul name="parent_ul" id="parent_ul-272821" data-lvl="7"></ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>

        $(function () {
            // Hide all lists except the outermost.
           // $('ul.tree ul').hide();

            $('.tree li > ul').each(function (i) {
                var $subUl = $(this);
                var $parentLi = $subUl.parent('li');
                var $toggleIcon = '<i class="js-toggle-icon">—</i>';

                $parentLi.addClass('has-children');

                $parentLi.prepend($toggleIcon).find('.js-toggle-icon').on('click', function () {
                    $(this).text($(this).text() == '＋' ? '—' : '＋');
                    $subUl.slideToggle('fast');
                });
            });
        });

</script>
)