@using Business_Manager.Helpers
@{
    string itemName = "SortTest";
    string itemNameText = "排序測試";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="row">
    <div class="col-12">
        <div class="table-custom">
            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 75px;" class="text-center">關卡順序</th>
                        <th scope="col" style="min-width: 150px;">關卡人</th>
                        <th scope="col" style="min-width: 150px;">職稱</th>
                        <th scope="col" style="min-width: 150px;">關卡狀態</th>
                        <th scope="col" style="min-width: 150px;">E-Mail</th>
                        <th scope="col" style="min-width: 150px;">公司別</th>
                        <th scope="col" style="min-width: 150px;">部門</th>
                        <th scope="col" class="col-sticky" style="min-width: 125px;">操作</th>
                    </tr>
                </thead>
                <tbody class="ui-sortable">
                    <tr id="18">
                        <td data-toggle="tooltip" title="順序1." style="max-width: 100px;" class="text-center active-content auth-update">
                            <a class="active-link sort-handle ui-sortable-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>順序</span>1.</a>
                        </td>
                        <td data-toggle="tooltip" title="()" style="max-width: 200px;"><span class="stack-title">關卡人</span></td>
                        <td data-toggle="tooltip" title="" style="max-width: 200px;">
                            <span class="stack-title">職稱</span>
                            <input type="text" class="form-control" id="txtFlowJobNameTemplateDesignSignFlow-18" name="txtFlowJobNameTemplateDesignSignFlow" data-tempdesignsf-id="18" placeholder="職稱(選填)" data-msg-maxlength="必須少於50個字元" maxlength="50" value="承辦業務">
                        </td>
                        <td data-toggle="tooltip" title="" style="max-width: 200px;">
                            <span class="stack-title">關卡狀態</span>
                            <select class="form-control select2-hidden-accessible" id="cboFlowStatusTemplateDesignSignFlow-18" name="cboFlowStatusTemplateDesignSignFlow" data-tempdesignsf-id="18" data-msg-required="請選擇關卡狀態" data-rule-required="true" data-select2-id="select2-data-cboFlowStatusTemplateDesignSignFlow-18" tabindex="-1" aria-hidden="true"><option value="1" data-text="業務" data-select2-id="select2-data-2-ig68">業務</option><option value="2" data-text="業務主管">業務主管</option><option value="3" data-text="研發">研發</option><option value="4" data-text="研發主管">研發主管</option><option value="5" data-text="總經理">總經理</option><option value="6" data-text="模造鍍膜主管">模造鍍膜主管</option><option value="7" data-text="品保主管">品保主管</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-1-wdvm" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cboFlowStatusTemplateDesignSignFlow-18-container" aria-controls="select2-cboFlowStatusTemplateDesignSignFlow-18-container"><span class="select2-selection__rendered" id="select2-cboFlowStatusTemplateDesignSignFlow-18-container" role="textbox" aria-readonly="true" title="業務">業務</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td data-toggle="tooltip" title="" style="max-width: 200px;"><span class="stack-title">E-Mail</span></td>
                        <td data-toggle="tooltip" title="" style="max-width: 200px;"><span class="stack-title">公司別</span></td>
                        <td data-toggle="tooltip" title="" style="max-width: 200px;"><span class="stack-title">部門</span></td>
                        <td data-toggle="tooltip" title="修改/移除" class="active-content col-sticky">
                            <span class="stack-title">操作</span>
                            <a class="active-link auth-update" href="javascript:EditTemplateDesignSignFlow(18);" title="修改" style=""><i class="fas fa-edit"></i></a>
                            <a class="active-link auth-delete" href="javascript:DeleteTemplateDesignSignFlow(18);" title="移除" style=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr id="19">
                        <td data-toggle="tooltip" title="順序2." style="max-width: 100px;" class="text-center active-content auth-update">
                            <a class="active-link sort-handle ui-sortable-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>順序</span>2.</a>
                        </td>
                        <td data-toggle="tooltip" title="鄧明昆(ZY01028)" style="max-width: 200px;"><span class="stack-title">關卡人</span><span class="gender-male"><i class="fas fa-male"></i></span>鄧明昆(ZY01028)</td>
                        <td data-toggle="tooltip" title="業務一課" style="max-width: 200px;">
                            <span class="stack-title">職稱</span>
                            <input type="text" class="form-control" id="txtFlowJobNameTemplateDesignSignFlow-19" name="txtFlowJobNameTemplateDesignSignFlow" data-tempdesignsf-id="19" placeholder="職稱(選填)" data-msg-maxlength="必須少於50個字元" maxlength="50" value="業務主管">
                        </td>
                        <td data-toggle="tooltip" title="業務一課" style="max-width: 200px;">
                            <span class="stack-title">關卡狀態</span>
                            <select class="form-control select2-hidden-accessible" id="cboFlowStatusTemplateDesignSignFlow-19" name="cboFlowStatusTemplateDesignSignFlow" data-tempdesignsf-id="19" data-msg-required="請選擇關卡狀態" data-rule-required="true" data-select2-id="select2-data-cboFlowStatusTemplateDesignSignFlow-19" tabindex="-1" aria-hidden="true"><option value="1" data-text="業務">業務</option><option value="2" data-text="業務主管" data-select2-id="select2-data-4-za7t">業務主管</option><option value="3" data-text="研發">研發</option><option value="4" data-text="研發主管">研發主管</option><option value="5" data-text="總經理">總經理</option><option value="6" data-text="模造鍍膜主管">模造鍍膜主管</option><option value="7" data-text="品保主管">品保主管</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-3-qkgd" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cboFlowStatusTemplateDesignSignFlow-19-container" aria-controls="select2-cboFlowStatusTemplateDesignSignFlow-19-container"><span class="select2-selection__rendered" id="select2-cboFlowStatusTemplateDesignSignFlow-19-container" role="textbox" aria-readonly="true" title="業務主管">業務主管</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td data-toggle="tooltip" title="simon_teng@zy-tech.com.tw" style="max-width: 200px;"><span class="stack-title">E-Mail</span>simon_teng@zy-tech.com.tw</td>
                        <td data-toggle="tooltip" title="中揚光電" style="max-width: 200px;"><span class="stack-title">公司別</span><img class="company-logo" src="/Web/GetFile?fileId=1">中揚光電</td>
                        <td data-toggle="tooltip" title="業務一課" style="max-width: 200px;"><span class="stack-title">部門</span>業務一課</td>
                        <td data-toggle="tooltip" title="修改/移除" class="active-content col-sticky">
                            <span class="stack-title">操作</span>
                            <a class="active-link auth-update" href="javascript:EditTemplateDesignSignFlow(19);" title="修改" style=""><i class="fas fa-edit"></i></a>
                            <a class="active-link auth-delete" href="javascript:DeleteTemplateDesignSignFlow(19);" title="移除" style=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr id="20">
                        <td data-toggle="tooltip" title="順序3." style="max-width: 100px;" class="text-center active-content auth-update">
                            <a class="active-link sort-handle ui-sortable-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>順序</span>3.</a>
                        </td>
                        <td data-toggle="tooltip" title="謝豐蔚(ZY00525)" style="max-width: 200px;"><span class="stack-title">關卡人</span><span class="gender-male"><i class="fas fa-male"></i></span>謝豐蔚(ZY00525)</td>
                        <td data-toggle="tooltip" title="模造研發室" style="max-width: 200px;">
                            <span class="stack-title">職稱</span>
                            <input type="text" class="form-control" id="txtFlowJobNameTemplateDesignSignFlow-20" name="txtFlowJobNameTemplateDesignSignFlow" data-tempdesignsf-id="20" placeholder="職稱(選填)" data-msg-maxlength="必須少於50個字元" maxlength="50" value="模造RD">
                        </td>
                        <td data-toggle="tooltip" title="模造研發室" style="max-width: 200px;">
                            <span class="stack-title">關卡狀態</span>
                            <select class="form-control select2-hidden-accessible" id="cboFlowStatusTemplateDesignSignFlow-20" name="cboFlowStatusTemplateDesignSignFlow" data-tempdesignsf-id="20" data-msg-required="請選擇關卡狀態" data-rule-required="true" data-select2-id="select2-data-cboFlowStatusTemplateDesignSignFlow-20" tabindex="-1" aria-hidden="true"><option value="1" data-text="業務">業務</option><option value="2" data-text="業務主管">業務主管</option><option value="3" data-text="研發">研發</option><option value="4" data-text="研發主管" data-select2-id="select2-data-6-145i">研發主管</option><option value="5" data-text="總經理">總經理</option><option value="6" data-text="模造鍍膜主管">模造鍍膜主管</option><option value="7" data-text="品保主管">品保主管</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-5-slh0" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cboFlowStatusTemplateDesignSignFlow-20-container" aria-controls="select2-cboFlowStatusTemplateDesignSignFlow-20-container"><span class="select2-selection__rendered" id="select2-cboFlowStatusTemplateDesignSignFlow-20-container" role="textbox" aria-readonly="true" title="研發主管">研發主管</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td data-toggle="tooltip" title="eric_hsieh@zy-tech.com.tw" style="max-width: 200px;"><span class="stack-title">E-Mail</span>eric_hsieh@zy-tech.com.tw</td>
                        <td data-toggle="tooltip" title="中揚光電" style="max-width: 200px;"><span class="stack-title">公司別</span><img class="company-logo" src="/Web/GetFile?fileId=1">中揚光電</td>
                        <td data-toggle="tooltip" title="模造研發室" style="max-width: 200px;"><span class="stack-title">部門</span>模造研發室</td>
                        <td data-toggle="tooltip" title="修改/移除" class="active-content col-sticky">
                            <span class="stack-title">操作</span>
                            <a class="active-link auth-update" href="javascript:EditTemplateDesignSignFlow(20);" title="修改" style=""><i class="fas fa-edit"></i></a>
                            <a class="active-link auth-delete" href="javascript:DeleteTemplateDesignSignFlow(20);" title="移除" style=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr id="22">
                        <td data-toggle="tooltip" title="順序4." style="max-width: 100px;" class="text-center active-content auth-update">
                            <a class="active-link sort-handle ui-sortable-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>順序</span>4.</a>
                        </td>
                        <td data-toggle="tooltip" title="黃志賢(ZY00749)" style="max-width: 200px;"><span class="stack-title">關卡人</span><span class="gender-male"><i class="fas fa-male"></i></span>黃志賢(ZY00749)</td>
                        <td data-toggle="tooltip" title="模造生產課" style="max-width: 200px;">
                            <span class="stack-title">職稱</span>
                            <input type="text" class="form-control" id="txtFlowJobNameTemplateDesignSignFlow-22" name="txtFlowJobNameTemplateDesignSignFlow" data-tempdesignsf-id="22" placeholder="職稱(選填)" data-msg-maxlength="必須少於50個字元" maxlength="50" value="模造製造主管">
                        </td>
                        <td data-toggle="tooltip" title="模造生產課" style="max-width: 200px;">
                            <span class="stack-title">關卡狀態</span>
                            <select class="form-control select2-hidden-accessible" id="cboFlowStatusTemplateDesignSignFlow-22" name="cboFlowStatusTemplateDesignSignFlow" data-tempdesignsf-id="22" data-msg-required="請選擇關卡狀態" data-rule-required="true" data-select2-id="select2-data-cboFlowStatusTemplateDesignSignFlow-22" tabindex="-1" aria-hidden="true"><option value="1" data-text="業務">業務</option><option value="2" data-text="業務主管">業務主管</option><option value="3" data-text="研發">研發</option><option value="4" data-text="研發主管">研發主管</option><option value="5" data-text="總經理">總經理</option><option value="6" data-text="模造鍍膜主管" data-select2-id="select2-data-8-53dv">模造鍍膜主管</option><option value="7" data-text="品保主管">品保主管</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-7-gqes" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cboFlowStatusTemplateDesignSignFlow-22-container" aria-controls="select2-cboFlowStatusTemplateDesignSignFlow-22-container"><span class="select2-selection__rendered" id="select2-cboFlowStatusTemplateDesignSignFlow-22-container" role="textbox" aria-readonly="true" title="模造鍍膜主管">模造鍍膜主管</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td data-toggle="tooltip" title="arthur_huang@zy-tech.com.tw" style="max-width: 200px;"><span class="stack-title">E-Mail</span>arthur_huang@zy-tech.com.tw</td>
                        <td data-toggle="tooltip" title="中揚光電" style="max-width: 200px;"><span class="stack-title">公司別</span><img class="company-logo" src="/Web/GetFile?fileId=1">中揚光電</td>
                        <td data-toggle="tooltip" title="模造生產課" style="max-width: 200px;"><span class="stack-title">部門</span>模造生產課</td>
                        <td data-toggle="tooltip" title="修改/移除" class="active-content col-sticky">
                            <span class="stack-title">操作</span>
                            <a class="active-link auth-update" href="javascript:EditTemplateDesignSignFlow(22);" title="修改" style=""><i class="fas fa-edit"></i></a>
                            <a class="active-link auth-delete" href="javascript:DeleteTemplateDesignSignFlow(22);" title="移除" style=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr id="24">
                        <td data-toggle="tooltip" title="順序5." style="max-width: 100px;" class="text-center active-content auth-update">
                            <a class="active-link sort-handle ui-sortable-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>順序</span>5.</a>
                        </td>
                        <td data-toggle="tooltip" title="游禎國(E0005)" style="max-width: 200px;"><span class="stack-title">關卡人</span><span class="gender-male"><i class="fas fa-male"></i></span>游禎國(E0005)</td>
                        <td data-toggle="tooltip" title="品保部" style="max-width: 200px;">
                            <span class="stack-title">職稱</span>
                            <input type="text" class="form-control" id="txtFlowJobNameTemplateDesignSignFlow-24" name="txtFlowJobNameTemplateDesignSignFlow" data-tempdesignsf-id="24" placeholder="職稱(選填)" data-msg-maxlength="必須少於50個字元" maxlength="50" value="品保主管">
                        </td>
                        <td data-toggle="tooltip" title="品保部" style="max-width: 200px;">
                            <span class="stack-title">關卡狀態</span>
                            <select class="form-control select2-hidden-accessible" id="cboFlowStatusTemplateDesignSignFlow-24" name="cboFlowStatusTemplateDesignSignFlow" data-tempdesignsf-id="24" data-msg-required="請選擇關卡狀態" data-rule-required="true" data-select2-id="select2-data-cboFlowStatusTemplateDesignSignFlow-24" tabindex="-1" aria-hidden="true"><option value="1" data-text="業務">業務</option><option value="2" data-text="業務主管">業務主管</option><option value="3" data-text="研發">研發</option><option value="4" data-text="研發主管">研發主管</option><option value="5" data-text="總經理">總經理</option><option value="6" data-text="模造鍍膜主管">模造鍍膜主管</option><option value="7" data-text="品保主管" data-select2-id="select2-data-10-s767">品保主管</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-9-yego" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cboFlowStatusTemplateDesignSignFlow-24-container" aria-controls="select2-cboFlowStatusTemplateDesignSignFlow-24-container"><span class="select2-selection__rendered" id="select2-cboFlowStatusTemplateDesignSignFlow-24-container" role="textbox" aria-readonly="true" title="品保主管">品保主管</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td data-toggle="tooltip" title="owen@eterge.com" style="max-width: 200px;"><span class="stack-title">E-Mail</span>owen@eterge.com</td>
                        <td data-toggle="tooltip" title="紘立光電" style="max-width: 200px;"><span class="stack-title">公司別</span><img class="company-logo" src="/Web/GetFile?fileId=5">紘立光電</td>
                        <td data-toggle="tooltip" title="品保部" style="max-width: 200px;"><span class="stack-title">部門</span>品保部</td>
                        <td data-toggle="tooltip" title="修改/移除" class="active-content col-sticky">
                            <span class="stack-title">操作</span>
                            <a class="active-link auth-update" href="javascript:EditTemplateDesignSignFlow(24);" title="修改" style=""><i class="fas fa-edit"></i></a>
                            <a class="active-link auth-delete" href="javascript:DeleteTemplateDesignSignFlow(24);" title="移除" style=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr id="25">
                        <td data-toggle="tooltip" title="順序6." style="max-width: 100px;" class="text-center active-content auth-update">
                            <a class="active-link sort-handle ui-sortable-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>順序</span>6.</a>
                        </td>
                        <td data-toggle="tooltip" title="許智程(E0001)" style="max-width: 200px;"><span class="stack-title">關卡人</span><span class="gender-male"><i class="fas fa-male"></i></span>許智程(E0001)</td>
                        <td data-toggle="tooltip" title="總經理室" style="max-width: 200px;">
                            <span class="stack-title">職稱</span>
                            <input type="text" class="form-control" id="txtFlowJobNameTemplateDesignSignFlow-25" name="txtFlowJobNameTemplateDesignSignFlow" data-tempdesignsf-id="25" placeholder="職稱(選填)" data-msg-maxlength="必須少於50個字元" maxlength="50" value="總經理">
                        </td>
                        <td data-toggle="tooltip" title="總經理室" style="max-width: 200px;">
                            <span class="stack-title">關卡狀態</span>
                            <select class="form-control select2-hidden-accessible" id="cboFlowStatusTemplateDesignSignFlow-25" name="cboFlowStatusTemplateDesignSignFlow" data-tempdesignsf-id="25" data-msg-required="請選擇關卡狀態" data-rule-required="true" data-select2-id="select2-data-cboFlowStatusTemplateDesignSignFlow-25" tabindex="-1" aria-hidden="true"><option value="1" data-text="業務">業務</option><option value="2" data-text="業務主管">業務主管</option><option value="3" data-text="研發">研發</option><option value="4" data-text="研發主管">研發主管</option><option value="5" data-text="總經理" data-select2-id="select2-data-12-b03w">總經理</option><option value="6" data-text="模造鍍膜主管">模造鍍膜主管</option><option value="7" data-text="品保主管">品保主管</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-11-wgmo" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-cboFlowStatusTemplateDesignSignFlow-25-container" aria-controls="select2-cboFlowStatusTemplateDesignSignFlow-25-container"><span class="select2-selection__rendered" id="select2-cboFlowStatusTemplateDesignSignFlow-25-container" role="textbox" aria-readonly="true" title="總經理">總經理</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </td>
                        <td data-toggle="tooltip" title="tim@eterge.com" style="max-width: 200px;"><span class="stack-title">E-Mail</span>tim@eterge.com</td>
                        <td data-toggle="tooltip" title="紘立光電" style="max-width: 200px;"><span class="stack-title">公司別</span><img class="company-logo" src="/Web/GetFile?fileId=5">紘立光電</td>
                        <td data-toggle="tooltip" title="總經理室" style="max-width: 200px;"><span class="stack-title">部門</span>總經理室</td>
                        <td data-toggle="tooltip" title="修改/移除" class="active-content col-sticky">
                            <span class="stack-title">操作</span>
                            <a class="active-link auth-update" href="javascript:EditTemplateDesignSignFlow(25);" title="修改" style=""><i class="fas fa-edit"></i></a>
                            <a class="active-link auth-delete" href="javascript:DeleteTemplateDesignSignFlow(25);" title="移除" style=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination" id="pageTemplateDesignSignFlow"></div>
    </div>
</div>
@Html.Resource("js",
    @<script>

        $(function () {
            $("#tblData@(itemName) tbody").sortable({
                cancel: ".disabled-sort",
                handle: ".sort-handle",
                update: function (event, ui) {
                    console.log(`do something`)
                }
            });
        });
    </script>
        )