@using Business_Manager.Helpers

<header class="main-header smart-scroll">
    <div class="container_header">
        <div class="logo d-flex align-items-center">
            <a href="@Url.Action("Gate", "Home")">
                <strong class="logo_icon">
                    <img src="@Url.Content("~/Content/images/logo.png")" />
                </strong>
                <span class="logo-default">
                    <img src="@Url.Content("~/Content/images/logo.png")" />
                </span>
            </a>
            <div class="icon_menu full_menu">
                <a href="javascript:void(0);" class="menu-toggler sidebar-toggler"></a>
            </div>
        </div>
        <div class="right_detail">
            <div class="row d-flex align-items-center min-h pos-md-r">
                <div class="col-3"></div>
                <div class="col-9 d-flex justify-content-end control">
                    <div class="right_bar_top d-flex align-items-center">
                        <div class="dropdown dropdown-inbox">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="fal fa-user"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default" style="width: auto; height: auto;">
                                @*<li>
                                    <a href="javascript:void(0);" onclick="PopViewLoginStatus()"> <i class="fal fa-user-alt"></i>&nbsp;&nbsp;<span id="desUserName"></span></a>
                                </li>*@
                                @*<li>
                                    <a href="javascript:void(0);" onclick="PopViewCompanySwitch()"> <i class="fal fa-building"></i>&nbsp;&nbsp;<span id="desCompanyName"></span></a>
                                </li>*@
                                <li>
                                    <a class="subscribe-bell" href="javascript:void(0);"> <i class="fal fa-bell"></i>&nbsp;&nbsp;訂閱推播</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="PasswordEdit()"> <i class="fal fa-key"></i>&nbsp;&nbsp;密碼修改</a>
                                </li>
                                <li>
                                    <a href="javascript:Logout();"> <i class="fal fa-sign-out"></i>&nbsp;&nbsp;登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@Html.Resource("js",
    @<script>
        function PasswordEdit() {
            PopViewUserPassword(userId);
        }
    </script>
)