@using Business_Manager.Helpers
@{
    string itemName = "ViewLoginStatus";
    string itemNameText = "登入狀態";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-12">登入帳號</dt>
                    <dd class="col-12 text-primary">
                        <span id="desLoginAccount@(itemName)"></span>
                    </dd>
                    <dt class="col-12">連線類型</dt>
                    <dd class="col-12 text-primary">
                        <span id="desLinkType@(itemName)"></span>
                    </dd>
                    <dt class="col-12">連線位址</dt>
                    <dd class="col-12 text-primary">
                        <span id="desLinkAddress@(itemName)"></span>
                    </dd>
                    <dt class="col-12">連線名稱</dt>
                    <dd class="col-12 text-primary">
                        <span id="desLinkName@(itemName)"></span>
                    </dd>
                    <dt class="col-12">連線裝置</dt>
                    <dd class="col-12 text-primary">
                        <span id="desLinkDevice@(itemName)"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        function Pop@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginStatus", "User")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $("#desLoginAccount@(itemName)").html($.cookie("Login"));
                $("#desLinkType@(itemName)").html(data.result.linkType);
                $("#desLinkAddress@(itemName)").html(data.result.linkAddress);
                $("#desLinkName@(itemName)").html(data.result.linkName);
                $("#desLinkDevice@(itemName)").html(platform.description);

                $("#modal@(itemName)").modal({
                    backdrop: "static",
                    keyboard: false,
                    show: true
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    </script>
)