@using Business_Manager.Helpers
@{
    string itemName = "ViewPrDetail";
    string itemNameText = "查看請購單詳細資料";
}

@Html.Resource("css",
    @<style>
         .source-user {
             font-size: 1rem;
             color: #4d80c4;
         }

         .source-contact {
             font-size: 1rem;
             color: #27b390;
         }

             .source-user i, .source-contact i {
                 margin-right: 5px;
             }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }
    </style>
                        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                               placeholder="請輸入請購品號" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">序號</th>
                                        <th scope="col" style="max-width: 200px;">品號</th>
                                        <th scope="col" style="max-width: 200px;">品名</th>
                                        <th scope="col" style="max-width: 200px;">規格</th>
                                        <th scope="col" style="max-width: 200px;">庫別</th>
                                        <th scope="col" style="max-width: 250px; min-width: 110px;">請購數量</th>
                                        <th scope="col" style="max-width: 200px; min-width: 110px;">請購單位</th>
                                        <th scope="col" style="max-width: 200px;">供應商</th>
                                        <th scope="col" style="max-width: 200px;">需求日期</th>
                                        <th scope="col" style="max-width: 200px; min-width: 110px;">交貨日</th>
                                        <th scope="col" style="max-width: 250px; min-width: 110px;">詢價碼</th>
                                        <th class="text-center col-sticky" scope="col" style="min-width: 110px;">請選擇</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#queryForm@(itemName)";

        let targetSelector@(itemName);
        let prId@(itemName);
        let prDetailId@(itemName);
        let mtlItemId@(itemName);
        let mtlItemNo@(itemName);
        let mtlItemName@(itemName);
        let mtlItemSpec@(itemName);
        let soDetailId@(itemName);
        let customer@(itemName);
        let soErpFullNo@(itemName);
        let soSequence@(itemName);
        let customerMtlItemNo@(itemName);
        let demandDate@(itemName);
        let inventoryId@(itemName);
        let prUomId@(itemName);
        let supplierId@(itemName);
        let prCurrency@(itemName);
        let prExchangeRate@(itemName);
        let prQty@(itemName);
        let prUnitPrice@(itemName);
        let prPrice@(itemName);
        let prPriceTw@(itemName);
        let urgentMtl@(itemName);
        let productionPlan@(itemName);
        let project@(itemName);
        let prDetailRemark@(itemName);
        let prSequence@(itemName);
        let mtlModify@(itemName);

        function Pop@(itemName)(config) {
            targetSelector@(itemName) = config.targetSelector;
            prId@(itemName) = prIdPrmDetail;
            prDetailId@(itemName) = config.objectPrDetailId;
            mtlItemId@(itemName) = config.objectMtlItemId;
            mtlItemNo@(itemName) = config.objectMtlItemNo;
            mtlItemName@(itemName) = config.objectMtlItemName;
            mtlItemSpec@(itemName) = config.objectMtlItemSpec;
            soDetailId@(itemName) = config.objectSoDetailId;
            customer@(itemName) = config.objectCustomer;
            soErpFullNo@(itemName) = config.objectSoErpFullNo;
            soSequence@(itemName) = config.objectSoSequence;
            customerMtlItemNo@(itemName) = config.objectCustomerMtlItemNo;
            demandDate@(itemName) = config.objectDemandDate;
            inventoryId@(itemName) = config.objectInventoryId;
            prUomId@(itemName) = config.objectPrUomId;
            supplierId@(itemName) = config.objectSupplierId;
            prCurrency@(itemName) = config.objectPrCurrency;
            prExchangeRate@(itemName) = config.objectPrExchangeRate;
            prQty@(itemName) = config.objectPrQty;
            prUnitPrice@(itemName) = config.objectPrUnitPrice;
            prPrice@(itemName) = config.objectPrPrice;
            prPriceTw@(itemName) = config.objectPrPriceTw;
            urgentMtl@(itemName) = config.objectUrgentMtl;
            productionPlan@(itemName) = config.objectProductionPlan;
            project@(itemName) = config.objectProject;
            prDetailRemark@(itemName) = config.objectPrDetailRemark;
            prSequence@(itemName) = config.objectPrSequence;
            mtlModify@(itemName) = config.objectMtlModify;

            if (!isMobile) {
                $("#cboDepartmentIdQ@(itemName)").select2({
                    width: "100%"
                });
            }

            Query@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetPrDetail", "PurchaseRequisition")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "PrId": prId@(itemName),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "ConfirmStatus": "Y"
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 200px;">${_row}</td>
                                        <td style="max-width: 200px;">${item.PrSequence}</td>
                                        <td style="max-width: 250px; min-width: 200px;">${item.MtlItemNo}</td>
                                        <td style="max-width: 200px; min-width: 200px;"">${item.PrMtlItemName}</td>
                                        <td style="max-width: 200px; min-width: 200px;">${item.PrMtlItemSpec}</td>
                                        <td style="max-width: 200px; min-width: 200px;">${item.InventoryNo}-${item.InventoryName}</td>
                                        <td style="max-width: 250px;">${item.PrQty}</td>
                                        <td style="max-width: 200px;">${item.PrUomNo} ${item.PrUomName}</td>
                                        <td style="max-width: 200px; min-width: 200px;"">${item.SupplierNo} ${item.SupplierName}</td>
                                        <td style="max-width: 200px; min-width: 150px;">${item.DemandDate}</td>
                                        <td style="max-width: 200px;">${item.DeliveryDate}</td>
                                        <td style="max-width: 200px;" min-width: 200px;">${item.InquiryStatus}-${item.InquiryStatusName}</td>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" data-pr-detail-id="${item.PrDetailId}" value="${item.PrDetailId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                          <input type="hidden" id="txtMtlItemId@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.MtlItemId}"/>
                                          <input type="hidden" id="txtMtlItemNo@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.MtlItemNo}"/>
                                          <input type="hidden" id="txtMtlItemName@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrMtlItemName}"/>
                                          <input type="hidden" id="txtMtlItemSpec@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrMtlItemSpec}"/>
                                          <input type="hidden" id="txtSoDetailId@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.SoDetailId}"/>
                                          <input type="hidden" id="txtCustomer@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.Customer}"/>
                                          <input type="hidden" id="txtSoErpFullNo@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.SoErpPrefix}-${item.SoErpNo}"/>
                                          <input type="hidden" id="txtSoSequence@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.SoSequence}"/>
                                          <input type="hidden" id="txtCustomerMtlItemNo@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.CustomerMtlItemNo}"/>
                                          <input type="hidden" id="txtDemandDate@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.DemandDate}"/>
                                          <input type="hidden" id="txtInventoryId@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.InventoryId}"/>
                                          <input type="hidden" id="txtPrUomId@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrUomId}"/>
                                          <input type="hidden" id="txtSupplierId@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.SupplierId}"/>
                                          <input type="hidden" id="txtPrCurrency@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrCurrency}"/>
                                          <input type="hidden" id="txtPrExchangeRate@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrExchangeRate}"/>
                                          <input type="hidden" id="txtPrQty@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrQty}"/>
                                          <input type="hidden" id="txtPrUnitPrice@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrUnitPrice}"/>
                                          <input type="hidden" id="txtPrPrice@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrPrice}"/>
                                          <input type="hidden" id="txtPrPriceTw@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrPriceTw}"/>
                                          <input type="hidden" id="txtUrgentMtl@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.UrgentMtl}"/>
                                          <input type="hidden" id="txtProductionPlan@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.ProductionPlan}"/>
                                          <input type="hidden" id="txtProject@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.Project}"/>
                                          <input type="hidden" id="txtPrDetailRemark@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrDetailRemark}"/>
                                          <input type="hidden" id="txtPrSequence@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.PrSequence}"/>
                                          <input type="hidden" id="txtMtlModify@(itemName)" data-pr-detail-id="${item.PrDetailId}" value="${item.MtlModify}"/>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[type='radio']").click(function () {
                if ("[data-pr-detail-id]:checked") {
                    let prDetailId = $(this).data("pr-detail-id");

                    if (prDetailId) {
                        let mtlItemId = $(`input[id="txtMtlItemId@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let mtlItemNo = $(`input[id="txtMtlItemNo@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let mtlItemName = $(`input[id="txtMtlItemName@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let mtlItemSpec = $(`input[id="txtMtlItemSpec@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let soDetailId = $(`input[id="txtSoDetailId@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let customer = $(`input[id="txtCustomer@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let soErpFullNo = $(`input[id="txtSoErpFullNo@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let soSequence = $(`input[id="txtSoSequence@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let customerMtlItemNo = $(`input[id="txtCustomerMtlItemNo@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let demandDate = $(`input[id="txtDemandDate@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let inventoryId = $(`input[id="txtInventoryId@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prUomId = $(`input[id="txtPrUomId@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let supplierId = $(`input[id="txtSupplierId@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prCurrency = $(`input[id="txtPrCurrency@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prExchangeRate = $(`input[id="txtPrExchangeRate@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prQty = $(`input[id="txtPrQty@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prUnitPrice = $(`input[id="txtPrUnitPrice@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prPrice = $(`input[id="txtPrPrice@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prPriceTw = $(`input[id="txtPrPriceTw@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let urgentMtl = $(`input[id="txtUrgentMtl@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let productionPlan = $(`input[id="txtProductionPlan@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let project = $(`input[id="txtProject@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prDetailRemark = $(`input[id="txtPrDetailRemark@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let prSequence = $(`input[id="txtPrSequence@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();
                        let mtlModify = $(`input[id="txtMtlModify@(itemName)"][data-pr-detail-id="${prDetailId}"]`).val();

                        if (prDetailId@(itemName)) ElementSetValue(prDetailId@(itemName), prDetailId, "change");
                        if (mtlItemId@(itemName)) ElementSetValue(mtlItemId@(itemName), mtlItemId, "change");
                        if (mtlItemNo@(itemName)) ElementSetValue(mtlItemNo@(itemName), mtlItemNo, "change");
                        if (mtlItemName@(itemName)) ElementSetValue(mtlItemName@(itemName), mtlItemName, "change");
                        if (mtlItemSpec@(itemName)) ElementSetValue(mtlItemSpec@(itemName), mtlItemSpec, "change");
                        if (soDetailId@(itemName)) ElementSetValue(soDetailId@(itemName), soDetailId, "change");
                        if (customer@(itemName)) ElementSetValue(customer@(itemName), customer, "change");
                        if (soErpFullNo@(itemName)) ElementSetValue(soErpFullNo@(itemName), soErpFullNo, "change");
                        if (soSequence@(itemName)) ElementSetValue(soSequence@(itemName), soSequence, "change");
                        if (customerMtlItemNo@(itemName)) ElementSetValue(customerMtlItemNo@(itemName), customerMtlItemNo, "change");
                        if (demandDate@(itemName)) ElementSetValue(demandDate@(itemName), demandDate, "change");
                        if (inventoryId@(itemName)) ElementSetValue(inventoryId@(itemName), inventoryId, "change");
                        if (prUomId@(itemName)) ElementSetValue(prUomId@(itemName), prUomId, "change");
                        if (supplierId@(itemName)) ElementSetValue(supplierId@(itemName), supplierId, "change");
                        if (prCurrency@(itemName)) ElementSetValue(prCurrency@(itemName), prCurrency, "change");
                        if (prExchangeRate@(itemName)) ElementSetValue(prExchangeRate@(itemName), prExchangeRate, "change");
                        if (prQty@(itemName)) ElementSetValue(prQty@(itemName), prQty, "change");
                        if (prUnitPrice@(itemName)) ElementSetValue(prUnitPrice@(itemName), prUnitPrice, "change");
                        if (prPrice@(itemName)) ElementSetValue(prPrice@(itemName), prPrice, "change");
                        if (prPriceTw@(itemName)) ElementSetValue(prPriceTw@(itemName), prPriceTw, "change");
                        if (urgentMtl@(itemName)) ElementSetValue(urgentMtl@(itemName), urgentMtl, "change");
                        if (productionPlan@(itemName)) ElementSetValue(productionPlan@(itemName), productionPlan, "change");
                        if (project@(itemName)) ElementSetValue(project@(itemName), project, "change");
                        if (prDetailRemark@(itemName)) ElementSetValue(prDetailRemark@(itemName), prDetailRemark, "change");
                        if (prSequence@(itemName)) ElementSetValue(prSequence@(itemName), prSequence, "change");
                        if (mtlModify@(itemName)) ElementSetValue(mtlModify@(itemName), mtlModify, "change");

                        $(targetSelector@(itemName)).parent().find(".help-block").css("display", "grid");
                        $(targetSelector@(itemName)).parent().siblings().find(".help-block").css("display", "grid");

                        if (mtlItemId != -1) {
                            $(mtlItemId@(itemName)).parent().find(".help-block").css("display", "grid");
                            $(mtlItemId@(itemName)).parent().siblings().find(".help-block").css("display", "grid");
                        }

                        if (soDetailId != -1) {
                            $(soDetailId@(itemName)).parent().find(".help-block").css("display", "grid");
                            $(soDetailId@(itemName)).parent().siblings().find(".help-block").css("display", "grid");
                        }
                    }
                }

                Close@(itemName)();
            });
        }

        function Close@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#modal@(itemName)").modal('hide');
        }
    </script>
                        )