@using Business_Manager.Helpers
@{
    string itemName = "BlackLabel";
    string itemNameText = "黑物成型標籤";
    string authority = ViewBag.authority;
}

<div class="row" id="editData@(itemName)">
    <input type="hidden" id="QcNoticeId" name="QcNoticeId" value="-1" />
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)"></form>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtBarcodeNo@(itemName)">產品條碼<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNo@(itemName)"
                                       placeholder="請輸入產品條碼" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtMoId@(itemName)">製令<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMoId@(itemName)"
                                       placeholder="請輸入製令" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button id="Print@(itemName)" type="button" class="btn btn-success" onclick="Print@(itemName)()"><i class="fas fa-save"></i>列印</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    $(document).ready(function () {
    });


    function Print@(itemName)() {
        let targetUrl = "@Url.Action("GetBlackLabel", "PrintLabel")";
        let postData = {
            "BarcodeNo": $("#txtBarcodeNo@(itemName)").val(),
            "MoId": $("#txtMoId@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            alert("列印成功", "success", 0);
        } else {
            alert(data.msg, "alert", 0);
        }
    }
</script>
)