@using Business_Manager.Helpers
@{
    string itemName = "JCSecondOperationPrintLabel";
    string itemNameText = "晶彩二次加工及鍍膜課標籤列印";
    string authority = ViewBag.authority;
}
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>
<div class="row" id="editData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)"></form>
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="cboLabelType@(itemName)">條碼類型<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-12">
                        <select class="form-control" id="cboLabelType@(itemName)">
                            <option value="" selected>請選擇</option>
                            <option value="A">上蓋標籤</option>
                            <option value="B">流程卡標籤</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="cboLabelPrintMachine@(itemName)">標籤機<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-12">
                        <select class="form-control" id="cboLabelPrintMachine@(itemName)" name="cboLabelPrintMachine@(itemName)"
                                data-msg-required="選擇標籤機" data-rule-required="true"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtBarcodeNo@(itemName)">產品條碼<span class="text-danger">*</span></label>

                    <div class="col-12 col-md-12">
                        <input type="text" class="form-control" id="txtBarcodeNo@(itemName)"
                               placeholder="請輸入產品條碼" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtMoId@(itemName)">製令<span class="text-danger">*</span></label>
                    <div class="col-12 col-md-12">
                        <input type="text" class="form-control" id="txtMoId@(itemName)"
                               placeholder="請輸入製令" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center text-lg-right">
            <button id="Print@(itemName)" type="button" class="btn btn-success" onclick="Print@(itemName)()"><i class="fas fa-save"></i>列印</button>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    $(document).ready(function () {
        ComboBoxs.Default("#cboLabelPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine02", "PrintLabel")", {}, "", "CHOOSE", "請選擇標籤機", "LabelPrintName", "LabelPrintNo");
    });

    function Print@(itemName)() {
        let targetUrl = "@Url.Action("GetJCSecondOperationLabel", "PrintLabel")";
        let postData = {
            "BarcodeNo": $("#txtBarcodeNo@(itemName)").val(),
            "MoId": $("#txtMoId@(itemName)").val(),
            "PrintMachine": $("#cboLabelPrintMachine@(itemName)").val(),
            "LabelType": $("#cboLabelType@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            alert("列印成功", "success", 0);
        } else {
            alert(data.msg, "alert", 0);
        }
    }
</script>
)
