@using Business_Manager.Helpers
@{
    string itemName = "SunnyBoxLabel";
    string itemNameText = "舜宇出貨包裝標籤";
    string authority = ViewBag.authority;
}

<div class="row">
    <div class="col-12 title-block ">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="row" id="editData@(itemName)">
    <input type="hidden" id="QcNoticeId" name="QcNoticeId" value="-1" />
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)"></form>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtMoId@(itemName)">製令條碼<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMoId@(itemName)"
                                       placeholder="請輸入製令條碼" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtMtlName@(itemName)">部番<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlName@(itemName)"
                                       placeholder="請輸入部番" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtProType@(itemName)">產品類別<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtProType@(itemName)"
                                       placeholder="請輸入產品類別" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtModelNo@(itemName)">模號<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtModelNo@(itemName)"
                                       placeholder="請輸入模號" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtCaseNo@(itemName)">方案<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCaseNo@(itemName)"
                                       placeholder="請輸入方案" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtNum@(itemName)">數量<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNum@(itemName)"
                                       placeholder="請輸入數量" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtDrawingsNo@(itemName)">圖面編號<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDrawingsNo@(itemName)"
                                       placeholder="請輸入圖面編號" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtSupplierNo@(itemName)">供應商代號<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSupplierNo@(itemName)" value="A10"
                                       placeholder="請輸入供應商代號" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtShipDate@(itemName)">出貨日期<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtShipDate@(itemName)"
                                       placeholder="請輸入出貨日期" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtRemarks@(itemName)">備註<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRemarks@(itemName)"
                                       placeholder="請輸入備註" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button id="Print@(itemName)" type="button" class="btn btn-success" onclick="Print@(itemName)()"><i class="fas fa-save"></i>列印</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    let CustomerDwgNo = "";

    $("#txtMoId@(itemName)").keydown(function (e) {
        if (e.keyCode == 13) {
            let targetUrl = "@Url.Action("GetSunnyBoxLabel", "PrintLabel")";
            let postData = {                
                "MoId": $("#txtMoId@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    if (item.CustomerDwgNo.indexOf("M")>=0) {                        
                        const CustomerDwgNoArray = item.CustomerDwgNo.replace("M", "").split("-");
                        CustomerDwgNo = CustomerDwgNoArray[0];                        
                    } else {
                        CustomerDwgNo = item.CustomerDwgNo
                    }                   
                    const MtlItemNameArray = item.MtlItemName.split(" ");
                    if (MtlItemNameArray.length == 2) {
                        switch (MtlItemNameArray[0]) {
                            case "公模仁":
                                $("#txtProType@(itemName)").val("A");

                                if (CustomerDwgNo.indexOf("X01") >= 0) {
                                    if (CustomerDwgNo.indexOf("CP") >= 0) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf.indexOf("CP") >= 0) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            case "母模仁":
                                $("#txtProType@(itemName)").val("B");
                                console.log(item.Edition);
                                if (CustomerDwgNo.indexOf("X01") >= 0) {
                                    if (CustomerDwgNo.indexOf("CP") >= 0) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP") >= 0) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            case "母套筒":
                            case "母襯套":
                                $("#txtProType@(itemName)").val("C");
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            case "公套筒":
                            case "公襯套":
                                $("#txtProType@(itemName)").val("D");
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            default:
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                        }
                    } else if (MtlItemNameArray.length == 3){
                        switch (MtlItemNameArray[1]) {
                            case "公模仁":
                                $("#txtProType@(itemName)").val("A");
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            case "母模仁":
                                $("#txtProType@(itemName)").val("B");
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            case "母套筒":
                            case "母襯套":
                                $("#txtProType@(itemName)").val("C");
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            case "公套筒":
                            case "公襯套":
                                $("#txtProType@(itemName)").val("D");
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                            default:
                                if (CustomerDwgNo.indexOf("X01") == true) {
                                    if (CustomerDwgNo.indexOf("CP") == true) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01CP";

                                    } else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "X01";
                                    }
                                } else {
                                    if (CustomerDwgNo.indexOf("CP")) {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition + "CP";
                                    }
                                    else {
                                        $("#txtDrawingsNo@(itemName)").val() = CustomerDwgNo + item.Edition;
                                    }
                                }
                                break;
                        }
                    }                    
                });                
            } else {
                alert(data.msg, "alert", 0);
            }            
        }
    });

    function Print@(itemName)() {
        //模號+部番+方案+數量+類別+供應商+圖號
        var LabelText = $("#txtModelNo@(itemName)").val() + "/" + $("#txtMtlName@(itemName)").val() + "/" + $("#txtCaseNo@(itemName)").val() + "/" + $("#txtProType@(itemName)").val() + "/" + $("#txtSupplierNo@(itemName)").val() + "/" + $("#txtDrawingsNo@(itemName)").val()
        console.log(LabelText);

        @*let targetUrl = "@Url.Action("GetBlackLabel", "PrintLabel")";
        let postData = {
            "BarcodeNo":LabelText
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            alert("列印成功", "success", 0);
        } else {
            alert(data.msg, "alert", 0);
        }*@
    }
</script>
        )