
@using Business_Manager.Helpers
@{
    string itemName = "ViewMtlChangeDetail";
    string itemNameText = "品號欄位變更";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProdModeQ@(itemName)">材料品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入材料品號">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--清單-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)"><i class="fal fa-search"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">欄位編號</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">欄位名稱</th>
                                        <th scope="col" style="max-width: 300px; min-width: 100px;">欄位型態</th>
                                        <th scope="col" style="max-width: 175px; min-width: 100px;">新文字欄位值</th>
                                        <th scope="col" style="max-width: 150px; min-width: 130px;">新值名稱</th>
                                        <th scope="col" style="max-width: 150px; min-width: 130px;">原文字欄位值</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">原值名稱</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">新數值欄位值</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">原數值欄位值</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">備註</th>
                                        <th class="text-center col-sticky" scope="col" style="max-width: 250px; min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MtlChangeDetailId" name="MtlChangeDetailId" value="-1" />
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemNo@(itemName)">品號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtMtlItemId@(itemName)" name="txtMtlItemId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="MtlItemNoClear@(itemName)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>品號</dt>
                                            <dd id="desMtlItemNo@(itemName)" style="font-size: 16px;"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
@<script>
    let objForm@(itemName) = "#editForm@(itemName)";

    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 999
    };

    let mrId@(itemName);
    let excessFlag@(itemName);

    function Expand@(itemName)(mtlItemChangeId) {
        if (mtlItemChangeId > 0) {
            $(".advanced-block").slideDown("slow");
            Return@(itemName)();
        }
    }
</script>)