@using Business_Manager.Helpers
@{
    string itemName = "Account2";
    string itemNameText = "點餐系統";

    ViewBag.Title = itemNameText;
}





<div class="body-mob bg-white" style="padding-top:0;">
    <main class="main-share mian-account">
        <div class="block">
            <div class="logo">
                <img src="@Url.Content("~/Content/images/logo.png")" />
            </div>
            <div class="form" style="background-color:unset">
                <div>
                    <a href="/EBP/FoodOrdering/OrderHistory" class="alink">
                        <i class="fas fa-user"></i>個人
                    </a>
                    <a data-toggle="modal" data-target="#choose-member" class="alink">
                        <i class="fas fa-users"></i>代訂
                    </a>
                </div>

            </div>


        </div>


    </main>


</div>

<!--彈窗：點選工號-->
<div class="modal fade" id="choose-member" tabindex="-1" role="dialog" aria-labelledby="add-object-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalCenterTitle" style="font-weight:700;text-align:center">
                選取人員</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
                <div class="form-group row" style="max-width: 500px;">
                    <label class="" for="Management"> 
                    </label>
                    <div class="col-12 col-md-9 col-lg-9" style="margin-right: auto;margin-left: auto;">
                        <select class="form-control select2-hidden-accessible" id="Management" name="Management" data-msg-required="請選擇人員" data-rule-required="true" data-select2-id="select2-data-cboAnnualIdActivityManagement" tabindex="-1" aria-hidden="true"><option value="" data-select2-id="select2-data-16-tmgw">請選擇人員</option>
                                                                                                                                                                                                                                                                   
                        <option value="1" data-text="2023" data-select2-id="select2-data-4-f9ul">ZY00122</option>
                        <option value="2" data-text="2024" data-select2-id="select2-data-17-ptt7">ZY00123</option>
                        </select>
                        <span class="select2 select2-container select2-container--default select2-container--below select2-container--open select2-container--focus" dir="ltr" data-select2-id="select2-data-3-l2t8" style="width: 100%;">
                     
                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-block">
                    <a data-dismiss="modal" aria-label="Close" class="link">關閉</a>
                    <a href="/EBP/FoodOrdering/OrderHistory"  aria-label="Close" class="link">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="nav">
    <div class="nav-content">
        <ul class="nav-menu" style="">
            <li>
                <a href="/EBP/FoodOrdering" class="nav-link ">
                    <i class="far fa-home-lg"></i>
                    <span>首頁</span>
                </a>
            </li>
            <li>
                <a href="~/EBP/FoodOrdering/DiningCar" class="nav-link">
                    <i class="fas fa-utensils-alt"></i>
                    <span>我的餐車</span>
                </a>
            </li>
            <li>
                <a href="~/EBP/FoodOrdering/Account" class="nav-link active">
                    <i class="fas fa-user-circle"></i>
                    <span>帳號</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
