@using Business_Manager.Helpers
@{
    string itemName = "Index2";
    string itemNameText = "點餐系統";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
@<style>
</style>
)

<div class="body-mob" style="padding-top:0;">
    <header></header>
    <main>

        <div class="item-page">
            <a class="btn-close" href="/EBP/FoodOrdering/Index">
                <i class="fas fa-times" style=""></i>
            </a>
            <div class="order-item-img" style="">
                <img src="~/Areas/EBP/Content/images/food-ordering/food01.jpg" alt="Alternate Text" />
            </div>

            <div class="order-item-content">
                <div class="text-block">
                    <p>A餐 便當 Boxed meal</p>
                    <p class="price-color">$60</p>
                </div>
            </div>
        </div>
        <div class="menu-pick-block">
            <div class="pick-block">
                <div class="pick-title">
                    <span>醬料選擇</span>
                    <span class="pick-choose right">必填</span>
                </div>
                <div class="pick-box">
                    <div class="pick-list">
                        <label for="row0_radio1" class="control control01 control--radio" name="row0_radio">
                            黑胡椒
                            <input id="row0_radio1" type="radio" name="row0_radio" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">免費</span>
                    </div>
                    <div class="pick-list">
                        <label for="row0_radio2" class="control control--radio" name="row0_radio">
                            蘑菇
                            <input id="row0_radio2" type="radio" name="row0_radio" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">免費</span>
                    </div>
                    <div class="pick-list">
                        <label for="row0_radio3" class="control control--radio" name="row0_radio">
                            綜合
                            <input id="row0_radio3" type="radio" name="row0_radio" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">免費</span>
                    </div>

                </div>
            </div>
            <div class="pick-block">
                <div class="pick-title">
                    <span>份量選擇</span>
                    <span class="pick-choose right">必填</span>
                </div>
                <div class="pick-box">
                    <div class="pick-list">
                        <label for="row1_radio1" name="row1_radio" class="control control02 control--radio">
                            正常
                            <input id="row1_radio1" name="row1_radio" type="radio" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">免費</span>
                    </div>
                    <div class="pick-list">
                        <label for="row1_radio2" name="row1_radio" class="control control02 control--radio">
                            加麵
                            <input id="row1_radio2" type="radio" name="row1_radio" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">+$ 10</span>
                    </div>

                </div>
            </div>
            <div class="pick-block">
                <div class="pick-title">
                    <span>加選</span>
                    <span class="pick-choose grey">可選</span>
                </div>
                <div class="pick-box">
                    <div class="pick-list">
                        <label class="control control--checkbox">
                            醬多
                            <input type="checkbox" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">免費</span>
                    </div>
                    <div class="pick-list">
                        <label class="control control--checkbox">
                            加蛋
                            <input type="checkbox" />
                            <span class="control__indicator"></span>
                        </label>
                        <span class="pick-list-price" style="">+$ 10</span>
                    </div>
                </div>
            </div>

            <div class="pick-block" style="">
                <div class="pick-title">
                    <span>備註</span>

                </div>
                <textarea style="margin-top:10px" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <!--加購產品-->
        @*<div class="menu-pick-block">
                <div class="pick-block" >
                    <div class="pick-title">
                        <span>加購產品</span>
                        <span class="pick-choose grey">可選</span>
                    </div>
                    <div class="pick-box">
                        <div class="pick-list">
                            <label class="control control--checkbox">
                                雞塊
                                <input type="checkbox" checked="checked" />
                                <span class="control__indicator"></span>
                            </label>
                            <span class="pick-list-price" style="">+$ 30</span>
                        </div>
                        <div class="pick-list">
                            <label class="control control--checkbox">
                                熱狗
                                <input type="checkbox" />
                                <span class="control__indicator"></span>
                            </label>
                            <span class="pick-list-price" style="">+$ 30</span>
                        </div>
                    </div>
                </div>
            </div>*@

    </main>


</div>
<footer class="nav">
    <div class="nav-content">
        <div class="count-block" style="flex: 1;text-align: center;">
            <div class="qty btn-operate">
                <span class="color-grey"><i class="fas fa-minus-circle"></i></span>
                <input type="number" class="count" name="qty" value="1">
                <span class="color-orange"> <i class="fas fa-plus-circle"></i></span>
            </div>
        </div>
        <div style="flex: 2; padding: 0 10px;">
            <a class="btn-right" href="~/EBP/FoodOrdering/DiningCar">加入餐車</a>
        </div>
    </div>
</footer>


@Html.Resource("js",
        @<script>
         

        </script>
    )
