<appSettings>
  <!--正式區DB-->
  <!--<add key="MainDb"
       value="Data Source=192.168.0.28;
       Initial Catalog=BM;
       User Id=sa;
       Password=JCMes2021;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />-->
  <add key="MainDb"
       value="Data Source=192.168.0.28;
       Initial Catalog=BM_devep;
       User Id=sa;
       Password=JCMes2021;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--中揚ERP-->
  <!--<add key="ErpDb"
       value="Data Source=192.168.20.3;
       Initial Catalog=ZY01;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />-->
  <add key="ErpDb"
       value="Data Source=192.168.20.3;
       Initial Catalog=T_BAK_DGJMO;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <add key="ErpSysDb"
       value="Data Source=192.168.20.3;
       Initial Catalog=DSCSYS;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--晶彩光学ERP-->
  <!--<add key="ErpDb_CT"
       value="Data Source=192.168.20.3;
       Initial Catalog=DGJMO;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />-->
  <add key="ErpDb_CT"
       value="Data Source=192.168.20.3;
       Initial Catalog=T_BAK_DGJMO;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--群英光学ERP-->
  <add key="ErpDb_CY"
       value="Data Source=192.168.20.3;
       Initial Catalog=DGCE_A1;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--紘立光電ERP-->
  <add key="ErpDb_Eterge"
       value="Data Source=192.168.150.234;
       Initial Catalog=ETG;
       User ID=BmInterface;
       Password=1eff11d4deb;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <add key="ErpSysDb_Eterge"
      value="Data Source=192.168.150.234;
       Initial Catalog=DSCSYS;
       User ID=BmInterface;
       Password=1eff11d4deb;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--中揚HRM-->
  <add key="HrmDb"
       value="Data Source=192.168.20.3;
       Initial Catalog=HRMDB;
       User ID=BmInterface;
       Password=84cdb95d7d3;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--紘立HRM-->
  <add key="HrmDb_Eterge"
       value="Data Source=192.168.150.234;
       Initial Catalog=HRMDB;
       User ID=BmInterface;
       Password=1eff11d4deb;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--BPM-->
  <add key="bpmServerPath" value="http://192.168.20.123:8080" />
  <add key="bpmAccount" value="test001" />
  <add key="bpmPassword" value="Jmo@@mis168" />
  <!--BPM 正式資料庫-->
  <add key="BpmDb"
      value="Data Source=192.168.20.123;
      Initial Catalog=JMO;
      User ID=sa;
      Password=Jmo@@mis168;
      integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--IOT-->
  <add key="MainIotDb"
     value="Data Source=192.168.20.109;
       Initial Catalog=AutoMatic_IOT;
       User ID=MES_user;
       Password=1qaz#EDC;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--舊版MES-->
  <add key="OldDb"
       value="Data Source=192.168.20.137;
       Initial Catalog=MES;
       User Id=sa;
       Password=JmoMes2019;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--正式區DB-->
  <!--客戶供應商查詢-->
  <add key="OfficialDb"
       value="Data Source=192.168.20.137;
       Initial Catalog=Official;
       User ID=sa;
       Password=JmoMes2019;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
  <!--自動化部門DB-->
  <add key="AutomationDB"
       value="Data Source=192.168.150.209;
       Initial Catalog=AutoMatic_IOT;
       User ID=sa;
       Password=Qaz12345;
       integrated security=false;persist security info=True;MultipleActiveResultSets=True;" />
</appSettings>