<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.txt">
  <extensions>
    <add assembly="NLog.Web"/>
  </extensions>
  <targets async="true">
    <!-- 以資料庫形式 -->
    <target name="databaseTarget"
            xsi:type="Database"
            keepConnection="false"
            useTransactions="false"
            dbProvider="System.Data.SqlClient"
            commandText="INSERT INTO BAS.[Log] (Level, Message, Host, UserNo, TriggerUrl
                         , ServerIP, ClientIP, Source, Detail
                         , CreateDate, CreateBy)
                         VALUES (@Level, @Message, @Host, @UserNo, @TriggerUrl
                         , @ServerIP, @ClientIP, @Source, @Detail
                         , @CreateDate, @CreateBy);">
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Host" layout="${machinename}" />
      <parameter name="@UserNo" layout="${gdc:userNo}" />
      <parameter name="@TriggerUrl" layout="${aspnet-request-url}" />
      <parameter name="@ServerIP" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@ClientIP" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
      <parameter name="@Source" layout="${callsite:className=true}" />
      <parameter name="@Detail" layout="${exception:format=tostring}" />
      <parameter name="@CreateDate" layout="${date}" />
      <parameter name="@CreateBy" layout="-1" />
    </target>
  </targets>
  <rules>
    <!--以資料庫形式儲存-->
    <logger name="*" minlevel="Trace" writeTo="databaseTarget" />
  </rules>
</nlog>