@using Business_Manager.Helpers
@{
    string itemName = "ViewSoDetailForSpreadsheet";
    string itemNameText = "訂單單身資料";
}

@Html.Resource("css",
    @<style>
        .table-sticky thead .col-sticky:nth-last-child(1) {
            right: 0;
        }

        .table-sticky tbody .col-sticky:nth-last-child(1) {
            right: 0;
        }
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input class="form-control" id="txtSoErpFullNoQ@(itemName)" name="txtSoErpFullNoQ@(itemName)"
                                               placeholder="請輸入訂單單號" />
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)"
                                               placeholder="請輸入品號/品名/部番" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 200px;">訂單單號</th>
                                        <th scope="col" style="min-width: 100px;">訂單序號</th>
                                        <th class="text-right" scope="col" style="min-width: 100px;">訂單數量</th>
                                        <th scope="col" style="min-width: 175px;">品號</th>
                                        <th scope="col" style="min-width: 175px;">品名</th>
                                        <th scope="col" style="min-width: 200px;">部番</th>
                                        <th scope="col" style="min-width: 200px;">核單狀態</th>
                                        <th class="text-center col-sticky" scope="col" style="min-width: 110px;">
                                            <label class="checkbox-mode control control-solid control-solid-info control--checkbox" style="margin-bottom: 0px;">
                                                全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                                <span class="control__indicator"></span>
                                            </label>
                                            <label class="radio-mode">請選擇</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success checkbox-mode" onclick="Save@(itemName)()"><i class="fas fa-check"></i>確定</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let spreadsheet@(itemName);
        let cell@(itemName);
        let type@(itemName);
        let companyId@(itemName);
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#queryForm@(itemName)";

        function Pop@(itemName)(config) {
            spreadsheet@(itemName) = config.objectSpreadsheet;
            cell@(itemName) = config.objectCell;
            type@(itemName) = config.type;
            companyId@(itemName) = config.objectCompanyId;

            $("#txtSearchKeyQ@(itemName)").val(config.objectDesMtlItemNo);

            Query@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-so-detail-id]").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-so-detail-id]").not(":disabled").prop("checked", false);
                }
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetSoDetail", "SaleOrder")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SoErpFullNo": $("#txtSoErpFullNoQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "TransferStatus": "Y",
                "CompanyId": companyId@(itemName)
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerNo} ${item.CustomerShortName}" style="max-width: 150px;">${item.CustomerNo} ${item.CustomerShortName}</td>
                                        <td>${item.SoErpPrefix}-${item.SoErpNo}</td>
                                        <td>${item.SoSequence}</td>
                                        <td class="text-right">${item.SoQty.toLocaleString(`en`)}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 175px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 175px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerMtlItemNo}" style="max-width: 200px;">${item.CustomerMtlItemNo}</td>
                                        <td class="text-center col-sticky">`;
                        switch (type@(itemName)) {
                            case "radio":
                                innerHtml += `<label class="control control-solid control-solid-info control--radio">
                                                <input type="radio" data-so-detail-id="${item.SoDetailId}" value="${item.SoDetailId}" />
                                                <span class="control__indicator"></span>
                                              </label>`;
                                break;
                            case "checkbox":
                                innerHtml += `<label class="control control-solid control-solid-info control--checkbox">
                                                <input type="checkbox" data-so-detail-id="${item.SoDetailId}" value="${item.SoDetailId}" />
                                                <span class="control__indicator"></span>
                                              </label>`;
                                break;
                        }
                        innerHtml += `    <input type="hidden" name="txtCustomerNo@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.CustomerNo}" />
                                          <input type="hidden" name="txtCustomerShortName@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.CustomerShortName}" />
                                          <input type="hidden" name="txtSoErpPrefix@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.SoErpPrefix}" />
                                          <input type="hidden" name="txtSoErpNo@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.SoErpNo}" />
                                          <input type="hidden" name="txtSoSequence@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.SoSequence}" />
                                          <input type="hidden" name="txtMtlItemNo@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.MtlItemNo}" />
                                          <input type="hidden" name="txtMtlItemName@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.MtlItemName}" />
                                          <input type="hidden" name="txtCustomerMtlItemNo@(itemName)" data-so-detail-id="${item.SoDetailId}" value="${item.CustomerMtlItemNo}" />
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            switch (type@(itemName)) {
                case "radio":
                    $(".radio-mode").show();
                    $(".checkbox-mode").hide();

                    $("input[type='radio']").click(function () {
                        if ("[data-so-detail-id]:checked") {
                            let soDetailId = $(this).data("so-detail-id");

                            if (soDetailId) {
                                let customerNo = $(`input[name="txtCustomerNo@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let customerShortName = $(`input[name="txtCustomerShortName@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let soErpPrefix = $(`input[name="txtSoErpPrefix@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let soErpNo = $(`input[name="txtSoErpNo@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let soSequence = $(`input[name="txtSoSequence@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let mtlItemNo = $(`input[name="txtMtlItemNo@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let mtlItemName = $(`input[name="txtMtlItemName@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();
                                let customerMtlItemNo = $(`input[name="txtCustomerMtlItemNo@(itemName)"][data-so-detail-id="${soDetailId}"]`).val();

                                spreadsheet@(itemName).setValue(cell@(itemName), soErpPrefix + "-" + soErpNo + "(" + soSequence + ")");
                            }
                        }

                        Close@(itemName)();
                    });
                    break;
                case "checkbox":
                    $(".radio-mode").hide();
                    $(".checkbox-mode").show();
                    break;
            }
        }

        function Save@(itemName)() {
            let detailList = [];

            if ($("input[type='checkbox'][data-so-detail-id]:checked").length > 0) {
                $.each($("input[type='checkbox'][data-so-detail-id]:checked"), function (i) {
                    let soDetailId = $(this).data("so-detail-id");

                    detailList.push(soDetailId);
                });

                if (soDetailId@(itemName)) ElementSetValue(soDetailId@(itemName), detailList, "change");
            }

            $("#cbxSelectAll@(itemName)").prop("checked", false);
            Close@(itemName)();
        }

        function Close@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#modal@(itemName)").modal('hide');
        }
    </script>
)