@using Business_Manager.Helpers
@{
    string itemName = "ViewToolModelBatch";
    string itemNameText = "工具批量生產";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-ml">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title">目前工具型號 <span class="" id="desToolModelName@(itemName)"></span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)" onsubmit="return false;">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto" style="width: 80%;">
                                        <input type="number" class="form-control" id="txtProductionNum@(itemName)" name="txtProductionNum@(itemName)" placeholder="請輸入數量" />
                                    </div>
                                    <div class="col-auto" style="width: 20%;">
                                        <a class="btn btn-primary" onclick="Production@(itemName)()"><i class="fal fa-search"></i>確認</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        

        $(document).ready(function () {
            

        });

        $("#txtProductionNum@(itemName)").keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                Production@(itemName)();
            }
        });

        function Pop@(itemName)(ToolModelId, ToolModelName) {
            $("#ToolModelId").val(ToolModelId)
            $("#desToolModelName@(itemName)").text(ToolModelName)

            $("#txtProductionNum@(itemName)").focus();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

        }

        function Production@(itemName)() {
            let targetUrl = "@Url.Action("AddToolBatch", "Tool")";
            let postData = {
                "ToolModelId": $("#ToolModelId").val(),
                "ProductionNum": $("#txtProductionNum@(itemName)").val().trim()
            };
            let result = DataAccess.Add(targetUrl, postData, false, true);

            if (result) {
                $("#txtProductionNum@(itemName)").val("")
                Close@(itemName)();
            }
        }
        

        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }
    </script>
)