
@using Business_Manager.Helpers
@{
    string itemName = "ViewCncParameterSetting";
    string itemNameText = "加工編程參數設定細項";
    string authority = ViewBag.authority;
}

<!--列表-->
<div class="row" id="listData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 150px;">公司別</th>
                                        <th scope="col" style="max-width: 150px;">生產模式</th>
                                        <th scope="col" style="max-width: 200px;">製程</th>
                                        <th scope="col" style="max-width: 200px;">CNC編程名稱</th>
                                        <th scope="col" style="max-width: 200px;">CNC編程API名稱</th>
                                        <th scope="col" style="max-width: 200px;">參數名稱</th>
                                        <th scope="col" style="max-width: 200px;">參數編號</th>
                                        <th scope="col" style="max-width: 200px;">預設值</th>
                                        <th scope="col" style="max-width: 200px;">單位</th>
                                        <th scope="col" style="max-width: 200px;">輸入方式</th>
                                        <th scope="col" style="max-width: 200px;">參數性質</th>
                                        <th class="text-center" scope="col" style="max-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncProgName@(itemName)">編程程式名稱<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCncProgName@(itemName)" name="txtCncProgName@(itemName)"
                                               placeholder="請輸入CNC編程名稱" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncParamNo@(itemName)">參數編號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCncParamNo@(itemName)" name="txtCncParamNo@(itemName)"
                                               placeholder="請輸入參數編號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncParamName@(itemName)">參數名稱<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCncParamName@(itemName)" name="txtCncParamName@(itemName)"
                                               placeholder="請輸入參數編號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncParamValue@(itemName)">預設值<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCncParamValue@(itemName)" name="txtCncParamValue@(itemName)"
                                               placeholder="請輸入預設值" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncParamUomId@(itemName)">單位<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboCncParamUomId@(itemName)" name="cboCncParamUomId@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12">輸入方式<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboCncParamType@(itemName)" name="cboCncParamType@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12">參數性質<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboCncParamStatus@(itemName)" name="cboCncParamStatus@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>回上頁</button>
            </div>
        </div>
    </div>
</div>
@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let cncProgId@(itemName)= -1;

        $(document).ready(function () {
           
        });


        function Edit@(itemName)() {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            if (!isMobile) {
                $("#cboCncParamUomId@(itemName)").select2({
                    width: "100%"
                });  
                $("#cboCncParamType@(itemName)").select2({
                    width: "100%"
                }); 
            }
            ComboBoxs.Default("#cboCncParamUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "MasterCam")", {}, "", "ALL", "", "UomName", "UomId");
            ComboBoxs.Default("#cboCncParamType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ViewCncParameterSetting" }, "", "ALL", "", "TypeName", "TypeNo");

        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddCncParameter", "MasterCam")";
                let postData = {
                    "CncProgId": cncProgId@(itemName),
                    "CncParamNo": $("#txtCncParamNo@(itemName)").val(),
                    "CncParamName": $("#txtCncParamName@(itemName)").val(),
                    "CncParamValue": $("#txtCncParamValue@(itemName)").val(),
                    "CncParamUomId": $("#cboCncParamUomId@(itemName)").val(),
                    "CncParamType": $("#cboCncParamType@(itemName)").val(),
                    "CncParamStatus": $("#cboCncParamStatus@(itemName)").val()
                };
                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data) {
                    let cncProgId;
                    $.each(data.result, function (i, item) {
                        cncProgId = item.CncProgId
                    });
                    ExpandProgramSetting(cncProgId);
                }
            }
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));
            Query@(itemName)();
        }
    </script>
)