@using Business_Manager.Helpers
@{
    string itemName = "ViewParameterHistoryData";
    string itemNameText = "參數檢視";
    string authority = ViewBag.authority;
}
<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>                                        
                                        <th scope="col" style="max-width: 150px;">LOG</th>
                                        <th scope="col" style="max-width: 150px;">參數名稱</th>
                                        <th scope="col" style="max-width: 150px;">數值</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>
@Html.Resource("js",
@<script>
    function Query@(itemName)(CncProgramWorkId) {
        InitData@(itemName)(CncProgramWorkId);
    }

    function InitData@(itemName)(CncProgramWorkId) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetParameterHistoryData", "MasterCam")";
        let postData = {
            "CncProgramWorkId": CncProgramWorkId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
                $.each(data.result, function (i, item) {                   
                    innerHtml += `<tr>                                        
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CncProgLogId}" style="max-width: 200px;">${item.CncProgLogId}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CncParamName}" style="max-width: 200px;">${item.CncParamName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RequestValues}" style="max-width: 200px;">${item.RequestValues}</td>
                                    </tr>`;
                });
        } else {
            innerHtml += `<tr>
                                <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
    }

    function Close@(itemName)() {
        $("#modal@(itemName)").modal("hide");
    }
</script>
)