@using Business_Manager.Helpers
@{
    string itemName = "ViewCncDirectWorkLog";
    string itemNameText = "直接報工";
    string authority = ViewBag.authority;
}
@Html.Resource("css",
    @<style>
        body {
            margin: 0;
        }
    </style>
        )
<!--新增/編輯-->
<div class="row" id="editData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <h5 class="form-label col-12">主程式回傳<span class="text-danger">*</span></h5>
            </div>
            <div class="card-body">
                <div class="col-12"> 
                    <label class="col-12 col-form-label" for="txtMainNcName@(itemName)" data-msg-maxlength="必須少於 4 個字元" >編程編號</label>
                    <input type="text"  class="form-control" id="txtMainNcName@(itemName)" name="txtMainNcName@(itemName)" 
                           onkeyup="this.value=this.value.replace(/[, ]/g,'')"
                           maxlength="4" minlength="4"
                           />
                </div>
                <div class="col-12">
                    <input type="file" id="MainProgram@(itemName)" name="MainProgram@(itemName)" />
                    <input type="hidden" id="txtMainProgram@(itemName)" name="txtMainProgram@(itemName)" />
                </div>
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">副程式回傳<span class="text-danger">*</span></h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <label class="col-12 col-form-label" for="txtSubNcName@(itemName)" data-msg-maxlength="必須少於 8 個字元" maxlength="4" minlength="4">編程編號</label>
                    <input type="text" class="form-control" id="txtSubNcName@(itemName)" name="txtSubNcName@(itemName)"
                           onkeyup="this.value=this.value.replace(/[, ]/g,'')" 
                           maxlength="4" minlength="4"
                           />
                </div>
                <div class="col-12">
                    <input type="file" id="SubProgram@(itemName)" name="SubProgram@(itemName)" />
                    <input type="hidden" id="txtSubProgram@(itemName)" name="txtSubProgram@(itemName)" />
                </div>
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">圖檔回傳<span class="text-danger">*</span></h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <input type="file" id="Image@(itemName)" name="Image@(itemName)" />
                    <input type="hidden" id="txtImage@(itemName)" name="txtImage@(itemName)" />
                </div>
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">工時回報</h5>
            </div>
            <div class="card-body">
                <div class="col-12">                    
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtWorkBeginTime@(itemName)">開工時間 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control timedropper" id="txtWorkBeginTime@(itemName)" name="txtWorkBeginTime@(itemName)"
                                               data-msg-required="請輸入開工時間" data-rule-required="true"
                                               data-msg-maxlength="必須少於 8 個字元" maxlength="8" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12">開工日期</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtWorkEndTime@(itemName)">完工時間 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control timedropper" id="txtWorkEndTime@(itemName)" name="txtWorkEndTime@(itemName)"
                                               data-msg-required="請輸入開工時間" data-rule-required="true"
                                               data-msg-maxlength="必須少於 8 個字元" maxlength="8" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">完工日期</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>                   
                </div>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };
    let objForm@(itemName) = "#editForm@(itemName)";
    $(document).ready(function () {
        let currentDate = new Date();
        Suites.DateDropper("#txtStartDateQ@(itemName),#txtEndDateQ@(itemName)");
        Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
        Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

        let MainProgramUploadConfig = {
            fileSelector: "#MainProgram@(itemName)",
            targetSelector: "#txtMainProgram@(itemName)",
            required: false,
            uploadPath: "/MasterCam/ViewCncDirectWorkLog",
            maxFileCount: 10,
            //allowedFileExtensions:['txt','jpg'],
            defaultFile: $("#txtMainProgram@(itemName)").val()
        };
        Suites.FileUpload(MainProgramUploadConfig);

        let SubProgramUploadConfig = {
            fileSelector: "#SubProgram@(itemName)",
            targetSelector: "#txtSubProgram@(itemName)",
            required: false,
            uploadPath: "/MasterCam/ViewCncDirectWorkLog",
            maxFileCount: 10,
            //allowedFileExtensions: ['txt', 'jpg'],
            defaultFile: $("#txtSubProgram@(itemName)").val()
        };
        Suites.FileUpload(SubProgramUploadConfig);

        let ImageConfig = {
            fileSelector: "#Image@(itemName)",
            targetSelector: "#txtImage@(itemName)",
            required: false,
            uploadPath: "/MasterCam/ViewCncDirectWorkLog",
            maxFileCount: 10,
            allowedFileExtensions: ['png', 'jpg','dxf'],
            defaultFile: $("#txtImage@(itemName)").val()
        };
        Suites.FileUpload(ImageConfig);
    });

    $("#txtSubProgram@(itemName)").change(function () {       
        EndDate = new Date().getFullYear() + "-" + (new Date().getMonth() + 1) + "-" + new Date().getDate();
        EndTime = new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds().padStart(2,'0');
        $("#txtStartDateQ@(itemName)").val(StartDate);
        $("#txtWorkBeginTime@(itemName)").val(StartTime);
        $("#txtEndDateQ@(itemName)").val(EndDate);
        $("#txtWorkEndTime@(itemName)").val(EndTime);        
    });

    function Save@(itemName)() {
        cncProgLogId = -1;//初始化
        //新增Log id
        let targetUrl = "@Url.Action("AddCncProgramLog", "MasterCam")";
        let postData = {
            "CncProgId": $("#cboCncProgramCncProgramLog").val(),
            "MoProcessId": $("#cboMoProcessCncProgramLog").val(),
            "MachineId": $("#cboProcessMachineCncProgramLog").val()
        };
        let data = DataAccess.EditContinued(targetUrl, postData, false);
        if (data) {
            $.each(data.result, function (i, item) {
                cncProgLogId = item.CncProgLogId
            });                
        }

        let FileJson = {
            MainProgramFile: [],
            SubProgramFile: [],
            ImageFile: []
        };

        let MainProgramInputData =
        {
            "FileId": $("#txtMainProgram@(itemName)").val(),
            "NcName": "O"+$("#txtMainNcName@(itemName)").val(),
            "FileType":"1"
        }
        FileJson.MainProgramFile.push(MainProgramInputData);

        let SubProgramInputData =
        {
            "FileId": $("#txtSubProgram@(itemName)").val(),
            "NcName": "O"+$("#txtSubNcName@(itemName)").val(),
            "FileType":"1"
        }
        FileJson.SubProgramFile.push(SubProgramInputData);

        let ImageInputData =
        {
            "FileId": $("#txtImage@(itemName)").val(),
            "NcName":"",
            "FileType":"2"
        }
        FileJson.ImageFile.push(ImageInputData);

        let startDateTime = $("#txtStartDateQ@(itemName)").val() + " " + $("#txtWorkBeginTime@(itemName)").val();
        let endDateTime = $("#txtEndDateQ@(itemName)").val() + " " + $("#txtWorkEndTime@(itemName)").val();
        let WorkCT = TimeDifference(startDateTime, endDateTime);
        if ((Date.parse(endDateTime)).valueOf() <= (Date.parse(startDateTime)).valueOf()) {
            alert("日期時間欄位輸入錯誤！");
            return false;
        }
        if (WorkCT == -1) {
            alert("日期時間欄位輸入錯誤！");
        } else {
            targetUrl = "@Url.Action("AddCncDirectWork", "MasterCam")";
            postData = {
                "CncProgLogId": cncProgLogId,
                "MoProcessId": $("#cboMoProcessCncProgramLog").val(),
                "MachineId": $("#cboProcessMachineCncProgramLog").val(),
                "StartWorkDate": startDateTime,
                "EndWorkDate": endDateTime,
                "WorkCT": WorkCT,
                "FileArray": JSON.stringify(FileJson)
            };
            data = DataAccess.Add(targetUrl, postData, false, true);
            if (data) {
                Switch("#listDataCncProgramLog", "#editDataCncProgramLog , .unit-block"); 
                $(".advanced-block").hide();
                $(".help-block").hide();
                QueryCncProgramLog();
                $(window).prop("location", location.href);
            }
        }       
    }

    function TimeDifference(startDateTime, endDateTime) {
        var begin1 = startDateTime.substr(0, 10).split("-");
        var date1 = new Date(begin1[1] + '-' + begin1[2] + '-' + begin1[0]);
        var end1 = endDateTime.substr(0, 10).split("-");
        var date2 = new Date(end1[1] + '-' + end1[2] + '-' + end1[0]);
        var m = parseInt(Math.abs(date2 - date1) / (1000 * 60 * 60 * 24) * 60 * 60 * 24);
        var s1 = (parseInt(startDateTime.substr(11, 2)) * 60 * 60) + (parseInt(startDateTime.substr(-5, 2)) * 60) + (parseInt(startDateTime.substr(-2)));
        var s2 = parseInt(endDateTime.substr(11, 2)) * 60 * 60 + parseInt(endDateTime.substr(-5, 2)) * 60 + (parseInt(endDateTime.substr(-2)));
        var n = s2 - s1;
        var Second = m + n;
        return Second;
    }

    //副程式動態欄位
    function SubProgramUI@(itemName)(n) {
        for (var i = 0; i <= n; i++) {
            


            let SubProgramUploadConfig = {
                fileSelector: "#SubProgram@(itemName)",
                targetSelector: "#txtSubProgram@(itemName)",
                required: false,
                uploadPath: "/MasterCam/ViewCncDirectWorkLog",
                maxFileCount: 10,
                //allowedFileExtensions: ['txt', 'jpg'],
                defaultFile: $("#txtSubProgram@(itemName)").val()
            };
            Suites.FileUpload(SubProgramUploadConfig);
        }



    }
</script>
)