@using Business_Manager.Helpers
@{
    string itemName = "Routing";
    string itemNameText = "途程管理";
    string itemList = "routing";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
           )

<div class="" id="routing" style="display: none;">
    <span>TEST</span>
</div>


@Html.Resource("js",
    @<script>
        $(document).ready(function () {
        });

        function Expand@(itemName)() {
            $(".platform-content").hide();
            sidebar.unselect();

            $(`#routing`).show();
            sidebar.select("@itemList");

            //Init@(itemName)();
        }
    </script>
                )