@using Business_Manager.Helpers
@{
    string itemName = "SalesOrder";
    string itemNameText = "客戶訂單";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                )
<div class="row" id="">
    <div class="col-12">
        <div class="">
            <h1>訂單資料管理</h1>
            <div class="card-body">

                <div class="row mb-3">

                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-sync" href="#"><i class="fas fa-sync"></i>ERP資料同步</a>
                        <a class="btn file-excel auth-excel" href="#"><i class="fas fa-file-excel"></i>Excel</a>
                        <a class="btn btn-info auth-add" href="#"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblDataSaleOrderManagement">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 165px;">單號</th>
                                        <th scope="col" style="min-width: 125px;">單據日期</th>
                                        <th scope="col" style="min-width: 150px;">客戶</th>
                                        <th scope="col" style="min-width: 150px;">業務</th>
                                        <th scope="col" style="min-width: 140px;">確認者</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1075px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 50px;">流水號</th>
                                                        <th style="width: 150px;">品號</th>
                                                        <th style="width: 175px;">品名</th>
                                                        <th style="width: 100px;">數量</th>
                                                        <th style="width: 100px;">幣別</th>
                                                        <th style="width: 100px;">單價</th>
                                                        <th style="width: 100px;">金額</th>
                                                        <th style="width: 100px;">預計出貨日</th>
                                                        <th style="width: 200px;">備註</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2202-20230816001" style="max-width: 165px;">
                                            2202-20230816001
                                            <span class="erp-status"><span>核</span></span>
                                        </td>
                                        <td>2023-08-16</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="J002 東莞晶彩" style="max-width: 150px;">J002 東莞晶彩</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td>
                                            <span class="gender-male"><i class="fas fa-male"></i></span>ZY00764 胡秉丞
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle"  style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                        <td style="width: 100px;">20</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">100</td>
                                                        <td style="width: 100px;">2,000</td>
                                                        <td style="width: 100px;">2023-08-23</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2202-IHE0IR0YOUI" style="max-width: 165px;">
                                            2202-IHE0IR0YOUI

                                        </td>
                                        <td>2023-07-10</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="J002 東莞晶彩" style="max-width: 150px;">J002 東莞晶彩</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td></td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="17004" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="17004" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(17004);" style=""><i class="fas fa-eye"></i>查看</a>
                                                    <a class="dropdown-item btn-text-left auth-update" href="javascript:EditSaleOrderManagement(17004);" style=""><i class="fas fa-edit"></i>修改</a>
                                                    <a class="dropdown-item btn-text-left auth-delete" href="javascript:DeleteSaleOrderManagement(17004);" style=""><i class="fas fa-trash-alt"></i>刪除</a>
                                                    <a class="dropdown-item btn-text-left auth-import" href="javascript:ImportSaleOrderManagement(17004);" style=""><i class="fas fa-file-import"></i>拋轉</a>
                                                    <a class="dropdown-item btn-text-left auth-confirm" href="javascript:ConfirmSaleOrderManagement(17004);" style=""><i class="fas fa-check-circle"></i>確認</a>




                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A21J002-2109-305" style="width: 150px; max-width: 150px;">3A21J002-2109-305</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="上模仁(J1-081009-2100)(Aspherical Glass Lens)" style="width: 175px; max-width: 175px;">上模仁(J1-081009-2100)(Aspherical Glass Lens)</td>
                                                        <td style="width: 100px;">10</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">500</td>
                                                        <td style="width: 100px;">5,000</td>
                                                        <td style="width: 100px;">2023-07-20</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50px;">0002</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="1P-25-LEV1700KL" style="width: 150px; max-width: 150px;">1P-25-LEV1700KL</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="塑膠粒 LEV1700KL" style="width: 175px; max-width: 175px;">塑膠粒 LEV1700KL</td>
                                                        <td style="width: 100px;">520.8</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">6.2</td>
                                                        <td style="width: 100px;">3,228.96</td>
                                                        <td style="width: 100px;">2023-08-04</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2201-6GCNOUIGS19" style="max-width: 165px;">
                                            2201-6GCNOUIGS19

                                        </td>
                                        <td>2023-07-04</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="N001 新鉅科技" style="max-width: 150px;">N001 新鉅科技</td>
                                        <td>
                                            <span class="gender-male"><i class="fas fa-male"></i></span>ZY00416 蕭景瑜
                                        </td>
                                        <td></td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16388" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16388" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16388);" style=""><i class="fas fa-eye"></i>查看</a>
                                                    <a class="dropdown-item btn-text-left auth-update" href="javascript:EditSaleOrderManagement(16388);" style=""><i class="fas fa-edit"></i>修改</a>
                                                    <a class="dropdown-item btn-text-left auth-delete" href="javascript:DeleteSaleOrderManagement(16388);" style=""><i class="fas fa-trash-alt"></i>刪除</a>
                                                    <a class="dropdown-item btn-text-left auth-import" href="javascript:ImportSaleOrderManagement(16388);" style=""><i class="fas fa-file-import"></i>拋轉</a>
                                                    <a class="dropdown-item btn-text-left auth-confirm" href="javascript:ConfirmSaleOrderManagement(16388);" style=""><i class="fas fa-check-circle"></i>確認</a>




                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A11N001-2307-002" style="width: 150px; max-width: 150px;">3A11N001-2307-002</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="公模仁 BN-002491-A4-00" style="width: 175px; max-width: 175px;">公模仁 BN-002491-A4-00</td>
                                                        <td style="width: 100px;">2</td>
                                                        <td style="width: 100px;">NT$</td>
                                                        <td style="width: 100px;">11,900</td>
                                                        <td style="width: 100px;">23,800</td>
                                                        <td style="width: 100px;">2023-07-11</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="中揚(Ø9)一體化+D CUT(含精車)
公模、有艷消(A)(#1~2)" style="width: 200px; max-width: 200px;">
                                                            中揚(Ø9)一體化+D CUT(含精車)
                                                            公模、有艷消(A)(#1~2)
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2201-20230704001" style="max-width: 165px;">
                                            2201-20230704001

                                        </td>
                                        <td>2023-07-04</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="N001 新鉅科技" style="max-width: 150px;">N001 新鉅科技</td>
                                        <td>
                                            <span class="gender-male"><i class="fas fa-male"></i></span>ZY00416 蕭景瑜
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY01050 翁韶彤
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16389" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16389" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16389);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16389);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16389);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16389, '2201-20230704001');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3L20N001-2306-182" style="width: 150px; max-width: 150px;">3L20N001-2306-182</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="入子 KA004543-00-203-00" style="width: 175px; max-width: 175px;">入子 KA004543-00-203-00</td>
                                                        <td style="width: 100px;">4</td>
                                                        <td style="width: 100px;">NT$</td>
                                                        <td style="width: 100px;">3,500</td>
                                                        <td style="width: 100px;">14,000</td>
                                                        <td style="width: 100px;">2023-07-07</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50px;">0002</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3L20N001-2306-181" style="width: 150px; max-width: 150px;">3L20N001-2306-181</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="入子 KA004543-00-303-00" style="width: 175px; max-width: 175px;">入子 KA004543-00-303-00</td>
                                                        <td style="width: 100px;">6</td>
                                                        <td style="width: 100px;">NT$</td>
                                                        <td style="width: 100px;">3,900</td>
                                                        <td style="width: 100px;">23,400</td>
                                                        <td style="width: 100px;">2023-07-07</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2202-20230704003" style="max-width: 165px;">
                                            2202-20230704003

                                        </td>
                                        <td>2023-07-04</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="J002 東莞晶彩" style="max-width: 150px;">J002 東莞晶彩</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16390" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16390" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16390);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16390);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16390);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16390, '2202-20230704003');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A21J002-2111-144" style="width: 150px; max-width: 150px;">3A21J002-2111-144</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="上模仁 HJ5141LS02-TMC01-T1-不退火" style="width: 175px; max-width: 175px;">上模仁 HJ5141LS02-TMC01-T1-不退火</td>
                                                        <td style="width: 100px;">6</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">122</td>
                                                        <td style="width: 100px;">732</td>
                                                        <td style="width: 100px;">2023-07-14</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="6/26、6/27返修  弘景" style="width: 200px; max-width: 200px;">6/26、6/27返修  弘景</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50px;">0002</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A22J002-2111-145" style="width: 150px; max-width: 150px;">3A22J002-2111-145</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="下模仁 HJ5141LS02-BMC01-T2-不退火" style="width: 175px; max-width: 175px;">下模仁 HJ5141LS02-BMC01-T2-不退火</td>
                                                        <td style="width: 100px;">5</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">100</td>
                                                        <td style="width: 100px;">500</td>
                                                        <td style="width: 100px;">2023-07-14</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="6/26、6/27返修  弘景" style="width: 200px; max-width: 200px;">6/26、6/27返修  弘景</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2202-20230704002" style="max-width: 165px;">
                                            2202-20230704002

                                        </td>
                                        <td>2023-07-04</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="J002 東莞晶彩" style="max-width: 150px;">J002 東莞晶彩</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16385" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16385" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16385);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16385);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16385);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16385, '2202-20230704002');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A11J002-2306-170" style="width: 150px; max-width: 150px;">3A11J002-2306-170</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="公模仁 LS1-39655A-903-R1-S01-B" style="width: 175px; max-width: 175px;">公模仁 LS1-39655A-903-R1-S01-B</td>
                                                        <td style="width: 100px;">12</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">205</td>
                                                        <td style="width: 100px;">2,460</td>
                                                        <td style="width: 100px;">2023-07-04</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="J120010585479  舜宇" style="width: 200px; max-width: 200px;">J120010585479  舜宇</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50px;">0002</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A12J002-2306-171" style="width: 150px; max-width: 150px;">3A12J002-2306-171</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="母模仁 LS1-39655A-903-R2-S01-B" style="width: 175px; max-width: 175px;">母模仁 LS1-39655A-903-R2-S01-B</td>
                                                        <td style="width: 100px;">12</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">205</td>
                                                        <td style="width: 100px;">2,460</td>
                                                        <td style="width: 100px;">2023-07-04</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="J120010585478  舜宇" style="width: 200px; max-width: 200px;">J120010585478  舜宇</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2204-20230704001" style="max-width: 165px;">
                                            2204-20230704001

                                        </td>
                                        <td>2023-07-04</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="J002 東莞晶彩" style="max-width: 150px;">J002 東莞晶彩</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16387" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16387" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16387);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16387);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16387);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16387, '2204-20230704001');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A22J002-2111-145" style="width: 150px; max-width: 150px;">3A22J002-2111-145</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="下模仁 HJ5141LS02-BMC01-T2-不退火" style="width: 175px; max-width: 175px;">下模仁 HJ5141LS02-BMC01-T2-不退火</td>
                                                        <td style="width: 100px;">1</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">35</td>
                                                        <td style="width: 100px;">35</td>
                                                        <td style="width: 100px;">2023-07-06</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="來料底部破裂歸還  弘景" style="width: 200px; max-width: 200px;">來料底部破裂歸還  弘景</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2201-20230703001" style="max-width: 165px;">
                                            2201-20230703001

                                        </td>
                                        <td>2023-07-03</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="N006 台灣長瀨" style="max-width: 150px;">N006 台灣長瀨</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY01005 簡蔓珊
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY01005 簡蔓珊
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16376" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16376" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16376);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16376);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16376);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16376, '2201-20230703001');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3GLN006-092002-81" style="width: 150px; max-width: 150px;">3GLN006-092002-81</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="J1-092002 G鏡片 (量產)(NT-0-034-004-01)" style="width: 175px; max-width: 175px;">J1-092002 G鏡片 (量產)(NT-0-034-004-01)</td>
                                                        <td style="width: 100px;">8</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">0</td>
                                                        <td style="width: 100px;">0</td>
                                                        <td style="width: 100px;">2023-07-03</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="拿面型ok,外觀NG品,改客戶要求的鍍膜規格" style="width: 200px; max-width: 200px;">拿面型ok,外觀NG品,改客戶要求的鍍膜規格</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50px;">0002</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="9Z0009999-0000-01" style="width: 150px; max-width: 150px;">9Z0009999-0000-01</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="FedEx運費" style="width: 175px; max-width: 175px;">FedEx運費</td>
                                                        <td style="width: 100px;">1</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">48.6</td>
                                                        <td style="width: 100px;">48.6</td>
                                                        <td style="width: 100px;">2023-07-03</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2202-20230703003" style="max-width: 165px;">
                                            2202-20230703003

                                        </td>
                                        <td>2023-07-03</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="A006 Anteryon" style="max-width: 150px;">A006 Anteryon</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY01005 簡蔓珊
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY01005 簡蔓珊
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16379" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16379" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16379);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16379);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16379);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16379, '2202-20230703003');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A10A006-2306-187" style="width: 150px; max-width: 150px;">3A10A006-2306-187</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="模仁 LG-746 7322 100 4210" style="width: 175px; max-width: 175px;">模仁 LG-746 7322 100 4210</td>
                                                        <td style="width: 100px;">1</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">720</td>
                                                        <td style="width: 100px;">720</td>
                                                        <td style="width: 100px;">2023-07-03</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="" style="width: 200px; max-width: 200px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="2202-20230703002" style="max-width: 165px;">
                                            2202-20230703002
                                            <span class="erp-status"><span>核</span></span>
                                        </td>
                                        <td>2023-07-03</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="J002 東莞晶彩" style="max-width: 150px;">J002 東莞晶彩</td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td>
                                            <span class="gender-female"><i class="fas fa-female"></i></span>ZY00495 徐明莉
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="16371" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-so-id="16371" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-read" href="javascript:ReadSaleOrderManagement(16371);" style=""><i class="fas fa-eye"></i>查看</a>




                                                    <a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirmSaleOrderManagement(16371);" style=""><i class="fas fa-undo-alt"></i>反確認</a>

                                                    <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWordSaleOrderManagement(16371);" style=""><i class="fas fa-file-download"></i>單據下載</a>
                                                    <a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModifySaleOrderManagement(16371, '2202-20230703002');" style=""><i class="fas fa-file-edit"></i>資料變更</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 0;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50px;">0001</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="3A11J002-2306-172" style="width: 150px; max-width: 150px;">3A11J002-2306-172</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="公模仁 PPP-57031-05AA-R1" style="width: 175px; max-width: 175px;">公模仁 PPP-57031-05AA-R1</td>
                                                        <td style="width: 100px;">4</td>
                                                        <td style="width: 100px;">USD</td>
                                                        <td style="width: 100px;">290</td>
                                                        <td style="width: 100px;">1,160</td>
                                                        <td style="width: 100px;">2023-07-03</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="晶彩" style="width: 200px; max-width: 200px;">晶彩</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination" id=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--右側滑出頁面-->
<div class="side-nav hs-display" id="">
    <div class="container">
        <!--上方 工具列-->
        <div class="toolbar">
            <div class="tool-list">
                <a class="set" href="javascript:void(0);">
                    <i class="fas fa-chevron-up"></i>
                </a>
                <a class="set" href="javascript:void(0);">
                    <i class="fas fa-chevron-down"></i>
                </a>
            </div>
            <div class="tool-box">
                <div class="set-area">
                    <a class="set" href="#" title="反確認">
                        <i class="fas fa-undo-alt"></i>
                    </a>
                    <a class="set" href="#">
                        <i class="far fa-file-download" title="下載"></i>
                    </a>
                    <a class="set" href="#">
                        <i class="fas fa-save" title="儲存"></i>
                    </a>
                    
                    <a class="set" href="#">
                        <i class="fas fa-trash-alt" title="刪除"></i>

                    </a>
                    <a class="set" href="#">
                        <i class="far fa-file-import" title="拋轉"></i>
                    </a>
                    <a class="set" href="#">
                        <i class="fas fa-check-circle" title="確認"></i>
                    </a>
                    @*<ul class="set-block">
            <li class="proj-auth-task-update"><a class="apply-task" href="javascript:void(0);"> <i class="fas fa-sync-alt"></i>套用樣板</a></li>
            <li class="proj-auth-task-update"><a class="copy-task" href="javascript:void(0);"> <i class="fas fa-copy"></i>複製任務</a></li>
            <li class="proj-auth-task-update"><a class="add-link-task" href="javascript:void(0);"> <i class="fas fa-plus"></i>新增串聯任務</a></li>
            <li class="proj-auth-task-delete"><a class="delete-task" href="javascript:void(0);"> <i class="fas fa-trash-alt"></i>刪除任務</a></li>
        </ul>*@

                </div>
                <div class="tool-list">
                    <a class="set set-close" href="#" title="關閉"> 
                        <i class="fas fa-times"></i></a>
                </div>

            </div>



        </div>
        <div class="side-nav-header">

            <!--下方標題-->
            <div class="nav-title">
                <h1 style="display: inline-block;">2202-20230816001</h1>
            </div>
        </div>
        <div class="nav-content">
            <div class="main-content">

                <form class="nav-form" autocomplete="off">
                    <fieldset>
                        <div class="form-group row side-nav-block">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label">訂單 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option selected="">請選擇訂單單別</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="">單據日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="text" class="form-control" id="" name="" placeholder="2023-09-10" data-msg-extraregex="請輸入正確的日期格式" data-rule-extraregex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-msg-required="請輸入單據日期" data-rule-required="true" readonly="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="">客戶 <span class="text-danger">*</span></label>

                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option selected="">請選擇客戶</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="">客戶採購單</label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="text" class="form-control" id="txtCustomerPurchaseOrderSaleOrderManagement" name="txtCustomerPurchaseOrderSaleOrderManagement" placeholder="請輸入客戶採購單" data-msg-maxlength="必須少於 20 個字元" maxlength="20">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label">部門 / 業務 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option selected="">請選擇部門</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <select class="form-control">
                                        <option selected="">請選擇業務</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSoRemarkSaleOrderManagement">備註</label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <textarea class="form-control" id="txtSoRemarkSaleOrderManagement" name="txtSoRemarkSaleOrderManagement" cols="2" data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--單身-->
            <div class="detail-content">
                <div class="datail-title">
                    <h2 style="display: inline-block;">欄位內容</h2>
                    <a class="link" href="javascript:void(0);" onclick="Forbidden@(itemName)()">
                        <i class="far fa-plus-circle"></i>
                        新增單身
                    </a>
                </div>
                <div class="datail-box">
                    <div class="detail-box-title">
                        <span>001</span>
                        <div class="action-box">
                            <div class="act-btn" >
                                <i class="far fa-copy"></i>複製</div>
                            <div class="act-btn" >
                                <i class="far fa-trash-alt"></i>刪除</div>
                        </div>
                    </div>
                    <form class="nav-form" autocomplete="off" id="editFormSaleOrderDetail" novalidate="novalidate">
                        <fieldset>
                            <input type="hidden" id="SoDetailId" name="SoDetailId" value="50667">
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoSequenceSaleOrderDetail">流水號 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtSoSequenceSaleOrderDetail" name="txtSoSequenceSaleOrderDetail" placeholder="請輸入流水號" data-msg-required="請輸入流水號" data-rule-required="true" ata-msg-maxlength="必須少於 4 個字元" maxlength="4" readonly="">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-danger" href="javascript:void(0);" onclick="TakeNumberSaleOrderDetail()"><i class="fa fa-random"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMtlItemSaleOrderDetail">品號/品名/客戶品號</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="hidden" id="txtMtlItemIdSaleOrderDetail" name="txtMtlItemIdSaleOrderDetail" value="36920">
                                        <input type="text" class="form-control" id="txtMtlItemSaleOrderDetail">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-success" href="javascript:void(0);" onclick="MtlItemSearchSaleOrderDetail()"><i class="fas fa-search"></i></a>
                                                <a class="btn btn-warning" href="javascript:void(0);" onclick="NonMtlItemSaleOrderDetail()">無品號<i class="fas fa-question"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <dl class="help-block" style="display: grid;">
                                        <dt>品號</dt>
                                        <dd id="desMtlItemNoSaleOrderDetail">3A21J002-2109-305</dd>
                                        <dt>品名</dt>
                                        <dd id="desMtlItemNameSaleOrderDetail">上模仁(J1-081009-2100)(Aspherical Glass Lens)</dd>
                                        <dt>規格</dt>
                                        <dd id="desMtlItemSpecSaleOrderDetail">Ø16*Ø10*15.87</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group row manual-mtl-item" style="display: none;">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoMtlItemNameSaleOrderDetail">品名</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" id="txtSoMtlItemNameSaleOrderDetail" name="txtSoMtlItemNameSaleOrderDetail" placeholder="請輸入品名" data-msg-maxlength="必須少於 120 個字元" maxlength="120">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">庫別<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option selected="">半成品出貨倉</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoQtySaleOrderDetail">數量 X 單價 = 金額 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="number" class="form-control amount-calculate" id="txtSoQtySaleOrderDetail" name="txtSoQtySaleOrderDetail" placeholder="請輸入訂單數量" data-msg-required="請輸入訂單數量" data-rule-required="true">
                                        <span class="input-group-addon">X</span>
                                        <input type="number" class="form-control amount-calculate" id="txtUnitPriceSaleOrderDetail" name="txtUnitPriceSaleOrderDetail" placeholder="請輸入單價" data-msg-required="請輸入單價" data-rule-required="true">
                                        <span class="input-group-addon">=</span>
                                        <input type="number" class="form-control amount-calculate" id="txtAmountSaleOrderDetail" name="txtAmountSaleOrderDetail" placeholder="請輸入金額" data-msg-required="請輸入金額" data-rule-required="true" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFreebieQtySaleOrderDetail">贈品數量 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-gift"></i></span>
                                        <input type="number" class="form-control" id="txtFreebieQtySaleOrderDetail" name="txtFreebieQtySaleOrderDetail" placeholder="請輸入贈品數量" data-msg-required="請輸入贈品數量" data-rule-required="true" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtPromiseDateSaleOrderDetail">預計出貨日 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" id="txtPromiseDateSaleOrderDetail" name="txtPromiseDateSaleOrderDetail" placeholder="請輸入預計出貨日" data-msg-extraregex="請輸入正確的日期格式" data-rule-extraregex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-msg-required="請輸入預計出貨日" data-rule-required="true" readonly="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">專案連結<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option selected="">請選擇專案</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoDetailRemarkSaleOrderDetail">單身備註</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control" id="txtSoDetailRemarkSaleOrderDetail" name="txtSoDetailRemarkSaleOrderDetail" cols="2" data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="datail-box">
                    <div class="detail-box-title">
                        <span>002</span>
                    </div>
                    <form class="nav-form" autocomplete="off" id="editFormSaleOrderDetail" novalidate="novalidate">
                        <fieldset>
                            <input type="hidden" id="SoDetailId" name="SoDetailId" value="50667">
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoSequenceSaleOrderDetail">流水號 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtSoSequenceSaleOrderDetail" name="txtSoSequenceSaleOrderDetail" placeholder="請輸入流水號" data-msg-required="請輸入流水號" data-rule-required="true" ata-msg-maxlength="必須少於 4 個字元" maxlength="4" readonly="">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-danger" href="javascript:void(0);" onclick="TakeNumberSaleOrderDetail()"><i class="fa fa-random"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMtlItemSaleOrderDetail">品號/品名/客戶品號</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="hidden" id="txtMtlItemIdSaleOrderDetail" name="txtMtlItemIdSaleOrderDetail" value="36920">
                                        <input type="text" class="form-control" id="txtMtlItemSaleOrderDetail">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-success" href="javascript:void(0);" onclick="MtlItemSearchSaleOrderDetail()"><i class="fas fa-search"></i></a>
                                                <a class="btn btn-warning" href="javascript:void(0);" onclick="NonMtlItemSaleOrderDetail()">無品號<i class="fas fa-question"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <dl class="help-block" style="display: grid;">
                                        <dt>品號</dt>
                                        <dd id="desMtlItemNoSaleOrderDetail">3A21J002-2109-305</dd>
                                        <dt>品名</dt>
                                        <dd id="desMtlItemNameSaleOrderDetail">上模仁(J1-081009-2100)(Aspherical Glass Lens)</dd>
                                        <dt>規格</dt>
                                        <dd id="desMtlItemSpecSaleOrderDetail">Ø16*Ø10*15.87</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group row manual-mtl-item" style="display: none;">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoMtlItemNameSaleOrderDetail">品名</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" id="txtSoMtlItemNameSaleOrderDetail" name="txtSoMtlItemNameSaleOrderDetail" placeholder="請輸入品名" data-msg-maxlength="必須少於 120 個字元" maxlength="120">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">庫別<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option selected="">半成品出貨倉</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoQtySaleOrderDetail">數量 X 單價 = 金額 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="number" class="form-control amount-calculate" id="txtSoQtySaleOrderDetail" name="txtSoQtySaleOrderDetail" placeholder="請輸入訂單數量" data-msg-required="請輸入訂單數量" data-rule-required="true">
                                        <span class="input-group-addon">X</span>
                                        <input type="number" class="form-control amount-calculate" id="txtUnitPriceSaleOrderDetail" name="txtUnitPriceSaleOrderDetail" placeholder="請輸入單價" data-msg-required="請輸入單價" data-rule-required="true">
                                        <span class="input-group-addon">=</span>
                                        <input type="number" class="form-control amount-calculate" id="txtAmountSaleOrderDetail" name="txtAmountSaleOrderDetail" placeholder="請輸入金額" data-msg-required="請輸入金額" data-rule-required="true" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFreebieQtySaleOrderDetail">贈品數量 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-gift"></i></span>
                                        <input type="number" class="form-control" id="txtFreebieQtySaleOrderDetail" name="txtFreebieQtySaleOrderDetail" placeholder="請輸入贈品數量" data-msg-required="請輸入贈品數量" data-rule-required="true" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtPromiseDateSaleOrderDetail">預計出貨日 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" id="txtPromiseDateSaleOrderDetail" name="txtPromiseDateSaleOrderDetail" placeholder="請輸入預計出貨日" data-msg-extraregex="請輸入正確的日期格式" data-rule-extraregex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-msg-required="請輸入預計出貨日" data-rule-required="true" readonly="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">專案連結<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option selected="">請選擇專案</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoDetailRemarkSaleOrderDetail">單身備註</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control" id="txtSoDetailRemarkSaleOrderDetail" name="txtSoDetailRemarkSaleOrderDetail" cols="2" data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="datail-box">
                    <div class="detail-box-title">
                        <span>003</span>
                    </div>
                    <form class="nav-form" autocomplete="off" id="" novalidate="novalidate">
                        <fieldset>
                            <input type="hidden" id="" name="SoDetailId" value="50667">
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="">流水號 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="" name="txtSoSequenceSaleOrderDetail" placeholder="請輸入流水號" data-msg-required="請輸入流水號" data-rule-required="true" ata-msg-maxlength="必須少於 4 個字元" maxlength="4" readonly="">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-danger" href="javascript:void(0);" onclick=""><i class="fa fa-random"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="">品號/品名/客戶品號</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="hidden" id="" name="" value="36920">
                                        <input type="text" class="form-control" id="">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-success" href="javascript:void(0);" onclick=""><i class="fas fa-search"></i></a>
                                                <a class="btn btn-warning" href="javascript:void(0);" onclick="">無品號<i class="fas fa-question"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <dl class="help-block" style="display: grid;">
                                        <dt>品號</dt>
                                        <dd id="">3A21J002-2109-305</dd>
                                        <dt>品名</dt>
                                        <dd id="">上模仁(J1-081009-2100)(Aspherical Glass Lens)</dd>
                                        <dt>規格</dt>
                                        <dd id="">Ø16*Ø10*15.87</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group row manual-mtl-item" style="display: none;">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="">品名</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" id="txtSoMtlItemNameSaleOrderDetail" name="txtSoMtlItemNameSaleOrderDetail" placeholder="請輸入品名" data-msg-maxlength="必須少於 120 個字元" maxlength="120">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">庫別<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option selected="">半成品出貨倉</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoQtySaleOrderDetail">數量 X 單價 = 金額 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <input type="number" class="form-control amount-calculate" id="txtSoQtySaleOrderDetail" name="txtSoQtySaleOrderDetail" placeholder="請輸入訂單數量" data-msg-required="請輸入訂單數量" data-rule-required="true">
                                        <span class="input-group-addon">X</span>
                                        <input type="number" class="form-control amount-calculate" id="txtUnitPriceSaleOrderDetail" name="txtUnitPriceSaleOrderDetail" placeholder="請輸入單價" data-msg-required="請輸入單價" data-rule-required="true">
                                        <span class="input-group-addon">=</span>
                                        <input type="number" class="form-control amount-calculate" id="txtAmountSaleOrderDetail" name="txtAmountSaleOrderDetail" placeholder="請輸入金額" data-msg-required="請輸入金額" data-rule-required="true" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFreebieQtySaleOrderDetail">贈品數量 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-gift"></i></span>
                                        <input type="number" class="form-control" id="txtFreebieQtySaleOrderDetail" name="txtFreebieQtySaleOrderDetail" placeholder="請輸入贈品數量" data-msg-required="請輸入贈品數量" data-rule-required="true" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtPromiseDateSaleOrderDetail">預計出貨日 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="text" class="form-control" id="txtPromiseDateSaleOrderDetail" name="txtPromiseDateSaleOrderDetail" placeholder="請輸入預計出貨日" data-msg-extraregex="請輸入正確的日期格式" data-rule-extraregex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-msg-required="請輸入預計出貨日" data-rule-required="true" readonly="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">專案連結<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option selected="">請選擇專案</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <input type="text" class="form-control" id="" name="" placeholder="訂單單別" readonly="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoDetailRemarkSaleOrderDetail">單身備註</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control" id="txtSoDetailRemarkSaleOrderDetail" name="txtSoDetailRemarkSaleOrderDetail" cols="2" data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

@Html.Resource("js",
    @<script>
            $(document).ready(function () {
                $(".dropdown-toggle,.set-close").on("click", function (event) {
                    if ($(".side-nav").hasClass("active")) {
                        $('.overlay').show();
                        removeSide();
                    } else {
                        $('.overlay').hide();
                        removeSide();

                        $(".side-nav").addClass("active");
                        
                    }
                });

                //點黑幕時移除
                $(".overlay").on("click", function (event) {
                    removeFilter();
                    $(this).fadeOut(200);
                    $("body").removeClass("hidden");
                });
                //動作:移除<所有開啟的畫面>
                function removeSide() {
                    $(".side-nav").removeClass("active");
                }

            });
    </script>
        )
