@using Business_Manager.Helpers
@{
    string itemName = "BarcodeBatchIndex";
    string itemNameText = "條碼包裝作業首頁";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
@<link href="@Url.Content("~/Content/barcode-process.min.css")" rel="stylesheet" />
                        )

<div class="container" style="">
    <div class="frontpage">
        <a href="/ProductionHistory/BarcodeBatchProcessing" style="">
            <img src="~/Content/images/icon-pack.png" />
            包裝作業
        </a>
        <a href="/ProductionHistory/BarcodeMergeProcessing">
            <img src="~/Content/images/icon-merge.png" />
            拆併盤作業
        </a>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(function () {
            $('.product-toggle .product-item .toggle-details').click(function () {
                if (!$(this).parent().parent('.product-item').hasClass('selected'))
                    $('.product-toggle .product-item').removeClass('selected');
                $(this).parent().parent('.product-item').toggleClass('selected');
                $(this).parent().parent('.product-item').next(".product-details").slideToggle().siblings(".product-details:visible").slideToggle();
            })
        });
    </script>
            )