@using Business_Manager.Helpers

@{
    string itemName = "JobProgressV2";
    string itemNameText = "製令加工進度查詢v2";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
@<style>
     .btn-secondary {
         color: #6c757d;
         background-color: #fff;
         border-color: #6c757d;
     }
</style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<!--搜尋內容-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">產品品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入產品品號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">產品品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入產品品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBarcodeNoQ@(itemName)">製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtErpNoQ@(itemName)" name="txtErpNoQ@(itemName)" placeholder="請輸入製令" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBarcodeNoQ@(itemName)">產品條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)" placeholder="請輸入產品條碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">成形日期 <input type="checkbox" id="cboMirrorMoldingDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtMirrorMoldingStartDateQ@(itemName)" name="txtMirrorMoldingStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtMirrorMoldingEndDateQ@(itemName)" name="txtMirrorMoldingEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMachineDescQ@(itemName)">鍍膜機台</label>
                            <div class="col-12">
                                <select class="form-control" id="cboMachineDescQ@(itemName)" name="cboMachineDescQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">鍍膜日期 <input type="checkbox" id="cboPlatingMoldDateQ@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPlatingMoldStartDateQ@(itemName)" name="txtPlatingMoldStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPlatingMoldEndDateQ@(itemName)" name="txtPlatingMoldEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                <button type="button" class="btn btn-success  auth-excel" onclick="Excel@(itemName)()" style="margin: auto;"><i class="fas fa-file-excel"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 60px;">#</th>
                                        <th scope="col" style="min-width: 100px;">公司別</th>
                                        <th scope="col" style="min-width: 125px;">工單狀態</th>
                                        <th scope="col" style="min-width: 160px;">工單制單者</th>
                                        <th scope="col" style="min-width: 100px;">ERP工單</br>預計產量</th>
                                        <th scope="col" style="min-width: 125px;">生產模式</th>
                                        <th scope="col" style="min-width: 125px;">制令單號</th>
                                        <th scope="col" style="min-width: 125px;">品號</th>
                                        <th scope="col" style="min-width: 125px;">品名</th>
                                        <th scope="col" style="min-width: 125px;">規格</th>
                                        <th scope="col" style="min-width: 125px;">工單預計</br>開工日</th>
                                        <th scope="col" style="min-width: 125px;">工單預計</br>完工日</th>
                                        <th scope="col" style="min-width: 125px;">工單實際</br>開工日</th>
                                        <th scope="col" style="min-width: 125px;">工單實際</br>完工日</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>開單日</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>條碼</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>狀態</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>制單者</th>
                                        <th scope="col" style="min-width: 125px;">MES製令</br>預計產量</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>已領套數</th>
                                        <th scope="col" style="min-width: 125px;">領料</br>狀態</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>總工站數</th>
                                        <th scope="col" style="min-width: 125px;">加工進度(%)</th>
                                        <th scope="col" style="min-width: 125px;">已入庫數</th>
                                        <th scope="col" style="min-width: 125px;">制令</br>已入庫狀態</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>