@charset "UTF-8";
.authority-content {
  /*checkbox*/
}
.authority-content .control {
  font-size: 0.875rem;
  padding-left: 25px;
}
.authority-content .control.control-solid.control-solid-info input:checked ~ .control__indicator {
  background: #0580FF;
}
.authority-content .control.disable {
  text-decoration: line-through;
}
.authority-content .control .control__indicator {
  background: #e6e6e6;
  top: 2px;
}
.authority-content .action {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  width: calc((100% - 50px) / 3);
}
.authority-content .action .control.control-solid.control-solid-info input:checked ~ .control__indicator {
  background: #F6AE2D;
}
.authority-content .add-member-body {
  padding: 1rem 1.5rem;
}
.authority-content .add-member-body .member-each {
  display: block;
}
.authority-content .add-member-body .control, .authority-content .add-member-body label {
  padding-left: 0;
  margin-bottom: 0;
}
.authority-content .add-member-body .control {
  padding-top: 5px;
}
.authority-content .add-member-body .control__indicator {
  right: 0;
  left: unset;
}
.authority-content .authority-num-title span {
  padding: 5px;
  border: solid 1px #eee;
}
.authority-content .modal-footer .btn-primary {
  background: #F6AE2D !important;
  border-color: #F6AE2D !important;
}

/*標題-角色選擇*/
.role-choose {
  /*  display: none;*/
  display: inline-block;
}
.role-choose .role-name {
  color: #005cbf;
  border: solid 1px #005cbf;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-weight: 900;
}
.role-choose .role-name:hover, .role-choose .role-name:active {
  border-color: #005cbf !important;
  background-color: #005cbf !important;
  color: #fff;
}
.role-choose .role-name:hover.dropdown-toggle::after, .role-choose .role-name:active.dropdown-toggle::after {
  border-top: 0.3em solid #fff;
}
.role-choose .dropdown-toggle::after {
  border-top: 0.3em solid #005cbf;
}

/*x選擇下方內容*/
.authority-content {
  padding: 5px 0;
}

/*下方第一區塊*/
.authority-set {
  justify-content: space-between;
}

/*下方第一區塊-左-清單選擇*/
.select-block.col-3 {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/*搜尋*/
.search-block {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.search-term {
  width: 100%;
  border: solid #ededed;
  background: #ededed;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  color: #000;
}

.search-button {
  width: 50px;
  height: 40px;
  border: 1px solid #ededed;
  background: #ededed;
  color: #757575;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/*選擇清單*/
.select-menu,
.select-menu li,
.select-menu li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select-menu {
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
  margin-top: 10px;
}
.select-menu li.active > ul {
  display: block;
}
.select-menu li.has-sub > a {
  border-bottom: solid 1px #ddd;
  padding: 15px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 0.875rem;
  color: #000000;
  background-color: #fff;
}
.select-menu li.has-sub > a:hover {
  background-color: #005cbf;
  color: #fff;
}
.select-menu li a { /*限制清單字數*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.select-menu ul {
  display: none;
  margin: 0px 0px 10px;
  padding-left: 0;
}
.select-menu .authority-num-title { /*權限分數*/
  color: #000;
  padding: 5px;
  line-height: 1.5;
  color: #000;
  padding: 5px;
}
.select-menu .authority-num {
  margin-left: 20px;
  display: inline-block;
  padding: 2px 5px;
  background-color: #fff;
  font-size: 0.875rem;
  color: #9f9f9f;
}

/*清單選擇-第二層選單*/
/*清單選擇-打開li變顏色*/
.select-menu li.has-sub a i.fa-plus {
  transition: all 0.2s;
  position: absolute;
  color: #ababab;
  right: 20px;
}
.select-menu li.has-sub > a:hover i.fa-plus {
  color: #fff;
}
.select-menu li.has-sub.open > a {
  color: #fff;
  background-color: #005cbf;
}
.select-menu li.has-sub.open > a i.fa-plus {
  transform: rotate(45deg);
  color: #fff;
}

.select-menu li.has-sub-sec > a {
  padding: 10px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 0.875rem;
  text-decoration: none;
  color: #000000;
  background: #f7f7f7;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  padding-left: 40px;
  min-width: 200px;
}
.select-menu li.has-sub-sec > a:after {
  position: absolute;
  z-index: 5;
  display: block;
  width: 2px;
  content: "";
  top: 0px;
  left: 10px;
  background: #005cbf;
  height: 100%;
}
.select-menu li.has-sub-sec > a:hover {
  background-color: #c5c5c5;
}
.select-menu li.has-sub-sec > a:hover:after {
  background: none;
}
.select-menu li.has-sub-sec > a.active {
  background-color: #c5c5c5;
}
.select-menu li.has-sub-sec > a.active:after {
  background: none;
}

/*清單開啟*/
.select-content {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1031;
  position: fixed;
}
.select-content.col-9 {
  max-width: 100%;
}

.select-area {
  height: 100%;
  overflow-y: scroll;
  max-height: 80vh;
  border: solid #ddd 1px;
  padding: 20px;
}
.select-area h2 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.box-show {
  display: block;
}

/*關閉手機版時的授予權限區塊*/
.close-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.close-content i {
  font-size: 0.875rem;
  color: #fff;
  background: #8f8f8f;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

/*新增修改刪除*/
.action-group {
  margin-bottom: 20px;
  border-left: solid 2px #F6AE2D;
  padding: 5px 5px 5px 20px;
  display: flex;
  background: #fffbf3;
  flex-wrap: wrap;
}
.action-group label {
  margin-bottom: 0;
}

/*第二區塊 個別*/
.member-set {
  justify-content: flex-start;
}

/*第二區塊大小設定*/
.select-content.col-6 {
  max-width: 100%;
}

.member-set .select-block.second-select-list {
  display: none;
  margin-top: 20px;
}

/*人員選擇區塊*/
.member-set-block {
  border: solid 1px #eee;
  padding-top: 10px;
}
.member-set-block h2 {
  font-weight: 700;
}

.add-member {
  color: #fff;
  padding: 5px 15px;
  background: #36a2f5;
  font-size: 0.875rem;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
.add-member:hover {
  color: #fff;
}
.add-member i {
  margin-right: 5px;
}

/*新增彈窗*/
.authority-content .modal-header {
  align-items: center;
}

/*人員清單*/
.member-list, .member-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-list {
  display: none;
  padding: 0 10px;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
}

.open-auth-i {
  transform: rotate(-180deg);
  transition: all 0.5s;
}

.member-nav {
  font-size: 0.875rem;
  margin: unset;
  margin: 10px 0 0 0;
  background: #ecf5ff;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.member-nav a {
  color: #052E59;
}
.member-nav > i {
  transition: all 0.1s linear;
}

.member-each {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  font-size: 0.875rem;
  background-color: #fff;
  border-bottom: solid 1px #eee;
}
.member-each span.name {
  margin-left: 10px;
}
.member-each a {
  margin: auto 5px;
}
.member-each i {
  color: #9d9d9d;
}

/*Web版*/
@media screen and (min-width: 768px) {
  .select-block.col-3 {
    max-width: unset;
    padding-left: 10px;
    padding-right: 10px;
  }
  /*第一區塊左右比例修改*/
  .authority-set .select-block.col-3 {
    flex: 0 0 35%;
  }
  .authority-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 220px); /*高度設定*/
    justify-content: flex-start;
  }
  .member-set .select-block.second-select-list {
    margin-top: 0px;
  }
  /*高度設定*/
  .select-block, .select-content, .member-set-block {
    overflow-y: auto;
    min-height: 100%;
    margin-right: 10px;
  }
  .select-content {
    z-index: 1;
  }
  .select-menu {
    min-width: unset;
  }
  /*大螢幕寬度正常*/
  /*.col-12 {
      padding-right: 15px;
      padding-left: 15px;
  }*/
  .select-menu li a {
    min-width: unset;
    white-space: normal;
  }
  .col-9 {
    flex: unset;
  }
  .member-set .col-6 {
    flex: unset; /*避免選取區塊寬度過大*/
  }
  .select-area {
    max-height: unset;
  }
  .select-content {
    position: unset;
    top: unset;
    max-width: 100%;
    height: unset;
  }
  .close-content {
    display: none;
  }
  /*第二區塊大小設定*/
  .select-content.col-6 {
    max-width: unset;
  }
  /*第二區塊左右比例修改*/
  .member-set-block.select-block.col-3 {
    flex: 0 0 25%;
  }
  .second-select-list.select-block.col-3 {
    flex: 0 0 30%;
  }
  .member-set .select-content.col-6 {
    flex: 0 0 40%;
  }
}
@media screen and (min-width: 1200px) {
  /*第一區塊左右比例修改*/
  .authority-set .select-block.col-3 {
    flex: 0 0 25%;
  }
  .select-menu li.has-sub > a {
    font-size: 0.875rem;
  }
  .select-menu li a {
    min-width: 230px;
    white-space: nowrap;
  }
  .select-block.col-3 {
    max-width: unset;
  }
  /*第二區塊左右比例修改*/
  .member-set-block.select-block.col-3 {
    flex: 0 0 25%;
  }
  .second-select-list.select-block.col-3 {
    flex: 0 0 30%;
  }
  .member-set .select-content.col-6 {
    flex: 0 0 45%;
  }
}
