$primary-color: #4882C3;
$secondary-color: #ff4d4f;
$background-color: #f0f2f5;
$border-color: #ddd;
$active-bg-color: #e6f7ff;
$active-border-color: #91d5ff;
$save-btn-color: #52c41a;

* {
    box-sizing: border-box;
}
ul{
    padding:0;
    margin:0;
}
.frontpage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px $primary-color;
        border-radius: 10px;
        /* padding: 15px 15px 20px; */
        margin: 0 15px;
        height: 130px;
        width: 130px;
        font-size: 18px;
        cursor: pointer;
        row-gap: 5px;

        img {
            width: 60px;
        }
    }
}
.empty {
    color: #9b9b9b;
    text-align: center;

    i {
        margin-right: 5px;
    }
}
.container_full {
    background: unset;
}
.process_header {
    height: 60px;
    width: 90%;
    background: #4882C3;
    margin: 0 auto 5px;
    max-width: 1000px;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
    position: relative;
    padding: 15px;


    .header_function {
        display: inline-flex;
        align-items: center;
        column-gap: 10px;
    }

    a {
        &.header_title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: #fff;

            h2 {
                color: #fff;
            }
        }

        color: #fff;
        display: inline-block;
        padding: 10px;
    }

    .old_package {
        input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #959595;
        }
    }

 
}
.action_btn {
    padding: 10px;
    background: #FFA630;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-align: center;

    &:hover {
        background: #dd8510;
        color: #fff;
    }
}

.container {
    width: 90%;
    max-width: 1000px;
    min-width: 600px;
    min-height: 400px;
    margin: 10px auto;
    background: #f9fbff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;

    .package-title {
        padding: 0 15px;

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
    }

    .package-box, .scanner-box {
        flex: 1;
        padding: 20px 15px;
    }

    .package-box {
        .product-list {
            .product-details {
                font-size: 14px;
                color: #666;
                margin-top: 5px;
                display: none;
                background: #e7f3ff;
                padding: 15px 20px;
                margin: 0px 10px 0;
                border-radius: 5px;

                p {
                    margin-bottom: 10px;

                    span {
                        font-weight: 600;
                    }
                }
            }

            .product-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                background: #fff;
                margin: 10px 0 5px;
                padding: 15px;
                border-radius: 8px;
                border: 2px solid $border-color;


                &.selected {
                    background-color: #e0f0ff;
                    border: 2px solid $primary-color;

                    .product-details {
                        display: block;
                    }
                }
                /*.product-item-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }*/
                .product-code {
                    display: flex;
                    align-items: center;

                    .icon {
                        background: #b0c7e0;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-weight: bold;
                        margin-right: 5px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .product-info {
                    display: inline-flex;
                    align-items: center;
                    column-gap: 10px;

                    .toggle-details {
                        color: $primary-color;
                        cursor: pointer;
                        font-size: 12px;
                        margin-left: 5px;

                        i {
                            transition: all 0.2s;
                        }
                    }

                    .remove-btn {
                        border: none;
                        font-size: 14px;
                        border-radius: 50%;
                        cursor: pointer;

                        i {
                            color: #ff5c5c;
                        }
                    }
                }
            }

            .product-item:first-child {
                margin-top: 0;
            }
        }
    }

    .selected.product-item .product-info .toggle-details i {
        transform: rotate(180deg);
    }


    .scanner-box {
        border-left: 1px solid #ccc;
        padding-left: 20px;
        background: #fff;

        .new-product, .current-product {
            h3 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            input[type="text"] {
                width: 100%;
                padding: 8px;
                border: none;
                border-radius: 4px;
                margin-bottom: 15px;
                background: #f1f1f1;
            }

            .product-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #e7f3ff;
                padding: 10px;
                border-radius: 8px;

                .product-code {
                    display: flex;
                    align-items: center;

                    .icon {
                        background: #b0c7e0;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-weight: bold;
                        margin-right: 5px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .remove-btn {
                    border: none;
                    font-size: 14px;
                    border-radius: 50%;
                    cursor: pointer;

                    i {
                        color: #ff5c5c;
                    }
                }
            }

            .product-details {
                font-size: 14px;
                color: #666;
                margin-top: 5px;
                background: #F4F9FF;
                padding: 15px 20px;
                border-radius: 5px;
                margin: 5px;

                p {
                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        .current-product {
            padding-top: 15px;
            border-top: solid $border-color 1px;
        }
    }
}
.container {
    .merge-section.content {
        .scanner-box {
            border-left: none;
            padding-left: 20px;
            background: #fff;
            border-right: solid 1px $border-color;
        }

        .product-details {
            font-size: 14px;
            color: #666;
            margin: 10px 0 0 0;
            background: #F4F9FF;
            padding: 15px 20px;
            border-radius: 5px;
            border: dashed 1px $primary-color;

            p {
                span {
                    font-weight: 700;
                }
            }
        }

        .merge-tag {
            background: #ffdbac;
            padding: 0px 10px;
            border-radius: 15px;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}


@media screen and (max-width:1200px) {
    .process_header {
        a {
            &.header_title {
                position: absolute;
                left: 20%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}






