
/* Variables */
$main_color: #2b4e9d; /*主色藍*/
$sub_color: #20A4F3; /*配色淺藍*/
$lightblue_color: #6b83bb;/*配色超淺藍*/


$purple_color: #BD4089 ;/*紫*/
$warning_color: #EB5757;
$white_color: #ffffff;


$gray1_color: #333333;
$gray2_color: #4F4F4F;
$gray3_color: #828282;
$gray4_color: #BDBDBD;
$gray5_color: #E0E0E0;
$gray6_color: #F2F2F2;

/*共用*/
*{
    box-sizing:border-box;
}
html, body {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    
}
html {
    overflow: hidden;
}
a {
    color: unset;
    text-decoration: none;

    &:hover {
        color: unset;
        text-decoration: none;
    }
}
ul,li{
    list-style:none;
    padding:0;
    margin:0;

}
.form-control:focus {
  
    outline: 0;
    box-shadow: none;
}

:root {
    --font-size: 14px;
   
}
h1,h2,h3,h4,h5,h6{
    margin-bottom:0;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
input.pw {
    -webkit-text-security: disc;
}

    h1 {
        font-size: calc(var(--font-size) * 1.1);
    }
    h2 {
        font-size: calc(var(--font-size) * 1.05);
    }
    h3 {
        font-size: calc(var(--font-size) * 1);
    }
    h4,.h4 {
        font-size: calc(var(--font-size) * 1);
    }
    h5{

    }
    h6 {
    font-size: calc(var(--font-size) * 1);
    }


    
    p {
        font-size: var(--font-size);
    }

    .content:before {
        content: var(--text);
    }
    /*登入頁*/
/*.body-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("/Content/images/other/chat/login-bg.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}*/
.body-bg {
    /*position: absolute;*/
    width: 100%;
    height: 100vh;
    overflow:auto;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    background: url("/Content/images/other/chat/login-bg.jpg") no-repeat center bottom;
    /*background-attachment: fixed;*/
    background-size: cover;
}
.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}


.login-content {
    width: 413px;
    height: 100%;
    position: relative;
    left: 20%;
    z-index: 5;
}

/*點擊input，placeholder文字消失*/
input.form-control:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 0.5s ease-in-out;
}

input.form-control:focus:-moz-placeholder {
    color: transparent;
    transition: 0.5s ease-in-out;
}
/* FF 4-18 */
input.form-control:focus::-moz-placeholder {
    color: transparent;
    transition: 0.5s ease-in-out;
}
/* FF 19+ */
input.form-control:focus:-ms-input-placeholder {
    color: transparent;
    transition: 0.5s ease-in-out;
}
/* IE 10+ */
    /*.login-block {
        padding: 50px 15px 80px;
        border-radius: 5px;
        position: relative;
        top: 50%;
        vertical-align: middle;
        transform: translateY(-40%);
        background-color: rgba(16,37,79,0.5);
        box-sizing: border-box;
    }*/
.login-block {
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    top: 20%;
}

    .link-btn {
        background: linear-gradient(90.13deg, #1FADEC 0.1%, #347FD1 98.36%);
        color: #fff;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        /* button shadow陰影 */
        border-radius: 10px;
        width: 100%;
        text-align: center;
        padding: 12px;
        font-size: 18px;
        cursor: pointer;
        box-sizing: border-box;
        border: solid 1px $main_color;
        display: block;

        &:hover {
            background: none;
            color: #fff;
            box-shadow: 0 0px 10px 2px #20A4F3;
            border: solid 1px $main_color;
        }
    }

.login-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(16,37,79,.5);
    padding: 50px 60px 60px;
    border-radius: 5px;
    margin-top: 20px;


    a.forget-link {
        color: $gray4_color;
        float: right;

        &:hover {
            color: #fff;
        }
    }

    .form-control {
        color: #fff;
        background: rgba(0,0,0,0);
        border-color: rgba(255,255,255,0.5);
        border: none;
        border-bottom: solid 1px #a5a5a5;
        border-radius: 0;
        box-shadow: none;
        transition: 0.5s ease-in-out;

        &::placeholder {
            color: $gray4_color;
        }

        &:focus {
            outline: 0;
            border-bottom: solid 1px #fff;
        }
    }

    .login-account {
        position: relative;
        display: inline-block;
        width: 100%;

        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            content: "\f007";
            font-size: 16px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }

        input {
            text-indent: 25px;
        }
    }

    .login-key {
        position: relative;
        display: inline-block;
        width: 100%;

        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            content: "\f023";
            font-size: 16px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }

        input {
            text-indent: 25px;
        }
    }
}
    /*登入區塊 checkbox*/
    .login-form-box {
        position: relative;
        cursor: pointer;

        input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked ~ .res-control-indicator {
                background: #ffffff;
                border: solid 2px #fff;
            }

            &:disabled ~ .res-control-indicator {
                background: #e6e6e6;
                opacity: 0.6;
                pointer-events: none;
            }

            &:checked ~ .res-control-indicator:after {
                display: block;
            }

            &:disabled ~ .res-control-indicator:after {
                border-color: #7b7b7b;
            }
        }

        .res-control {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 15px;
            cursor: pointer;
            color: #fff;
        }

        .res-control-indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: none;
            border: solid 2px #fff;


            &:active {
                background: #0084ff;
                border: solid 2px #fff;
            }

            &:after {
                content: '';
                position: absolute;
                display: none;
            }

            &:after {
                left: 6px;
                top: 2px;
                width: 6px;
                height: 10px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }





    .res-control:hover input ~ .res-control-indicator,
    .login-form-box input:focus ~ .res-control-indicator {
        background: #ccc;
    }


    .res-control:hover input:not([disabled]):checked ~ .res-control-indicator,
    .login-form-box input:checked:focus ~ .res-control-indicator {
        background: #0084ff;
    }







.logo {
    width: 300px;
    margin-right: auto;
    margin-left: auto;

        /*  filter: grayscale(100%) brightness(500%);*/
        img {
            object-position: center center; /* 預設值即為 center center，此行可省 */
            object-fit: scale-down;
            width: 100%;
        }
    }


.content-list {
    width: 30%;
    /*min-width: 320px;*/
    background-image: linear-gradient(to bottom, #2b4e9d,#182e6c);
    /*padding: 5px 10px;*/
    padding-bottom: 5px;
    height: 100%;
    overflow: hidden;
    /*display: inline-block;*/
    vertical-align: top;
    box-sizing: border-box;
    /*font-size: 0;*/
}

.content-main {
    width: 100%;
    position: sticky;
    top: 0;
    background: #2b4e9d;
    box-shadow: 0px 2px 3px 1px rgba(26 ,53, 122, 0.5);
}
.chatlist {
    overflow-y: auto;
    max-height: 80%;
    height: calc(100vh - 160px);


    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-button {
        background: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #507bc3;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }
}

    /*個人名稱*/
.selfname-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    /*border-bottom: solid 1px $gray5_color;*/

    .set-icon {
        font-size: 20px;
        color: #ffffff;
        opacity:0.7;
    }

    .selfname-block-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .selfname-block-list-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;
            img{
                width:100%;}
        }

        .selfname-block-name {
            justify-content: center;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            color:#fff;
            h1{
                line-height:1.5;
            }
            h2{
                color:#ffffff;
                opacity:0.7;
            }
        }
    }

    .selfname-set {
        
        &.dropdown {
            .dropdown-toggle::after {
                display: none;
            }
        }
        .btn:focus{
            box-shadow:none;
        }
    }
}


.frame {
    padding: 5px 15px;
    border-bottom: solid 1px #486ba5;
  
}
    /*好友列表*/
.tab-block {
    display: inline-block;
    padding: 0px;
    /*background: #ffffff;*/
    font-size: 0;



    .tab {
        display: inline-block;
        padding: 8px 20px;
        color: #ffffff70;
        /*background: #ffffff;*/
        font-size: 16px;
        border-radius: 5px;
        i{
            margin-right:3px;
        }


        &.active {
            /*background: #56A7F2;*/
            border-radius: 5px;
            color: #fff;
        }
    }
}

.search-block {
    padding-right: 5px;
    padding-left: 0;
}
.arrange-block .show > .btn-light.dropdown-toggle {
    background: $lightblue_color;
}

.arrange-block {
    padding-right: 0;
    padding-left: 5px;

    .dropdown {
        .btn.btn-light.dropdown-toggle {
            background: $lightblue_color;
            color: $white_color;
        }


        .dropdown-menu {
            background: $lightblue_color;
            color: $white_color;
            min-width: 100%;
            z-index: 999;

            .dropdown-item {
                color: $white_color;

                &:hover {
                    background: #2b4e9d;
                }
            }
        }
    }

    select option {
        background: $lightblue_color;
        color: $gray6_color;
        font-size: 16px;
        font-weight: bold;
    }

    select option:checked {
        color: #fff;
        background: #72A1E5;
    }




    .btn-light {
        background: $lightblue_color;
        border: solid $lightblue_color 1px;
        outline: 0;
        box-shadow: none;
        color: $white_color;

        &:focus {
            box-shadow: none;
        }
    }

    .show > .btn-light.dropdown-toggle {
        background: $lightblue_color;
    }

    .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active {
        background: $lightblue_color;
        border-color: $lightblue_color;
        box-shadow: none;
    }

    .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
        box-shadow: none;
    }
}

.search-block, .arrange-block, .input-block {

    .form-control {
        background-color: #6b83bb;
        color: #fff;
        border: 1px solid #6b83bb;

        &::placeholder {
            color: $gray6_color;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $gray4_color;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $gray4_color;
        }
    }
}
    

/*列表*/


.manlist {

    #sort-nav {
        float: left;
        width: 100%;

        li {

            a {
                display: block;
                padding: 10px 15px;
                text-decoration: none;
                color: #005FB7;
                font-weight: 700;

                &.sort-alink {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: #dddddd;
                    background: rgba(255,255,255,0.1);

                    &.active {
                        /*background: rgba(255,255,255,0.3);*/
                        background: #6b83bd;
                    }

                    span {
                        font-size: calc(var(--font-size) * 1);
                    }




                    .drop-icon {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: calc(var(--font-size) * 1.5);
                        margin-left: 5px;
                        line-height: 1.2;

                        &.active {
                            transform: rotate(-180deg);
                            transition: all 0.1s ease-in;
                        }
                    }
                }
            }
        }
    }

    #sort-nav > li > a:hover, #sort-nav > li > a:focus {
        background: #4e659e;
    }

    .group-nav > li > a > div > h6 {
        color: $white_color;
    }

    #sort-nav li ul {
        display: none; // used to hide sub-menus
    }

    .group-nav li {
        /*border-bottom: 1px solid $gray5_color;*/
    }

    #sort-nav li ul li a {
        padding: 15px 20px;

        &.group-nav-list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .group-nav-list-person {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                    margin-bottom: 0;
                }

                .group-nav-list-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 15px;
                }
            }

            .group-nav-list-status {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                overflow: hidden;
                display: inline-block;
                background: #EB5757;


                &.online {
                    background: #27AE60;
                }
            }
        }
    }
}

/*左側 聊天室列表*/
#chat-nav li {
    /*border-bottom: 1px solid $lightblue_color;*/
    /*border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: linear-gradient(to right, rgb(255, 99, 71) 60%, transparent 100%);*/
    a {
        display: block;
        padding: 20px 25px;
        text-decoration: none;
        color: #000;

        &.active {
            background-color: rgba(243,243,243,.1);
        }



        &.chat-alink {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            .drop-icon {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                color: #A9CBEA;

                &.active {
                    transform: rotate(-180deg);
                    transition: all 0.1s ease-in;
                }
            }
        }

        &.chat-nav-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px #2e4c93;

            .chat-nav-list-person {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #fff;

                .chat-nav-list-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 15px;
                }

                h6 {
                    line-height: 1.7;
                }

                p {
                    margin: 0;
                    color: $gray4_color;
                    line-height: 1.7;
                }
            }

            .chat-nav-list-status {
                align-items: flex-end;
                display: flex;
                flex-direction: column;

                .last-time {
                    color: $gray4_color;
                    font-size: var(--font-size);
                    line-height: 2;
                    font-size: calc(var(--font-size) * 0.8);
                }

                .unread {
                    background: #BD4089;
                    color: #fff;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    overflow: hidden;
                    text-align: center;
                    font-size: calc(var(--font-size) * 0.9);
                    line-height: 24px;
                    box-shadow: 0px 0px 2px 1px rgba(18,18,18,0.2);
                }
            }
        }
    }
}

#chat-nav > li > a:hover{
    background-color:rgba(243, 243, 243 ,0.2);
}

.chat-nav > li > a > div > h6 {
    color: #000;
}
.pop-modal {
    display: none;
}
/*
.pop-modal.invite1 {
    display: none;
}
.pop-modal.invite2 {
    display: none;
}*/
.pop-modal.profile-modal {
    position:relative;
    background: url("/Content/images/other/chat/person-bg.jpg") no-repeat center top / cover;
}
.d-none {
    display:none;
}
.d-block{
    display:block;
}
/*邀請朋友彈窗*/
.pop-modal {
    height: 80vh;
    overflow-y: auto;
    max-height: 600px;

    &.profile-modal {
        .modal-header {
            color: #ffffff;
            background: unset;
            border: none;

            .modal-title {
                /*position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);*/
            }


            .main-link.modal-title, .close-link {
                color: #ffffff;

                i {
                    color: #ffffff;
                }
            }
        }
    }

    &.account-modal {
        .modal-title {
            /*top: 10px;
            left: 50%;
            transform: translateX(-50%);*/
        }
    }

    .modal-header {
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 999;
        background: #fff;
        padding: 0.5rem 1rem;
        align-items: center;
        font-weight: bolder;

        .modal-title {
            font-weight: 900;

            i {
                font-size: 20px;
                line-height: 30px;
                color: $gray3_color;
            }
        }

        .close-link {
            font-size: 20px;
            color: $gray3_color;
            cursor: pointer;
        }

        .modal-title.next-link {
            color: $main_color;
            cursor: pointer
        }
    }

    .search-block {
        padding-right: 0;
        padding-left: 0;

        .gray {
            &:before {
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                content: "\f002";
                font-size: 16px;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: $gray3_color;
            }

            .form-control {
                background: $gray6_color;
                border: solid 1px $gray6_color;
                color: $gray3_color;
                text-indent: 25px;
            }
        }
    }

    .input-block {
        padding-right: 0;
        padding-left: 0;

        .camara {
            &:before {
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                content: "\f304";
                font-size: 16px;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: $white_color;
            }

            .form-control {
                background: rgba(255,255,255,0.4);
                border: 0;
                color: $white_color;
                text-indent: 25px;
            }
        }
    }
    /*已邀請名單*/
    .invited-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 15px 10px;
        margin-bottom: -15px;
    }

    .invited-man {
        position: relative;
        width: 55px;
        height: 70px;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .chat-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    .cancel {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        z-index: 999;
        box-shadow: 1px 1px 2px 1px rgba(131, 131, 131, 0.2);


        &:before {
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            content: "\f00d";
            font-size: 15px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: $gray3_color;
        }
    }

    .name {
        font-size: calc(var(--font-size) * 0.8);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

    .invite-manlist {

        #sort-nav {
            float: left;
            width: 100%;

            li {
                margin-bottom: 10px;

                &:last-child {
                    border: none;
                }

                a {
                    display: block;
                    padding: 5px 15px;
                    text-decoration: none;
                    color: #005FB7;
                    font-weight: 700;

                    &.sort-alink {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: #005fb7;
                        border-radius: 5px;
                        
                    }
                }
            }
        }


        .group-nav > li > a > div > h6 {
            color: #000;
        }


        .group-nav li {
            border-bottom: 1px solid $gray5_color;
            padding: 10px 15px;

            .item-name {
                position: relative;

                label {
                    margin: 0;
                }


                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                .res-control {
                    display: block;
                    position: relative;
                    cursor: pointer;
                }

                .res-control-indicator {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    height: 22px;
                    width: 22px;
                    background: #fff;
                    border: solid 2px $gray4_color;
                    border-radius: 50%;
                }

                input:checked ~ .res-control-indicator {
                    background: $sub_color;
                    border: solid 2px $sub_color;
                }

                input:disabled ~ .res-control-indicator {
                    background: #e6e6e6;
                    opacity: 0.6;
                    pointer-events: none;
                }

                .res-control-indicator:after {
                    content: '';
                    position: absolute;
                    display: none;
                }

                input:checked ~ .res-control-indicator:after {
                    display: block;
                }

                .res-control-indicator:after {
                    left: 7px;
                    top: 3px;
                    width: 5px;
                    height: 10px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }

                input:disabled ~ .res-control-indicator:after {
                    border-color: #7b7b7b;
                }
            }
        }

        #sort-nav li ul li a {
            padding: 10px 20px;

            &.group-nav-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .group-nav-list-person {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                margin-bottom: 0;
            }

            .group-nav-list-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 15px;
            }
        }
    }


.invite-ed-page {
    .group-info {
        padding: 15px 10px;
        background: url(/Content/images/other/chat/person-bg.jpg) no-repeat center top/cover;
        border-radius: 5px;

        .group-info-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }




    .group-pic {
        position: relative;
        width: 130px;
        height: 130px;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;

        .upload-camara {
            position: absolute;
            bottom: 0;
            right: 0;
            background: #fff;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            z-index: 999;
            box-shadow: 1px 1px 2px 1px rgba(131, 131, 131, 0.2);


            &:before {
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                content: "\f030";
                font-size: 22px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                color: $gray3_color;
            }
        }
    }

    .chat-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
    }



    .name {
        font-size: calc(var(--font-size) * 0.8);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
    /*邀請名單-列表&取消勾選*/
    .invite-ed-manlist {

        #ed-nav {
            width: 100%;

            li {
                margin-bottom: 10px;

                &:last-child {
                    border: none;
                }
            }
        }





        .ed-nav li {
            border-bottom: 1px solid $gray5_color;
            padding: 10px 15px;

            .item-name {
                position: relative;

                label {
                    margin: 0;
                }


                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                .res-control {
                    display: block;
                    position: relative;
                    cursor: pointer;
                }

                .res-control-indicator {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    height: 22px;
                    width: 22px;
                    background: #fff;
                    border: solid 2px $gray4_color;
                    border-radius: 50%;
                }

                input:checked ~ .res-control-indicator {
                    background: $sub_color;
                    border: solid 2px $sub_color;
                }

                input:disabled ~ .res-control-indicator {
                    background: #e6e6e6;
                    opacity: 0.6;
                    pointer-events: none;
                }

                .res-control-indicator:after, .res-control-indicator:before {
                    content: '';
                    position: absolute;
                    display: none;
                }

                input:checked ~ .res-control-indicator:after, input:checked ~ .res-control-indicator:before {
                    display: block;
                }

                .res-control-indicator:before {
                    left: 5px;
                    top: 0px;
                    width: 8px;
                    height: 8px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }

                .res-control-indicator:after {
                    left: 5px;
                    top: 9px;
                    width: 8px;
                    height: 8px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(-135deg);
                }

                input:disabled ~ .res-control-indicator:after, input:disabled ~ .res-control-indicator:before {
                    border-color: #7b7b7b;
                }
            }
        }


        .group-nav-list-person {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
                margin-bottom: 0;
            }

            .group-nav-list-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 15px;
            }
        }
    }


    /*個人檔案&帳戶*/


.profile-page {


    .profile-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;

        .profile-pic {
            position: relative;
            width: 130px;
            height: 130px;
            margin-right: 15px;
            margin-bottom: 15px;
            cursor: pointer;

            .upload-camara {
                position: absolute;
                bottom: 0;
                right: 0;
                background: #fff;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                z-index: 999;
                box-shadow: 1px 1px 2px 1px rgba(131, 131, 131, 0.2);


                &:before {
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    content: "\f030";
                    font-size: 22px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    color: $gray3_color;
                }
            }
        }
    }

    .profile-bottom {
        width: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 344px;
        padding-top: 20px;
        position: absolute;
        bottom: 0;

        .info {
            width: 70%;
            padding: 10px;
            font-size: calc(var(--font-size) * 1.2);
            border-bottom: solid 1px $gray5_color;
            max-width: 450px;

            
            span {
                padding: 5px 10px;
            }

            .info-title {
                color: $gray3_color;
            }

            .info-content {
                color: $gray1_color;
            }

            .info-link {
                color: #000;
                border: solid 1px #bdbdbd;
                background: #f2f2f2;
                width: 100%;
                padding: 10px 20px;
                border-radius: 10px;
                display: block;
                text-align: center;
                cursor: pointer;
            }

            label {
                float: left;
                line-height: 2.2;
                margin-bottom: 0;
            }

            span.inline-input {
                display: block;
                overflow: hidden;
                padding: 0 4px 0 6px;

                input.form-control {
                    width: 100%;
                    border: 0;

                    &::placeholder {
                        color: $gray4_color;
                    }
                }
            }
        }
    }






    .chat-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
    }



    .name {
        font-size: calc(var(--font-size) * 1.2);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #ffffff;
    }
}




.account-modal {
    .profile-page {
        position: relative;
    }

    .profile-bottom {
        position: absolute;
        /* width: 50%; */
        height: 100%;
        /* background-color: rgb(91, 91, 255); */
        top: 0;
        left: 0;
    }

    .save-close {
        position: relative;
        bottom: -50px;
    }
}

    /*右側聊天視窗*/

.content-window {
    width: 70%;
    height: 100%;
    position: relative;
    /*display: inline-block;*/
    vertical-align: top;
    box-sizing: border-box;
    /*font-size: 0;*/
    flex:2;

    &.d-block {
        display: block;
    }

    .chat-modal {
        width: 100%;
        display: none;

        &.active {
            display: block;
        }
    }
    /*上方列*/
    .chat-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $gray5_color;
        padding: 10px 15px;
        position: relative;

        .search-message {
            position: absolute;
            bottom: -50px;
            left: 0;
            padding: 5px 10px;
            border: solid 1px $gray6_color;
            left: 0;
            width: 100%;
            background: $white_color;
            display: inline-flex;
            align-items: center;
            font-size: 20px;
            color: $gray3_color;
            display: none;
            box-shadow: 0px 2px 2px 1px rgba(175,175,175, 0.4);

            .search-block {
                width: 100%;

                .search-label {
                    &:before {
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        content: "\f002";
                        font-size: 16px;
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $gray3_color;
                    }

                    input {
                        text-indent: 25px;
                    }
                }



                .form-control {
                    background-color: #fff;
                    color: $gray3_color;
                    border: 1px solid $main_color;

                    &::placeholder {
                        color: $gray4_color;
                        opacity: 1; /* Firefox */
                    }

                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: $gray4_color;
                    }

                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: $gray4_color;
                    }
                }
            }

            .close-search-message {
                padding: 5px 10px;
                cursor: pointer;

                i {
                    color: $gray3_color;
                }
            }
        }

        .chat-title-first {
            display: inline-flex;
            align-items: center;
        }

        .back-link {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin-right: 5px;
            align-items: center;
            /* align-self: center; */
            justify-content: center;
            display: none;
        }

        .icon {
            font-size: 20px;
            color: $gray4_color;
            padding: 5px;
        }

        .chat-person {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;

            .chat-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 5px;
            }
        }

        .chat-function {
            .chat-more {
                display: inline-block;


                .dropdown {
                    .btn {
                        padding: 0.4rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        /*.icon {
                            font-size: 20px;
                            color: $gray4_color;
                            padding: 5px;
                        }*/
                    }

                    .dropdown-toggle::after {
                        display: none;
                    }
                }

                .btn:focus {
                    box-shadow: none;
                }
            }

            > a {
                font-size: 1rem;
                line-height: 1.5;
                padding: 0.4rem;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    /*中間訊息*/
    .chat-content {
        width: 100%;
        display: block;
        height: calc(100vh - 243px);
        border-bottom: solid 1px $gray5_color;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track-piece {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #dadee3;
        }

        &::-webkit-scrollbar-track {
            box-shadow: transparent;
        }

        .chat-block {
            width: 100%;
            display: block;

            .chat-block-each {
                width: 50%;
                display: flex;
                flex-direction: row;
                padding: 10px;
                min-width: 300px;

                .chat-meg {
                    h2 {
                        line-height: 1.5;
                    }
                }

                &.right {
                    float: right;
                    flex-direction: row-reverse;

                    .chat-meg {


                        .message-block {
                            flex-direction: row-reverse;

                            .message {
                                background: $lightblue_color;
                                color: $white_color;
                            }

                            .remark {
                                line-height: 1.2;
                            }
                        }
                    }
                }

                .chat-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;
                }

                .chat-meg {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        line-height: 2;
                    }

                    .message-block {
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 10px;



                        .message {
                            padding: 10px;
                            background: $gray6_color;
                            display: inline-block;
                            width: 90%;
                            overflow-wrap: break-word;
                            border-radius: 5px;
                        }

                        .read {
                            float: right;
                        }

                        .time, .read {
                            margin-left: 5px;
                            margin-right: 5px;
                            color: $gray4_color;


                            span {
                                font-size: var(--font-size);
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
    /*下方訊息區塊*/
    .meg-content {
        width: 100%;
        background: #fff;

        .up-block {
            min-height: 100px;
        }

        .down-block {
            height: 20%;
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px;


            .send-block {
                a {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-right: 10px;


                    .blue-icon {
                        font-size: 20px;
                        color: $purple_color;
                        padding: 5px;
                    }
                }
            }
        }

        .btn-send {
            padding: 10px 15px;
            color: #fff;
            background: $purple_color;
            border-radius: 10px;
        }
    }
}


    textarea {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-color: #fff;
        font-size: 16px;
        resize: none;

        &.text-block {
            font-size: 16px;
            // Capitalized to prevent Sass
            // thinking it's the Sass max()
            font-size: Max(16px, 1em);
            font-family: inherit;
            padding: 0.5em 0.5em;
            background-color: #fff;
            border: 0;
            border-radius: 4px;
            transition: 180ms box-shadow ease-in-out;
        }

        &.text-block:focus {
            // border-color: hsl( var(--input-focus-h), var(--input-focus-s), var(--input-focus-l) );
            // box-shadow: 0 0 0 3px hsla( var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8 );
            outline: 3px solid transparent;
        }

        &.text-block:not(textarea) {
            line-height: 1;
            height: 2.25rem;
        }
    }
    /*黑底*/
    .overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.5);
        z-index: 100;
        display: none;
    }

    .d-block {
        display: block;
    }
    .d-inline-flex{
        display:inline-flex;
    }

    .popwindow {
        display: none;
        z-index: 101;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        min-width: 600px;
        background: #fff;
        border-radius: 5px;
        /* padding: 5px; */
        overflow: hidden;
    }


    .login-key {
        position: relative;
        display: inline-block;
        width: 100%;
    }




    @media only screen and (max-width: 1023px) {
        

        .login-content {
            max-width: 350px;
            width: 35%;
        }

        .login-form {
            padding: 30px;
        }

        .body-bg {
            background-repeat: repeat;
        }
    }

    @media (max-width: 767px) {

        .body-bg {
            /*width: 100vw;
        height: 100vh;*/
        }
        /*偽元素使背景模糊*/
        .body-bg::after {
            content: '';
            width: 100%;
            height: 100vh;
            overflow: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            filter: blur(8px);
            background: inherit;
            background-attachment: fixed;
            background-size: cover;
        }
        .content {
            height: 100vh;
            .chatlist{
                height:100%;
            }
        }

        .login-content {
            width: 50%;
        }
        .selfname-block {
            padding-top: 15px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .frame {
            padding: 10px 15px;


            &.tab-content {
                width: 100%;
                background: $main_color;
                position: fixed;
                bottom: 0;
            }
        }

        .content-window {
            display: none;
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            background: #fff;

            .up-block {
                padding: 10px;
            }

            .chat-content {
                height: calc(100vh - 200px);

                .chat-block .chat-block-each {
                    width: 90%;
                }
            }

            .chat-title {
                padding: 8px 10px;

                .chat-person .chat-img {
                    display: none;
                }

                .back-link {
                    display: inline-flex;

                    .icon {
                        font-size: 20px;
                    }
                }

                .icon {
                    font-size: 18px;
                    color: $gray4_color;
                    padding: 0 3px;
                }
            }

            .meg-content {
                .up-block {
                    min-height: 100%;
                }
            }


            textarea.text-block {
                padding: 0.2em 0.5em;
                height: 100%;
            }
        }







            .content-list {
                width: 100%;
            }

            .popwindow {
                min-width: unset;
                width: 100%;
                height: 100%;
                border-radius: 0;
                position: fixed;
                left: 0;
                top: 0;
                transform: unset;

                .profile-page .profile-top .profile-pic {
                    position: relative;
                    width: 80px;
                    height: 80px;
                    margin-right: 0;
                    margin-bottom: 5px;

                    .upload-camara {
                        width: 30px;
                        height: 30px;

                        &:before {
                            font-size: 16px;
                        }
                    }
                }

                .profile-page .chat-img {
                    width: 80px;
                    height: 80px;
                }
            }
        }

    @media (max-width: 480px) {
        .body-bg {
            overflow-y: hidden;
        }

        .login-content {
            width: 80%;
            left: unset;
            margin-right: auto;
            margin-left: auto
        }

        .login-block {
            position: relative;
        }
    }

    @media (max-width: 375px) {
    }

    @media (min-width: 768px) and (max-width: 979px) {

        .login-content {
            width: 50%;
        }
    }

    @media (min-width: 980px) {
    }

    @media (min-width: 1200px) {
    }