.drawing-section {
    padding: 64px 128px;
}

.dw-default-btn {
    padding: 18px;
    background: #e7e7e0;
    border-radius: 10px;
    color: #47494b;
    font-weight: 600;
    transition: all .3s;
    font-size: 18px;

    &:hover {
        background: #f3f3e5;
    }
}

.dw-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dw-title {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 25px;
            font-weight: 600;
        }

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.rd-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .customer-info {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .customer-pic {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .rd-header-btn {
        width: 100%;
        text-align: end;
    }
}

.rd-control {
    .control-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .search-bar {
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            margin-bottom: 15px;
        }
    }

    .control-body {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;

        .control-item {
            border-radius: 12px;
            box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
            overflow: hidden;
            background: #fff;
            max-width: 50vh;
            margin-bottom: 18px;

            .item-header {
                display: flex;
                justify-content: space-between;
                padding: 16px;
                background: #eaeded;

                .item-title {
                    span {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }

                .status-info {
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .item-body {
                padding: 18px;

                .control-item-info {
                    .info-item {

                        .item-content {
                            width: 100%;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }

                .rd-pic-info {
                    padding: 18px;
                    background: #f7f6f4;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    justify-content: space-between;
                    border-radius: 10px;

                    .pic-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        gap: 15px;

                        .item-info {
                            display: flex;
                            flex-direction: column;
                        }

                        label {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
