$color-blue: #005cbf;
$color-lightblue: #0580FF;
$color-orange: #F6AE2D;

#calendarTaskCalendarBox {
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 26px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2f77e3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 25px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /*隱藏套件新增按鈕*/
    div[data-id="add"] {
        display:none;
    }
}

.wx-willow-theme,
.wx-portal {
    /* Event Calendar css variables */
    --wx-event-calendar_hour-scale-width: 70px;
    --wx-event-calendar_hour-cell-height: 42px;
    --wx-event-calendar_month-cell-min-height: 200px;
    /* end of Event Calendar css variables */
    /* WX library css variables */
    /* font style */
    --wx-font-size-md: 16px;
    --wx-font-size-sm: 16px;
    --wx-font-weight-md: 500;
    --wx-line-height-md: 24px;
    --wx-font-weight-b: 700;
    --wx-color-font-disabled: rgba(0, 0, 0, 0.3);
    --wx-line-height: 20px;
    --wx-color-font: rgba(0, 0, 0, 0.7);
    --wx-font-family: Roboto, Arial, Helvetica, sans-serif;
    --wx-color-font-alt: rgba(0, 0, 0, 0.5);
    /* end of font style */
    /* icon style */
    --wx-icon-color: rgba(0, 0, 0, 0.5);
    --wx-icon-size: 20px;
    /* end of icon style */
    --wx-border: 1px solid #dfdfdf;
    /* calendar style */
    --wx-calendar-padding: 20px 10px !important;
    --wx-calendar-cell-gap: 5px !important;
    /* end of calendar style */
    /* color style */
    --wx-background-alt-hover: linear-gradient( rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100% );
    --wx-color-danger: #ff5252;
    --wx-background: #fff;
    --wx-background-hover: linear-gradient( rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100% );
    --wx-popup-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    --wx-background-alt: #fff8ea;
    --wx-color-primary: #2f77e3;
    /* end of color style */
    /* end of WX library css variables */
}

.wx-event-calendar-right .label {
    color: #000;
    font-size:14px;
}

.wx-event-calendar-right .selected .label {
    color: #fff;
    font-size: 14px;
}

#eventCalendarTaskCalendar {
    label {
        margin: 5px;
        font-size: 13pt;
    }
    /*留言板*/
    .message-board {
        background: #f2f2f2;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 10px;

        .message-text {
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            background: unset;
            border: unset;
            margin-bottom: 25px;
        }
    }

    .event_wrapper {
        border-radius: 5px;
        background-color: #fffbe5;
        white-space: nowrap;
    }

    .event_wrapper h1 {
        color:#05f;
    }

    @media screen and (max-width:800px) {
        .task-nav {
            right: -100vw;
            width: 100vw;
        }

        .active {
            right: 0;
        }
    }
}