#ViewLocalFile .modal {
    .modal-header {
        background: #cfdbe5;

        .modal-title {
            font-weight: 600;
        }
    }
}

.upload-navbar {
    display: flex;
    justify-content: space-between;

    .absolute-path {
        display: flex;
        width: 80%;
        margin-right: 15px;
    }
}

.upload-container {
    overflow: scroll;
    max-height: 55vh;
    background-color: #f7f7f7;
    padding: 15px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 12px;
}

.help-block dd {
    margin-bottom: 10px;
}

.preview-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/*.upload-container {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .upload-navbar {
    }

    .upload-content {
        display: flex;
        gap: 12px;

        .folder-root {
            background: #f5f4f4;
            min-height: 45vh;
            border-radius: 12px;
            box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31, 33, 35, .04);
            width: 35%;
            padding-top: 25px;

            .folder-item {
                display: flex;
                align-items: center;
                flex-direction: column;

                .folder-label {
                    font-size: 16px;
                    font-weight: 600;

                    a {
                        padding: 12px;
                        background: #dddddd;
                        border-radius: 12px;
                        transition: all .3s;

                        &:hover {
                            background: #ebe7e7;
                        }
                    }

                    .active-folder {
                        background: #f7c1c1;

                        &:hover {
                            background: #fbdfdf;
                        }
                    }
                }
            }

            .arrow-down {
                text-align: center;
                padding: 10px;
                font-size: 18px;
            }
        }

        .file-list {
            background: #f5f4f4;
            min-height: 45vh;
            border-radius: 12px;
            box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31, 33, 35, .04);
            width: 100%;
            padding: 15px;
        }
    }
}*/