html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: #e9e9e9;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e9e9e9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#e9e9e9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f7f7f7 0%,#e9e9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
}
.container_full {
    background: unset;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #a0f6aa;
    text-decoration: none;
}

.page_content {
    max-width: 540px;
    margin: 8vh auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/*導航頁-外層*/
.gate .logo {
    margin-bottom: 15px;
    height: unset;
    position: relative !important;
    width: auto;

    img {
        vertical-align: top;
        width: 330px;
    }
}


/*導航頁-分類選單-最外層*/
.onestep-menu {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

/*導航頁-分類選單*/
.faq-nav {
    flex-direction: column;

    .nav-link {
        margin: 5px 0;
        padding: 13px 16px;
        background-color: #1d5697;
        background: rgb(29,86,151); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(23,92,173,0.9) 0%, rgba(0,72,150,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(23,92,173,0.9) 0%,rgba(0,72,150,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(23,92,173,0.9) 0%,rgba(0,72,150,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5697', endColorstr='#004896',GradientType=0 ); /* IE6-9 */
        box-shadow: 0 1px 2px 0px #2e3b52;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease;
        text-align: center;
        font-size: 18px;

        &:hover {
            background-color: #053ffb;
        }

        &.active {
            background-color: #053ffb;
            font-weight: 700;
            color: #fff;
        }

        i {
            position: absolute;
            left: 10%;
            line-height: 1.8;
        }
    }
}


.nav.nav-pills .nav-link {
    color: #eee;
    position: relative;
}

/*最上方-現在位置*/
.gatedetail {
    .main_menu {
        padding: 5px 0px 15px;
        margin: 0 auto;
        width: 80%;

        .menu_title {
            color: #808080;
            font-size: 18px;
            list-style: none;
        }

        &::marker {
            display: none;
        }
    }
}


/*最上方-現在位置-內容選單*/
.custom-dropdown {
    width: 100%;
    position: relative;
    display: inline-block;

    select {
        width: 100%;
        background-color: #2b4dc7;
        color: #fff;
        font-size: 16px;
        border-radius: 3px;
        text-indent: 5px;
        cursor: pointer;
        -webkit-appearance: button; /* hide default arrow in chrome OSX */
        display: block;
        padding: 6px 12px;
        line-height: 2;
        border: 1px solid #8b8b8b;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}


/* IE9 */
.custom-dropdown select {
    background: none\9;
    padding: 5px\9;

    &:focus {
        border-color: #2a6dc9 !important;

        > option {
            zoom: 1.2;

            &:checked {
                background: #1435ab !important;
            }

            &:hover {
                background: #fa0 !important;
            }
        }
    }
}


/* IE10+ */
.custom-dropdown select::-ms-expand {
    display: none;
}

/*最上方-現在位置-選單-右區塊下拉箭頭*/
.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,.15);
}

/* 2層選單-外層 */
.accordion {
    width: 80%;
    margin: 2vh auto 0;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(53, 56, 61, 0.5);

    .link {
        cursor: pointer;
        padding: 10px 15px;
        font-size: 1.7rem;
        font-weight: 500;
        border-bottom: 1px solid #CCC;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        color: #fff;
        background-color: #1758a1;
    }

    li {
        &:last-child .link {
            border-bottom: 0;
        }

        &.open {
            .link {
                color: #fff;
                background-color: #1d6ec5;
            }

            i {
                color: #fff;

                &.aftertext {
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(90deg);
                }
            }
        }

        i {
            margin: 5px 15px;
            min-height: 20px;
            min-width: 20px;
            text-align: center;
            line-height: 1.8;
            font-size: 1.7rem;

            &.aftertext {
                float: right;
                transition: all 0.2s;
            }
        }
    }
}




/* 2層選單-內層 */
.submenu {
    display: none;
    background: #173658;

    li {
        border-bottom: 1px solid #274c74;
    }

    a {
        display: block;
        color: #d7d7d7;
        padding: 10px 15px;
        padding-left: 60px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        font-size: 1.7rem;

        &:hover {
            background: #386ba3;
            color: #FFF;
        }
    }
}



/*登出*/
.log-out {
    color: grey;
    padding: 25px;
    text-align: center;
    font-size: 18px;

    a {
        color: #a9a9a9;
    }
}

@media screen and (max-width: 768px) {
    .container_full {
        margin-top: 0;
    }
    .gate {
        width: 100%;
        margin: 0 auto;
        max-width: 740px;

        .logo img {
            width: 280px;
        }
    }

   
    .onestep-menu {
        width: 100%;
    }

    .faq-nav .nav-link {
        font-size: 16px;
    }
    .log-out {
        width: 100%;
        z-index: 100;
        text-align: center;

        a {
            line-height: 40px;
            color: #fdfdfd;
            display: block;
            background-color: #686868;
            border-radius: 10px;
            box-shadow: 0 1px 5px rgba(56, 56, 56, 0.5);
        }
    }
    .gatedetail {
        margin: 5vh auto;

        .main_menu {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            max-width: 740px;
            background-color: #f1f1f1;
            z-index: 100;
            padding: 1.5rem 2rem 2.2rem 2rem;
            box-shadow: 0 1px 5px rgba(135, 135, 135, 0.5);
        }
    }

   

    .accordion {
        width: 100%;
        margin-top: 10rem;
    }
    
}