h2 {
    font-weight: 900;
    line-height: 2;
}

.interface-container {
    max-width: 1400px;
    margin: auto;

    .step-title {
        font-size: 1rem;
        width: 100%;
    }

    .interface-block {
        width: 60%;
        background: #ffffff;
        padding: 5px 10px;
        border-radius: 5px;

        .interface-block-kan {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
    }

    .interface-nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #efefef;
        background: #f1f2f5;
        padding: 20px;
        column-gap: 10px;

        .interface-control {
            width: 40%;
            display: flex;
            flex-direction: column;
            background: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;


            form.container {
                padding-left: 0;
                padding-right: 0;
                padding-top: 15px;
                padding-bottom: 15px;

                .row.form-group {
                    margin-bottom: 1rem;

                    input [type=checkbox] {
                        width: 25px !important;
                        height: 25px !important;
                    }

                    label.col-form-label {
                        color: #8f8f8f;
                    }
                }
            }
        }

        .interface-kanban {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            background: #e7f4ff;
            border-radius: 5px;

            .kanban-title {
                text-align: center;
                font-size: 1rem;
                border-bottom: solid 1px #feffff;
                font-weight: bold;
            }

            .data-count {
                text-align: center;
                font-size: 1rem;
                display: flex;
                border-bottom: solid 1px #feffff;

                &:last-child {
                    border-bottom: none;
                }

                > span {
                    width: 50%;
                }

                > a {
                    width: 50%;
                }

                &.total-count {
                    > a {
                        color: #757171;
                    }
                }

                &.fit-count {
                    > a {
                        font-weight: bold;
                        color: #17b82c;
                    }
                }

                &.error-count {
                    > a {
                        font-weight: bold;
                        color: #f64868;
                    }
                }
            }
        }
    }

    .interface-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #f1f2f5;
        padding: 20px;

        .interface-data {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0;

            .interface-data-block {
                width: 30%;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 0 0 5px;
                position: relative;
                border: solid 2px #919191;

                .interface-data-title {
                    position: sticky;
                    top: 0;
                    background: #919191;
                    padding: 5px;

                    h2 {
                        color: #fff;
                    }
                }

                .interface-data-list {
                    max-height: 50vh;
                    overflow: auto;
                }

                .data-item {
                    padding: 5px 10px;
                    position: relative;
                    border-bottom: 1px solid #dbdbdb;

                    &.success-data {
                        color: #fff;
                        background-color: #17b82c;
                        font-weight: bold;

                        &:after {
                            font-family: "Font Awesome 5 Pro";
                            content: '\f00c';
                            position: absolute;
                            right: 0;
                            margin-right: 5px;
                        }
                    }

                    &.error-data {
                        color: #fff;
                        background-color: #f64868;
                        font-weight: bold;

                        &:after {
                            font-family: "Font Awesome 5 Pro";
                            content: '\f00d';
                            position: absolute;
                            right: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .interface-animate {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .process {
                font-size: 2rem;
                text-align: center;
                color: #acacac;

                &.process-run {
                    color: #77c2fd;
                    text-decoration: blink;
                    -webkit-animation-name: blinker;
                    -webkit-animation-duration: 0.6s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-timing-function: ease-in-out;
                    -webkit-animation-direction: alternate;
                }
            }
        }
    }
}

.operation-setting-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .setting-title {
        font-size: 16px;
        background-color: #eee;
        padding-left: 5px;
        font-weight: bold;
        text-align: center;
    }

    .setting-body {
        display: flex;
        flex-direction: row;

        .help-block {
            width: 100%;
            display: inline-block;
        }

        .btn {
            margin: 5px 0 0 5px;
            padding: 5px 10px;
        }
    }
}