$baseFontSize : 16px;

body {
    background: whitesmoke;
}

.doc-section {
    padding: 25px;
}

.doc-div {
    border-radius: 12px;
    box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
    overflow: hidden;
}

.doc-header {
    background: #b6ccca;
    color: #163537;
    padding: 18px 32px;
    transition: all .2s;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 12px;
        background: #cbdfde;
        border-radius: 12px;
        font-weight: 600;
        transition: all .2s;
    }

    a:hover {
        background: #c5e3e1;
    }

    h2 {
        font-weight: 600;
        font-size: 25px;
    }
}

.doc-body {
    background: #fdfdfd;
    padding: 32px;
}

.doc-search {
    max-height: 45vh;
    overflow: scroll;
}

.control-bar {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.control-btn {
    padding: 12px;
    background: #dde1e5a6;
    border-radius: 12px;
    font-weight: 600;
    margin-right: 12px;
    transition: all .2s;
    margin-bottom: 12px;

    &:hover {
        background: #b8c4cfa6;
    }
}

.doc-info {
    display: flex;
    justify-content: start;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    width: 100%;

    label {
        font-size: 18px;
        font-weight: 600;
        margin-right: 8px;
        width: 100%;
    }
}

.item-span {
    font-size: 16px;
    line-height: 2.8rem;
}

.required-span {
    color: #d3334f;
}

.search-table {
    overflow: scroll;
}

.barcode-reader {
    line-height: 45px;

    label {
        font-size: 18px;
        font-weight: 600;
    }

    input {
        width: 35%;
    }
}

.reader-input {
    display: flex;
    align-items: center;

    a {
        background: #abc5c3;
        padding: 0 12px;
        border-radius: 8px;
        color: #fff;
        font-weight: 600;

        &:hover {
            background: #c5e3e1;
        }
    }
}

.reader-body {
    border-radius: 12px;
    box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
    overflow: hidden;
    margin-top: 8px;
    background: #fff;
    padding: 32px;
    transition: all .2s;
}

.detail-body {
    border-radius: 12px;
    box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
    overflow: hidden;
    margin-top: 4px;
    background: #fff;
    padding: 32px;
}

.detail-table {
    overflow: scroll;
    max-height: 65vh;
}

.menu-btn {
    padding: 8px;
    background: #e3e2e1;
    border-radius: 12px;
    color: unset;
    transition: all .2s;

    &:hover {
        background: #d1cdc9;
        color: unset;
    }
}

.control-menu {
    position: absolute;
    margin-top: 15px;
    background: #e9e9e9;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    display: none;

    a {
        padding: 8px;

        &:hover {
            background: #f1f1f1;
            border-radius: 12px;
        }
    }
}

.search-detail {
    border-radius: 12px;
    box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
    overflow: hidden;
    margin-top: 8px;
    background: #fff;
    padding: 32px;

    span {
        font-size: 16px;
        font-weight: 600;
    }
}

.search-detail-table {
    overflow: scroll;
    max-height: 45vh;
}

.modal-lg {
    max-width: 85vh;
}

.modal-content {
    border-radius: 12px;
}

.modal-header {
    background: #b6ccca;
}

.modal-title {
    color: #53505f;
    font-weight: 600;
}

.modal-body {
    overflow: scroll;
    max-height: 65vh;
    min-height: 25vh;

    label {
        font-weight: 600;
    }
}

.modal-footer a {
    padding: 12px;
    background: #b6ccca;
    border-radius: 12px;
    color: #53505f;
    font-weight: 600;

    &:hover {
        background: #c5e3e1;
    }
}

.clear-btn {
    background: #d7d7d7 !important;

    &:hover {
        background: #c5e3e1;
    }
}

.active-tr {
    background: #abbecf !important;
}

.inventory-span {
    color: #ff2976
}


.item-content {
    display: flex;
    align-items: center;
}

.detail-control {
    width: 100%;
    text-align: end;

    a {
        padding: 12px;
        background: #dde1e5a6;
        border-radius: 8px;
        font-weight: 600;
        transition: all .2s;

        &:hover {
            background: #b8c4cfa6;
        }
    }
}

.min-text {
    display: none;
}

/* table板塊 */
.table-custom {
    table.table.table-bordered.table-striped.table-sticky {
        tbody {
            tr {
                td {
                    label.control.control--radio {
                        span.control__indicator {
                            border: 1px solid #5387a1;
                        }
                    }
                }
            }
        }
    }
}


.table-custom {
    table.table.table-bordered {
        td, th {
            border-color: #d2d7db !important;
        }
    }
} 

@media only screen and (max-width: 600px) {
    .doc-section{
        padding: 0;
    }

    .doc-body {
        padding: 18px;
    }

    .min-control-bar {
        display: block !important;
    }

    .control-bar {
        padding: 0;
    }

    .control-btn {
        padding: 8px 15px;
        text-align: center;
        margin-right: 8px;
        margin-bottom: 10px;
    }

    .min-control-menu {
        position: absolute;
        margin-top: 15px;
        background: #e9ebee;
        padding: 12px 18px;
        border-radius: 12px;
        flex-direction: column;
        display: none;
        transition: all .2s;
        height: 50%;
        overflow: scroll;

        a {
            padding: 12px;
            background: #dddbdb;
            border-radius: 12px;
            margin-bottom: 12px;
            text-align: center;
        }
    }

    .min-control-item {
        display: flex;
        flex-direction: column;
        padding: 18px;
    }

    .doc-info {
        flex-wrap: wrap;
    }

    .info-item {
        margin-bottom: 15px;
    }

    .header-title {
        h2 {
            font-size: 22px;
        }

        a {
            padding: 8px;
        }
    }

    .doc-header
    {
        padding: 14px 32px;
    }

    .info-item {
        label {
            font-size: 14px;
        }
    }

    .logo {
        margin-bottom: 25%;
    }

    .take {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .push {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dep {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px !important;
    }

    .mr {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px !important;
    }

    .transfer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swal2-popup {
        font-size: 0.8rem;
    }

    .text {
        display: none !important;
    }

    .detail-control {
        width: 45%;
    }

    .barcode-reader {
        input {
            width: 65%;
        }
    }

    .min-text {
        display: block;
    }

    /* table板塊 */
    .item-section {
        padding: 12px;
        border-radius: 12px;
        box-shadow: 0 8px 24px -8px #efefef, inset 0 0 0 1px rgba(31,33,35,.04);
        overflow: hidden;
        margin-bottom: 12px;
        background: #fff;
    }

    .item-title {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        h3 {
            font-size: 18px;
            font-weight: 600;
            color: #5c77a1;
        }

        span {
            font-size: 14px;
            color: #636363;
            font-weight: 600;
        }
    }

    .doc-status span {
        font-size: 16px;
        font-weight: 600;
        color: #1a91a5;
    }

    .item-body {
        padding: 8px;
    }

    .item-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 12px;
        background: whitesmoke;
        border-radius: 12px;
    }

    .info-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

        label {
            font-size: 16px;
            font-weight: 600;
            color: #141111;
        }

        span {
            color: #5d5c5c;
            font-weight: 600;
        }
    }

    .item-footer {
        padding: 12px;
        text-align: end;

        a {
            padding: 12px;
            background: #dde1e5a6;
            border-radius: 12px;
            font-weight: 600;
            transition: all .2s;
            margin-bottom: 12px;
        }
    }

    .doc-search {
        max-height: 75vh;
    }

    .search-table {
        overflow: auto;
    }

    .min-search-detail {
        position: fixed;
        z-index: 999;
        overflow: auto;
        background: #f7f7f7;
        bottom: 0;
        width: 100%;
        transition: all .2s;
    }

    .search-detail-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    .min-search-detail {
        border-radius: 12px;
        box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
        overflow: hidden;
        margin-top: 8px;
        background: #fff;
        padding: 32px;

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .search-detail-table {
        overflow: scroll;
        max-height: 45vh;
    }


}

