.bg-dark {
    background-color: #525252 !important;
}

.login-block {
    max-width: 540px;
    margin: 8vh auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 10px #35383d;

    .login-content {
        margin: 3vh auto;

        .logo {
            height: unset;
            position: relative !important;
            margin-bottom: 0;

            img {
                vertical-align: top;
                width: 330px;
            }
        }
    }

    .form-control {
        background: #eee;
        border: solid 2px #cbcbcb;

        &:focus {
            background-color: #eee;
            border: solid 2px #4a9dfb;
        }
    }
}

@media screen and (max-width: 768px) {
    .login-block {
        margin: 0 auto;
        height: 100vh;
        width: 100vw;
    }
}