
*{
    margin:0;
    padding:0;
}
.hidden {
    display: none;
}

.opaque {
    opacity: 0;
    transition: 0.3s ease;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.table.table-color thead th {
    border: none;
    border-bottom: solid 1px #000;
    background: #f5ebeb !important;
}
 th .table-color.table-bordered td, .table-color.table-bordered th {
    border: none;
    border-bottom: solid 1px #000;
}
.title-measure {
    font-size: 18px;
    color: #8a8a8a;
    line-height: 2.5;
    display: flex;
    justify-content: space-between;

    .btn {
        background: #E084A0;
        color: #fff;
        margin: 8px 0;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 900;
        border: 3px solid #E084A0;
        transition: 0.3s ease;
        cursor: pointer;
        text-align: center;

        &:hover {
            background: #fff;
            color: #E084A0;
        }

        i {
            margin-right: 5px;
        }
    }

    span.caption {
    }

    span.detail {
        color: #000;
        font-weight: 700;
    }
}

#checkout-progress {
    width: 50%;
    margin: 0px auto;
    font-size: 2em;
    font-weight: 900;
    position: relative;
}

@media (max-width: 767px) {
    #checkout-progress {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .table-custom .table.table-stack .stack-title {
        width: 35%;
    }
}
#checkout-progress:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    height: 20px;
    width: 98%;
    background-color: #ccc;
    transform: translateY(-50%) perspective(1000px);
}

#checkout-progress:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 20px;
    width: 100%;
    background-color: #53708d;
    transform: scaleX(0) translateY(-50%) perspective(1000px);
    transform-origin: left center;
    transition: transform 0.5s ease;
}

#checkout-progress.step-2:after {
    transform: scaleX(0.50) translateY(-50%) perspective(1000px);
}

#checkout-progress.step-3:after {
    transform: scaleX(1) translateY(-50%) perspective(1000px);
}

#checkout-progress.step-4:after {
    transform: scaleX(1) translateY(-50%) perspective(1000px);
}

#checkout-progress.step-5:after {
    transform: scaleX(1) translateY(-50%) perspective(1000px);
}

#checkout-progress .progress-bar {
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    padding: 20px 30px;
    margin-top: 20px;
}

#checkout-progress .progress-bar .step {
    z-index: 2;
    position: relative;
    .nub, .fa-check{
        font-size:0.75em;
    }
}

#checkout-progress .progress-bar .step .step-label {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%) perspective(1000px);
    white-space: nowrap;
    font-size: 0.6em;
    font-weight: 600;
    color: #ccc;
    transition: 0.3s ease;

    &.up {
        top: calc(100% - 110px);
        font-size:1.35em;
    }
}

@media (max-width: 767px) {
    #checkout-progress .progress-bar .step .step-label {
        top: calc(100% + 15px);
    }
    #checkout-progress .progress-bar .step .step-label {
   

        &.up {
            top: calc(100% - 85px);
        }
    }
    #checkout-progress{
        width:100%;
    }
}

#checkout-progress .progress-bar .step span {
    color: #ccc;
    transition: 0.3s ease;
    display: block;
    transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
   
}

#checkout-progress .progress-bar .step .fa-check {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform 0.3s ease;
    transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}

#checkout-progress .progress-bar .step.active span, #checkout-progress .progress-bar .step.active .step-label {
    color: #53708d;
}

#checkout-progress .progress-bar .step.valid .fa-check {
    transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}

#checkout-progress .progress-bar .step.valid span {
    color: #53708d;
    transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
}

#checkout-progress .progress-bar .step.valid .step-label {
    color: #53708d !important;
}

#checkout-progress .progress-bar .step:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) perspective(1000px);
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #ccc;
    transition: 0.3s ease;
}

@media (max-width: 767px) {
    #checkout-progress .progress-bar .step:after {
        width: 40px;
        height: 40px;
    }
}

#checkout-progress .progress-bar .step.active:after {
    border: 5px solid #53708d;
}

#checkout-progress .progress-bar .step.valid:after {
    background-color: #53708d;
    border: 5px solid #53708d;
}

.button-container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 50px auto;
    column-gap: 20px;
}

.button-container .btn {
    display: inline-block;
    background-color: #53708d;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    border: 3px solid #53708d;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 767px) {
    .button-container .btn {
        width: 100%;
        margin-bottom: 15px;
    }
   
}

.button-container .btn:hover {
    background-color: transparent;
    color: #53708d;
    transform: scale(1.02) perspective(1000px);
}

/**/
.step-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #F3F3F3;
    column-gap: 10px;

    .menu-block {
        background: #fbfbfb;
        width: 15%;
        padding: 5px 10px;

        p.title {
            line-height: 2;
            border-bottom: solid 1px #ddd;
            color: #000;
            padding: 10px;
            font-weight: 900;
            margin: 0;
        }

        ul {

            li {
                display: flex;
                list-style: none;

                a {
                    padding: 15px 10px;
                    text-align: center;
                    display: block;
                    width: 65%;

                    &:hover, .active {
                        background: #F6E8EC;
                        color: #CA577A;

                        span {
                            background: #E084A0;
                        }
                    }

                    span {
                        background: #adadad;
                        color: #fff;
                        padding: 3px 10px;
                        border-radius: 12px;
                        margin-left: 15px;
                    }

                    &.active {
                        background: #F6E8EC;
                        color: #CA577A;

                        span {
                            background: #E084A0;
                        }
                    }
                }

                .pl-confirm {
                    width: 35%;
                    background: #f3d3e0 !important;
                    font-weight: 600;
                    color: #494b4d;

                    &:hover {
                        background: #dfefff;
                    }
                }

                .pl-re-confirm {
                    width: 35%;
                    background: #e3e3e3 !important;
                    font-weight: 600;

                    &:hover {
                        background: #f5f0e9;
                    }
                }
            }
        }
    }

    .table-block {
        width: 75%;
        overflow: auto;
        flex-grow: 1;
        //捲軸底色
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: /*#ffc0cb*/ /*#ffe9ed*/ #fff5f8;
        }
        //捲軸寬度
        &::-webkit-scrollbar {
            height: 8px;
            background-color: white;
        }
        //捲軸本體顏色
        &::-webkit-scrollbar-thumb {
            background-color: #ddb0be /*#e1a8ba*/ /*#df849f*/ /*#bb6573*/;
        }

        .row {
            flex-wrap: nowrap;
        }

        .table-custom {
            background: #fff;
            padding: 8px;
            overflow: hidden;
            max-height: unset;

            .table {
            }

            .table-custom-title {
                width: 100%;
                background: #F2F2F7;
                border-bottom: solid 2px #E0E0E0;
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
                align-items: center;
                font-size: 18px;
                font-weight: 700;

                i {
                    color: #E084A0;
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 767px) {


    .step-content {
        flex-direction: column;
        row-gap: 10px;
        column-gap: unset;


        .table-block {
            width: 100%;

            .row {
                
                    flex-wrap:wrap;
                
            }
        }

        .menu-block {
            width: 100%;
        }
    }
    }