@charset "UTF-8";
/*登入*/
.login-form {
  padding: 20px 30px 30px; }
  .login-form .logo {
    height: 100%;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1.2rem; }
    .login-form .logo a {
      width: 200px; }
      .login-form .logo a img {
        vertical-align: top;
        width: 330px; }
  .login-form .btn-sure {
    font-size: 1rem; }
  .login-form form .input-group {
    margin-bottom: 0rem;
    flex-wrap: nowrap; }
    .login-form form .input-group .input-group-addon {
      background-color: #e9ecef;
      font-size: 18px;
      white-space: nowrap; }
    .login-form form .input-group .form-control {
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da; }
      .login-form form .input-group .form-control:focus {
        border: 2px solid #555; }
      .login-form form .input-group .form-control.form-control-add {
        height: 45px;
        font-size: 16px; }
  .login-form form .choose-btn {
    font-size: 1rem;
    font-weight: 600; }

/**/
.table-outer.popup .name-title {
  font-weight: 700;
  color: #197acf; }

.table-outer.popup tr {
  height: 65px; }

/**/
.mes_content {
  height: 100%; }
  .mes_content .mes_table_wrapper {
    min-height: 0;
    padding-top: 8px;
    height: 60vh; }
  .mes_content .infonfunc.card-body {
    padding: 0;
    background: none; }
  .mes_content .mes_info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(171, 171, 171, 0.2);
    padding-left: 15px;
    padding-right: 15px; }
    .mes_content .mes_info ul, .mes_content .mes_info li, .mes_content .mes_info p {
      margin: 0;
      padding: 0; }
    .mes_content .mes_info ul {
      padding-left: 8px;
      padding-right: 8px; }
      .mes_content .mes_info ul li {
        list-style: none;
        font-size: 1rem;
        padding: 10px 0px 5px 0px;
        border-bottom: solid 1px #e5e5e5; }
        .mes_content .mes_info ul li.list-btn-block {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center; }
          .mes_content .mes_info ul li.list-btn-block .btn-change {
            height: 40px;
            background-color: #e1eefd;
            color: #1e85ff;
            min-width: 70px;
            border-radius: 5px;
            padding: 5px;
            font-size: 1rem;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-around; }
        .mes_content .mes_info ul li p {
          color: #8d8d8d; }
        .mes_content .mes_info ul li h2 {
          font-weight: 700; }

/* 應刷未刷 */
.swipe {
  width: 82%;
  display: flex;
  align-items: center; }
  .swipe .nav {
    width: 100%;
    border-radius: 5px;
    color: #53505f;
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    /* text-transform: uppercase; */
    -ms-flex-pack: end;
    /* -webkit-box-pack: end; */
    justify-content: center;
    padding: 0px 10px; }
    .swipe .nav li {
      width: 30%;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 700; }
      .swipe .nav li:not(:first-child) {
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid #bdbdbd; }
    .swipe .nav strong {
      display: block;
      margin: 5px 0px 0px 0px;
      color: #ff5500;
      font-size: 2.2rem; }

.logout {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 5px; }
  .logout a {
    font-size: 1rem;
    position: relative;
    color: #7c7c7c;
    background: #eee;
    padding: 0.4rem; }

/* 按鈕*/
.function-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: stretch;
  margin-left: 5px; }
  .function-content .function-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 1px 1px 3px 0px rgba(135, 135, 135, 0.5);
    margin-bottom: 5px;
    border-radius: 5px; }
    .function-content .function-item .function-self span {
      font-size: 18px;
      color: #fff; }
  .function-content .function-item2 {
    flex: 2;
    padding-left: 10px;
    display: flex;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 2px 2px 1px rgba(171, 171, 171, 0.2);
    padding: 0; }
    .function-content .function-item2 .function-block {
      width: 30%;
      flex-direction: column;
      padding: 5px 10px 5px 0px;
      background: #fff;
      border-radius: 5px; }
      .function-content .function-item2 .function-block a.btn-set {
        min-height: 40px;
        border-radius: 5px;
        background: #a3a3a3;
        color: #fff;
        font-size: 1.1rem;
        max-height: 110px;
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        display: flex; }
    .function-content .function-item2 .machine-block {
      width: 70%;
      flex-direction: column;
      padding: 10px; }
      .function-content .function-item2 .machine-block .line {
        display: flex;
        flex-direction: row; }
      .function-content .function-item2 .machine-block .btn-machine {
        width: 50%;
        height: 50px;
        background-color: #00B09B;
        margin: 5px 5px 5px 0px;
        border-radius: 5px;
        color: #fff;
        padding: 10px;
        font-size: 1rem; }

@media screen and (max-width: 580px) {
  .function-content {
    margin-top: 20px; } }

/* 首&跟 */
.check-follow {
  position: relative;
  display: inline-block;
  /* margin-right: 1em; */
  white-space: nowrap;
  line-height: .5; }
  .check-follow .p-on {
    display: none; }
  .check-follow input:checked ~ .state.p-off {
    opacity: 0;
    display: none; }
  .check-follow input:checked ~ .state.p-on {
    opacity: 1;
    display: block; }
  .check-follow input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer; }

/* 表格樣式 */
.table-outer {
  max-width: 100%;
  max-height: 58vh;
  /*外框的高度*/
  overflow: auto;
  font-size: 1rem;
  border-radius: 5px;
  padding-bottom: 0.5rem;
  /*側邊卷軸-*/
  /*側邊卷軸*/
  /*側邊卷軸-軌道*/
  /*table本體*/ }
  .table-outer::-webkit-scrollbar {
    width: 6px; }
  .table-outer::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #afd8ff; }
  .table-outer::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5); }
  .table-outer .table-platform-sticky {
    table-layout: fixed;
    min-width: 100%;
    width: auto;
    overflow: unset !important;
    border-bottom: #c3c3c3 solid 1px !important;
    text-align: left; }
    .table-outer .table-platform-sticky thead .headerrow {
      color: white;
      background-color: #808080;
      border-radius: 13px; }
    .table-outer .table-platform-sticky thead tr th {
      top: 0;
      /*sticky要用 上下左右定位*/
      background: #fdfdfd;
      vertical-align: top;
      border-bottom: 0;
      box-shadow: 0 -2px 0 inset #ddd;
      z-index: 2;
      position: sticky;
      word-break: keep-all;
      padding: 0.5rem;
      text-align: left;
      vertical-align: middle;
      color: #5c5c5c; }
      .table-outer .table-platform-sticky thead tr th .form-row {
        flex-wrap: nowrap; }
    .table-outer .table-platform-sticky th, .table-outer .table-platform-sticky td {
      padding: 0.5rem 0.8rem;
      border-bottom: solid 1px #eee; }
      .table-outer .table-platform-sticky th p, .table-outer .table-platform-sticky td p {
        margin-bottom: 0.1rem; }
    .table-outer .table-platform-sticky .line-odd th, .table-outer .table-platform-sticky .line-odd td {
      background: #f8fbff; }
    .table-outer .table-platform-sticky .line-even th, .table-outer .table-platform-sticky .line-even td {
      background: #fff; }

.btn-work-block .btn {
  padding: 0.5rem 1.5rem;
  margin: 5px 10px 5px 0;
  font-size: 1.1rem; }
  .btn-work-block .btn.btn-work {
    background-color: #1E85FF;
    color: #fff; }
    .btn-work-block .btn.btn-work:hover {
      background-color: #59a7fb;
      color: #fff; }
  .btn-work-block .btn.btn-work-outline {
    background: #fff;
    color: #1E85FF;
    border: solid #59a7fb 1px; }
    .btn-work-block .btn.btn-work-outline:hover {
      background-color: #59a7fb;
      color: #fff;
      border: solid #59a7fb 1px; }

/* 表單樣式 */
/* 表單樣式input */
.form-control-add {
  height: 45px;
  font-size: 16px; }
  .form-control-add:focus {
    border: 2px solid #555;
    /* border-color: #a768f3; */ }

.working-content {
  padding: 0.5rem; }

.btn.btn-working {
  padding: 2rem 1.5rem;
  margin: 5px 10px 5px 0;
  font-size: 1.1rem;
  background-color: #1E85FF;
  color: #fff; }
  .btn.btn-working.btn-start {
    background-color: #00b09b; }
  .btn.btn-working.btn-end {
    background-color: #E77891; }

.cutter-content {
  padding: 1rem; }

/*進階功能 彈窗內容*/
.advanced-section .go-back {
  float: left;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  background: none;
  border: 0; }

.advanced-section .form-control.form-dark {
  background-color: #5d5d5d;
  border: solid 1px #787878;
  color: #fff; }
  .advanced-section .form-control.form-dark:focus {
    border: solid 1px #fff; }
  .advanced-section .form-control.form-dark::placeholder {
    /* CSS 3 標準 */
    color: #b1b1b1; }
  .advanced-section .form-control.form-dark::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: #b1b1b1; }
  .advanced-section .form-control.form-dark:-ms-input-placeholder {
    /* IE 10+ */
    color: #b1b1b1; }
  .advanced-section .form-control.form-dark::-moz-placeholder {
    /* Firefox 19+ */
    color: #b1b1b1;
    opacity: 1; }

.advanced-section .close-block {
  position: fixed;
  bottom: 1.5rem;
  left: 50%; }
  .advanced-section .close-block button.close {
    text-shadow: none;
    opacity: 1;
    border-radius: 100%;
    border: solid 2px #939393;
    width: 35px;
    height: 35px;
    color: #939393; }

.advanced-section .modal-dialog {
  max-width: unset;
  margin: unset; }
  .advanced-section .modal-dialog .modal-content {
    border-radius: 0;
    height: 100vh;
    background-color: rgba(25, 25, 25, 0.9); }
    .advanced-section .modal-dialog .modal-content .modal-header {
      align-items: center;
      background: #2D2D2D;
      justify-content: flex-start; }
      .advanced-section .modal-dialog .modal-content .modal-header h6 {
        color: #fff; }

.advanced-section .table-outer.table-advanced {
  border-radius: 0px;
  max-height: 80vh;
  /*外框的高度*/ }
  .advanced-section .table-outer.table-advanced table.table-platform-sticky thead tr th {
    padding-top: 0.5rem; }
  .advanced-section .table-outer.table-advanced table.table-platform-sticky thead tr th:nth-child(1) {
    padding-left: 1.2rem; }
  .advanced-section .table-outer.table-advanced table.table-platform-sticky tbody tr th {
    padding-left: 1.2rem; }

/*產品資訊 彈窗*/
.table-outer .table-platform-sticky tr td.line-active {
  background: #ffe085; }

/*上料作業 彈窗*/
.check-qu {
  color: #334cff; }
