/*換頁css*/
.owl-carousel {
    padding-top: 10px;
}

.owl-theme .item {
    height: 100%;
}

.owl-carousel .item h4 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;
}

.machine_content {
    height: 100%;
    margin-top: 15px;
}


.mes_info {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    background-color: #fff;
}
.content {
    margin-top: 10px;
}

.header-title {
    font-size: 24px;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: #429c6b;
}

.header-info {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
/*版頭標題*/
.floating-form {
    width: 320px;
    padding: 20px 15px 5px;
    /****  floating-Lable style start ****/
    .floating-label {
        position: relative;
        margin-bottom: 0px;
    }

    .floating-input, .floating-select {
        font-size: 18px;
        padding: 4px 4px;
        display: block;
        width: 100%;
        height: 32px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #c1c1c1;
        color: #0056c3;
        font-weight: 800;
    }

    .floating-input:focus, .floating-select:focus {
        outline: none;
        border-bottom: 2px solid #5264AE;
    }

    label {
        color: #999;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: -15px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
        top: -18px;
        font-size: 16px;
        color: #5264AE;
    }

    .floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
        top: -18px;
        font-size: 14px;
        color: #5264AE;
    }
    /* active state */
    .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
        width: 50%;
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .floating-textarea {
        min-height: 30px;
        max-height: 260px;
        overflow: hidden;
        overflow-x: hidden;
    }
    /* highlighter */
    .highlight {
        position: absolute;
        height: 50%;
        width: 100%;
        top: 15%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* active state */
    .floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    /* animation */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }
    /****  floating-Lable style end ****/
    /***   Body style start  ***/
    /***   Body style end  ***/
    /***   daniel - Fork me friend - style   ***/
    .floating-credit {
        position: fixed;
        bottom: 10px;
        right: 10px;
        color: #aaa;
        font-size: 13px;
        font-family: arial,sans-serif;
    }

    .floating-credit a {
        text-decoration: none;
        color: #000000;
        font-weight: bold;
    }

    .floating-credit a:hover {
        border-bottom: 1px dotted #f8f8f8;
    }

    .floating-heading {
        position: fixed;
        color: #aaa;
        font-size: 20px;
        font-family: arial,sans-serif;
    }
   
}

/**/
.display {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    /* flex: auto; */
    justify-content: flex-end;

    .progress-block-bar {

        width: 100%;
        padding: 7px 0;
        max-width: 80px;
        padding: 7px 9px 7px 6px;
        max-width: 80px;
        background: url(/assets/images/icon-charge.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}




.horizontal .progress-track {
    position: relative;
    width: 100%;
    height: 30px;
    background: #abd5ef;
    border-radius: 3px;
}

.horizontal .progress-fill {
    position: relative;
    background: #4b9acd;
    height: 30px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 18px;
    line-height: 30px;
    border-radius: 3px;
}

.rounded .progress-track,
.rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}



/* Vertical */

.vertical .progress-block-bar {
    float: left;
    height: 300px;
    width: 40px;
    margin-right: 25px;

}

.vertical .progress-track {
    position: relative;
    width: 40px;
    height: 100%;
    background: #ebebeb;
}

.vertical .progress-fill {
    position: relative;
    background: #825;
    height: 50%;
    width: 40px;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.rounded .progress-track,
.rounded .progress-fill {
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    border-radius: 3px;
}





.post {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    background: #429c6b;
    color: #ffffff;
    margin-right: 15px;
    border-radius: 5px;
    align-items: center;
}

.post span {
    line-height: 1.25;
}

.article-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    /*height: 358px;*/
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;

    .title {
        border-bottom: solid 3px #F2EAEA;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .name {
            font-weight: bold;
            font-size: 18px;
        }


        .status {
            background: #ECECEC;
            color: #383838;
            border-radius: 5px;
            padding: 5px 10px;
            margin-left: 10px;

            &.mac_active {
                background: #DCFFCB;
                color: #03A143;
            }

            &.mac_stop {
                background: #FFF8B5;
                color: #bf9800;
            }

            &.mac_off {
                background: #FEDCDC;
                color: #D62C2C;
            }

            .dot {
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: #A39D9E;
                box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
                display: inline-block;

                &.mac_active {
                    background: #03A143;
                }

                &.mac_stop {
                    background: #EDBE16;
                }

                &.mac_off {
                    background: #D62C2C;
                }
            }
        }
    }

    .article {
        width: 100%;

        .detail-block {
            .detail-title {
                font-size: 16px;
                font-weight: 800;
                display: flex;
                justify-content: space-between;
                color: #575757;
                letter-spacing: -1px;

                a {
                    color: #8b8b8b;
                    font-weight: 800;
                }
            }
        }
    }
}




.table {
    margin: 0 0 13px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.table-row {
    display: table-row;
    /*background: #fbfbfb;*/
    background: #ffffff;

    &:nth-of-type(odd) {
        background: #f6f6f6;
    }

    &.table-header {
        font-weight: 900;
        /*color: #ffffff;
        background: #8b8b8b;*/
        color: #777777;
        background: #ebebeb;
    }

    &.green {
        background: #27ae60;
    }

    &.blue {
        background: #2980b9;
    }
}

@media screen and (max-width: 580px) {
    .table-row {
        padding: 10px 0 7px;
        display: block;

        &.table-header {
            padding: 0;
            height: 6px;

            .cell {
                display: none;
            }
        }

        .cell {
            margin-bottom: 10px;

            &:before {
                margin-bottom: 3px;
                content: attr(data-title);
                min-width: 98px;
                font-size: 14px;
                line-height: 11px;
                font-weight: bold;
                text-transform: uppercase;
                color: #969696;
                display: block;
            }
        }
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 4px 16px;
        display: block;
    }
}

/*彈窗內樣式*/
.modal-body .form-control {
    line-height: 1;
}
