
body {
    background: whitesmoke;
}

.doc-section {
    padding: 25px;

    .doc-div {
        border-radius: 12px;
        box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
        overflow: hidden;

        .doc-header {
            background: #87a2bd;
            color: #163537;
            padding: 18px 32px;
            transition: all .2s;
            color: #fff;
        }
    }
}



.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
    }

    a {
        padding: 12px;
        background: #cbdfde;
        border-radius: 12px;
        font-weight: 600;
        transition: all .2s;
    }

    a:hover {
        background: #c5e3e1;
    }

   
}

.doc-body {
    background: #f7f8ff;
    padding: 32px;

    .doc-search {
        /*max-height: 45vh;*/
        overflow: scroll;

        .search-table {
            overflow: scroll;
        }
    }

    .control-bar {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
}



.control-btn {
    padding: 12px;
    background: #dde1e5a6;
    border-radius: 12px;
    font-weight: 600;
    margin-right: 12px;
    transition: all .2s;
    margin-bottom: 0;

    &:hover {
        background: #b8c4cfa6;
    }
}



.search-detail {
    border-radius: 12px;
    box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
    overflow: hidden;
    margin-top: 8px;
    background: #fff;
    padding: 32px;

    span {
        font-size: 16px;
        font-weight: 600;
    }

    .search-detail-table {
        overflow: scroll;
        max-height: 45vh;
    }
}



.modal-lg {
    max-width: 85vh;
}
.modal-tri-block.modal {
    height: auto;
}

.modal-content {
    border-radius: 12px;
    border: 0;

    .modal-header {
        background: #87a2bd;

        .modal-title {
            color: #fbfbfb;
            font-weight: 600;
        }
    }

    .modal-body {
        overflow: auto;
        max-height: 65vh;
        min-height: 25vh;

        label {
            font-weight: 600;
        }
    }

    .modal-footer a {
        padding: 12px 24px;
        background: #2678c9;
        border-radius: 12px;
        color: #fff;
        font-weight: 600;

        i {
            margin-right: 3px;
        }

        &:hover {
            background: #709fe9;
        }

        &.clear-btn {
            background: #9b9b9b;

            &:hover {
                background: #c9c9c9;
            }
        }
    }
}





.modal {
    .modal-footer {
        border: 0;
        justify-content: center;
    }
}


.active-tr {
    background: #abbecf !important;
}


.min-text {
    display: none;
}

/* table板塊 */
.table-custom {
    table.table.table-bordered.table-striped.table-sticky {
        tbody {
            tr {
                td {
                    label.control.control--radio {
                        span.control__indicator {
                            border: 1px solid #5387a1;
                        }
                    }
                }
            }
        }
    }
}


.table-custom {
    table.table.table-bordered {
        td, th {
            border-color: #d2d7db !important;
        }
    }
}


    @media only screen and (max-width: 600px) {
        .container-fluid {
            padding: 0;}


        .doc-section {
            padding: 0;

            .doc-body {
                padding: 18px 10px;

                .control-bar {
                    padding: 0;

                    .control-btn {
                        padding: 8px 15px;
                        text-align: center;
                        margin-right: 8px;
                    }
                }
            }
        }






        .btn-trigger {

            i {
                font-size: 20px;
            }
        }

            .modal-tri-block {
                &.modal {
                    max-height: unset;
                    height: auto;
                    border-radius: 8px;
                    width: 90%;

                    .modal-footer {
                        justify-content: center;
                        height: unset;
                    }
                }

                .modal-content {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    width: 100%;
                    pointer-events: auto;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: none;
                    outline: 0;
                    padding: 15px;

                    .modal-header {
                        padding: 10px;

                        h5.modal-title {
                            font-size: 16px;
                        }
                    }
                }

                .modal-body {
                    padding: 1rem 0;
                }
            }

            .min-control-menu {
                position: absolute;
                margin-top: 15px;
                background: #e9ebee;
                padding: 12px 18px;
                border-radius: 12px;
                flex-direction: column;
                display: none;
                transition: all .2s;
                height: 50%;
                overflow: scroll;

                a {
                    padding: 12px;
                    background: #dddbdb;
                    border-radius: 12px;
                    margin-bottom: 12px;
                    text-align: center;
                }
            }


            .doc-info {
                flex-wrap: wrap;
            }

            .info-item {
                margin-bottom: 15px;
            }

            .header-title {
                h2 {
                    font-size: 18px;
                    line-height: unset;
                    margin: unset;
                }

                a {
                    padding: 8px;
                }
            }

            .doc-header {
                padding: 14px 32px;
            }



            .swal2-popup {
                font-size: 0.8rem;
            }

            .text {
                display: none !important;
            }


            .min-text {
                display: block;
            }
            /* table板塊 */
            .item-section {
                padding: 12px;
                border-radius: 12px;
                box-shadow: 0 8px 24px -8px #efefef, inset 0 0 0 1px rgba(38,37,39,.04);
                overflow: hidden;
                margin-bottom: 12px;
                background: #fff;
                box-shadow: 0 2px 4px -1px rgba(156,156,156,0.65);
                box-shadow: 2px 9px 23px -1px rgba(206,211,223,0.65);


                p {
                    margin-bottom: 5px;
                }
            }


            .item-title {
                padding: 0 5px 5px;
                display: flex;
                flex-direction: column;

                .main-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        column-gap: 8px;
                    }
                }

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }

                span {
                    font-size: 14px;
                    color: #636363;
                    font-weight: 600;
                }

                .sub-title {
                    p {
                        margin-bottom: 0;
                        color: #5c77a1;
                    }
                }
            }

            .doc-status span {
                font-size: 14px;
                font-weight: 600;
                color: #1a91a5;
                background: #dbf1f5;
                padding: 2px 8px;
                border-radius: 5px;
                white-space: nowrap;
            }

            .item-body {
                padding: 5px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                column-gap: 5px;
            }

            .item-info {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                padding: 12px;
                background: whitesmoke;
                border-radius: 12px;
            }

            .info-section {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;
                background: #e1edf9;
                padding: 3px 10px;
                border-radius: 5px;


                label {
                    font-size: 13px;
                    font-weight: 600;
                    color: #979797;
                    text-align: right;
                }

                span {
                    color: #5d5c5c;
                    font-weight: 600;
                    text-align: right;
                }
            }

            .item-footer {
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span {
                }


                a {
                    padding: 12px;
                    background: #dde1e5a6;
                    border-radius: 12px;
                    font-weight: 600;
                    transition: all .2s;
                    margin-bottom: 12px;
                }

                i {
                    color: #9b9b9b;
                }
            }

            .doc-search {
                /*max-height: 75vh;*/
            }

            .search-table {
                overflow: auto;
            }


            .min-search-detail {
                border-radius: 12px;
                box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31,33,35,.04);
                overflow: hidden;
                margin-top: 8px;
                background: #fff;
                padding: 32px;

                span {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .search-detail-table {
                overflow: scroll;
                max-height: 45vh;
            }
        }



    @media screen and (max-width: 380px) {

        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .doc-header {
            padding: 10px 15px;

            .header-title {
                h2 {
                    font-size: 14px;
                }
            }
        }

        .doc-body {
            padding: 10px;
        }

        .item-section {
            .item-title {
                .main-title {
                    h3 {
                        font-size: 12px;
                    }
                }
            }

            p {
                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        .info-section label {
            font-size: 12px;
        }
    }

