$color-blue: #005cbf;
$color-lightblue: #0580FF;
$color-orange: #F6AE2D;

.gantt-container {
    .gantt-fullscreen {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        padding: 2px;
        font-size: 32px;
        background: transparent;
        cursor: pointer;
        opacity: 0.5;
        text-align: center;
        -webkit-transition: background-color 0.5s, opacity 0.5s;
        transition: background-color 0.5s, opacity 0.5s;

        &:hover {
            background: rgba(150, 150, 150, 0.5);
            opacity: 1;
        }
    }

    .gantt-control {
        padding: 10px 0 12px;
        background: #e9edf2;
        text-align: center;

        .control {
            line-height: 20px;
            display: inline-block;
            padding-left: 25px;
            margin-right: 10px;
            margin-bottom: 0;

            input[type=button], input[type=file], input[type=checkbox], button {
                border: 1px solid #D9D9D9;
                background: #fff;
                padding: 4px 12px;
                margin: 0 5px;
                line-height: 20px;
            }

            input[type=button]:hover, button:hover {
                cursor: pointer;
            }
        }
    }

    .gantt-body {
        width: 100%;
        height: 100vh;

        &:not(.fullscreen) {
            height: calc(100vh - 250px);
        }

        .gantt_layout_cell::-webkit-scrollbar, .gantt_layout_content::-webkit-scrollbar, .gantt_task_vscroll::-webkit-scrollbar, .scrollVer_cell::-webkit-scrollbar {
            width: 20px;
            height: 15px;
        }

        .gantt_layout_cell {
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 2px;
                border-radius: 2px;
                background: rgba(0, 0, 0, 0.2);
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                -webkit-border-radius: 2px;
                border-radius: 2px;
            }
        }

        &.project-progress {
            .gantt_task_line, .gantt_line_wrapper {
                margin-top: -9px;
            }

            .gantt_task_link {
                .gantt_link_arrow {
                    margin-top: -12px
                }
            }

            .gantt_task_content {
                margin-bottom: 7px;

                &.gantt_right {
                    bottom: 0;
                }
            }

            .gantt_plan_task_line {
                position: absolute;
                border-radius: 2px;
                opacity: 0.6;
                margin-top: -7px;
                height: 12px;
                background: #ffd180;
                border: 1px solid rgb(255,153,0);
            }
        }
    }

    .gantt_grid_scale .gantt_grid_head_cell, .gantt_task .gantt_task_scale .gantt_scale_cell {
        //font-weight: bold;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7);
    }

    .gantt_task_bg {
        .gantt_task_row {
            &:nth-of-type(odd) {
                background-color: #f9f9f9;
            }

            &:nth-of-type(even) {
                background: #fff;
            }
        }
    }

    .gantt_tree_content {
        font-size: 14px;
    }

    .gantt-weekend {
        background: #f0dfe5;
    }

    .gantt-today-line {
        background-color: #ff5151;
    }

    .gantt-aux-line {
        background-color: #c90076;
    }

    .gantt_grid_data .gantt_row.odd:hover, .gantt_grid_data .gantt_row:hover {
        background-color: #fff3af;
    }

    .gantt_grid_data .gantt_row.gantt_selected, .gantt_grid_data .gantt_row.odd.gantt_selected, .gantt_task_row.gantt_selected {
        background-color: #fff3af;
    }
}

@media screen and (max-width: 768px) {
    .gantt-container {
        .gantt-body {
            height: 90vh;
        }
    }
}

/***任務導航列***/

.task-statusB {
    color: #1e6193;
}

.task-statusC {
    color: #070;
}

.task-statusI {
    color: #ff6a00;
}

.task-statusT {
    color: #742a96;
}

.proj-statusP {
    background-color: #eaeaea;
    color: #0f78d3;
}

.proj-statusI {
    background-color: #eae9fc;
    color: #ff6a00;
}

.proj-statusC {
    background-color: #f0f7ee;
    color: #228b22;
}

.task-nav {
    width: 660px;
    right: -660px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    color: #000;
    z-index: 1031;
    box-shadow: -2px -2px 10px 3px rgba(114, 114, 114, 0.3);
    overflow-y: auto !important;
    padding: 0;
    transition-duration: 0.2s;

    h1, h2 {
        font-weight: 700;
    }

    .container {
        padding: 20px 35px;
    }

    .set {
        font-size: 18px;
        color: #8b8b8b;
        cursor: pointer;
        padding: 5px 0;

        &.nav-menu {
            width: 20px;
            text-align: center;
            margin-right: -15px;
        }
    }

    .task-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .task-title {
        font-size: 22px;
        margin-bottom: 0px;

        .title {
            display: inline-block;
            width: 100%;
            min-height: 45px;
            border: solid 1px #fff; /*預防hover時畫面跳動*/
            padding: 2px 0px;
            border-radius: 3px;
            outline: 0 !important;
            font-size: 22px;
            line-height: 45px;
            font-weight: 700;
        }
    }
    /*儲存按鈕*/
    .nav-save {
        color: #fff;
        background-color: #05f;
        margin-right: 5px;
    }

    .nav-save:hover {
        color: #ffc300;
    }

    .task-box {
        margin-bottom: 45px;

        a {
            &.link {
                color: #005bff;
                font-weight: 700;
                cursor: pointer;
                text-decoration: underline;
                float: right;
            }
        }

        .task-box-title {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 2px #444;
            line-height: 30px;
            align-items: center;
        }

        ul.task-list-area, li.task-list {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 35px;
        }

        .task-list {
            line-height: 2.3;
            /*倒數計時*/
            &.countdown-area {
                flex-wrap: nowrap;
                display: flex;

                .title {
                    flex-basis: 60px;
                    min-width: unset;
                }

                .countdown-content {
                    flex-grow: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    .countdown {
                        background: #efefef;
                        color: #7e7e7e;
                        font-weight: 700;
                        margin-bottom: 5px;
                        border-radius: 5px;
                        padding: 2px 10px;
                        line-height: 25px;
                        /*綠色*/
                        &.time-normal {
                            background: #e5ffc9;
                            color: #168f00;
                        }
                        /*虹色*/
                        &.time-warn {
                            background: #FEDCDE;
                            color: #A81E31;
                        }
                    }
                }
            }

            div.time-block {
                display: inline-block;

                .input-group {
                    width: 100%;
                }

                input.form-control {
                    padding-left: 5px;
                    outline: 0 !important;
                    width: 60%;
                    height: 30px;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: solid 1px #eee;
                    border-radius: 0;
                    background: #fff;
                }

                span.input-group-addon {
                    padding: 0px 5px;
                    font-size: 14px;
                    border: none;
                    border-radius: 0;
                    background: #fff;
                }
            }

            .title {
                color: #919191;
                margin-right: 20px;
                width: 20%;
                min-width: 80px;
                font-weight: 800;

                i {
                    width: 18px;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            .detail {
                padding-left: 5px;
            }
        }
    }

    &.active {
        right: 0;
    }

    .title-input {
        display: inline-block;
        width: 100%;
        min-height: 45px;
        border: solid 1px #ccc; /*預防hover時畫面跳動*/
        padding: 2px 0px;
        border-radius: 3px;
        outline: 0 !important;
        font-size: 22px;
        line-height: 45px;
        font-weight: 700;

        &:hover {
            border: 1px solid #ccc;
        }

        &:focus {
            border: 1px solid #a768f3;
        }

        &::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            font-size: 22px;
            line-height: 45px;
            vertical-align: middle;
            color: #c1cdcd;
        }
    }
    /* border-radius: 3px;*/
    .detail-input {
        display: inline-block;
        /*width: 70%;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: solid 1px #eee;
        padding-left: 5px;*/
        outline: 0 !important;
        line-height: 25px;

        &:hover {
            /*border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: solid 1px #ccc;*/
        }

        &:focus {
            /*border-top: 0;
            border-left: 0;
            border-right: 0;*/
            border-bottom: solid 1px #a768f3;
        }

        &::-webkit-input-placeholder {
            line-height: 30px;
            vertical-align: middle;
            color: #c1cdcd;
        }
    }

    .file-drop-zone-title {
        padding: 25px 10px;
    }

    .file-drop-zone {
        min-height: 140px;
    }
}

.date-icon:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f073";
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.date-icon {
    position: relative;
    display: inline-block;
   
}

.set-area {
    padding: 5px;
    position: relative;

    ul {
        &.set-block {
            background-color: #fff;
            position: absolute;
            padding: 1rem 1.5rem;
            transition: .3s;
            right: 0;
            top: 100%;
            min-width: 180px;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
            z-index: 999;
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                width: 100%;

                a {
                    color: #555;
                    font-size: 14px;
                    padding: 8px 16px;
                    text-decoration: none;
                    display: block;
                    clear: both;
                    line-height: 20px;
                    white-space: nowrap;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

/*子任務區塊*/
.subtask-list {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #e1e1e1;
    align-items: center;
    padding: 10px 0;

    .subtask-link {
        color: #c1c1c1;
        cursor: pointer;
        margin-right: 5px;

        i {
            font-size: 18px;
        }
    }
}

/*上傳圖片*/
.krajee-default.file-preview-frame .kv-file-content {
    width: 160px;
    height: 100px;
}

.krajee-default .file-footer-caption {
    margin-bottom: 10px;
}

.file-footer-buttons .btn i {
    margin-right: 0px;
}

/*回報*/
.return-area {
    position: relative;

    .return-block {
        border: 2px solid #fe0;
        border-radius: 5px;
        background-color: #ffe;
        position: absolute;
        padding: 1rem 1.5rem;
        transition: .3s;
        right: 0;
        top: 100%;
        min-width: 500px;
        box-shadow: 1px 1px 6px rgba(0,0,0,.25);
        z-index: 999;

        .reply-content {
            background-color: #fff;
            height: 80px;
            width: 450px;
            resize: none;
            border: 1px solid #ccc;
            padding: 2px 0px;
            border-radius: 3px;
            padding-left: 5px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            line-height: normal;

            &:focus {
                border-color: #66afe9;
                outline: 0;
            }
        }

        .progress-input {
            background-color: #fff;
            height: 30px;
            border: 1px solid #ccc;
            padding: 2px 0px;
            border-radius: 3px;
            padding-left: 5px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

            &:focus {
                border-color: #66afe9;
                outline: 0;
            }
        }

        .progress-select {
            height: 30px;
            padding: 5px 5px;
            border: none;
            border-radius: 4px;
            background-color: #f1f1f1;
        }

        .control-delay-area, .control-start-area, .control-end-area, .control-content-area {
            display: none;

            &.show {
                display: block;
            }
        }

        .progress-cancel {
            margin-left: 5px;
            background: #eee;
            color: #333;
            float: right;
            cursor: pointer;

            &:hover {
                background: #cfcfcf;
            }
        }

        .progress-send {
            margin-left: 5px;
            background: #005bff;
            color: #fff;
            float: right;
            cursor: pointer;

            &:hover {
                background: #cfcfcf;
            }
        }
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
}

/*留言板*/
.message-board {
    background: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 10px;

    .message-text {
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        background: unset;
        border: unset;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:800px) {
    .task-nav {
        right: -100vw;
        width: 100vw;
    }

    .active {
        right: 0;
    }
} 