.main-container {
    padding: 12px 64px;

    .main-div {
        border-radius: 12px;
        box-shadow: 0 8px 24px -8px #e1e3e5, inset 0 0 0 1px rgba(31, 33, 35, .04);
        overflow: hidden;

        .pl-header {
            background: #cfc6ab;
            color: #163537;
            padding: 12px 32px;
            transition: all .2s;

            .header-title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    font-size: 25px;
                    font-weight: 600;
                    color: #61563c;
                }

                .navbar {
                    gap: 15px;

                    .login-user {
                        padding: 12px;
                        background: #938658;
                        border-radius: 12px;
                        color: #ffffff;
                        font-weight: 600;
                        transition: all .3s;
                    }

                    a {
                        padding: 12px;
                        background: #938658;
                        border-radius: 12px;
                        color: #ffffff;
                        font-weight: 600;
                        transition: all .3s;

                        &:hover {
                            background: #ab9e6e;
                        }
                    }
                }
            }
        }

        .pl-body {
            padding: 18px;
            min-height: 65vh;

            .nav-bar {
                display: flex;
                gap: 15px;
                margin-bottom: 15px;
                width: 75%;
                align-items: center;

                .bar-item {
                    width: 100%;

                    label {
                        font-weight: 600;
                    }

                    a {
                        padding: 15px;
                        background: #cfc6ab;
                        border-radius: 12px;

                        &:hover {
                            background: #d9d0b3;
                        }
                    }
                }

                .status-item {
                }
            }

            .pl-table {
                overflow: scroll;
                max-height: 550px;

                .start-btn {
                    background: #ddd2bf;
                }

                .finish-btn {
                    background: #f3b4a5;

                    &:hover {
                        background: #fdc4b7;
                    }
                }

                .pause-btn {
                    background: #c3cbe1;

                    &:hover {
                        background: #cfdaf5;
                    }
                }

                .cancel-btn {
                    background: #ebb4c3;

                    &:hover {
                        background: #efc1ce;
                    }
                }

                .disabled-btn {
                    background: #cdcdcd;
                    cursor: no-drop;

                    &:hover {
                        background: #cdcdcd;
                    }
                }

                thead tr {
                    background: #d5c8bd;
                }

                tbody a {
                    padding: 8px;
                    background: #ddd2bf;
                    border-radius: 4.5px;
                    font-weight: 600;
                    transition: all .3s;

                    &:hover {
                        background: #f1dcb6;
                    }
                }

                .active-tr {
                    background: #bbbbbb;
                }
            }
        }
    }
}

.pl-modal {
    .modal-header {
        background: #cfc6ab;

        h5 {
            font-weight: 600;
        }
    }

    .modal-footer {
        a {
            padding: 12px;
            background: #cfc6ab;
            border-radius: 10px;
            color: #4d4539;
            font-weight: 600;

            &:hover {
                background: #ddd3b4;
            }
        }
    }
}

/*select2*/
.select2-results__options {
    font-size: 14px;
}

/*pagination*/
.pagination {
    margin: 1rem 0 1rem;

    .page-link {
        color: #6f6d65;
    }

    .page-item.active .page-link {
        background-color: #aba198;
        border-color: #aba198;
    }

    .page-item.disabled .page-link {
        background-color: #d5c8bd;
    }
}

/*rwd*/
@media only screen and (max-width: 1350px) {
    .pl-body {
        min-height: 45vh;

        .nav-bar {
            width: 100% !important;
        }

        .pl-table {
            max-height: 350px !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    .nav-bar {
        flex-wrap: wrap;
    }
}