@using Business_Manager.Helpers
@{ 
    ViewBag.Title = "Business Manager 系統";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="page_content gate">
    <div class="logo">
        <img src="@Url.Content("~/Content/images/logo.png")" />
    </div>
    <div class="onestep-menu">
        <div class="nav nav-pills faq-nav" id="systemMenu"></div>
    </div>
    <div class="log-out">
        <a href="javascript:Logout();">登出</a>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            SystemMenu();
        });

        function SystemMenu() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetSystemMenu", "BasicInformation")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    innerHtml += `<a href="/Home/GateDetail?System=${item.SystemCode}" class="nav-link">
                                    ${decodeURI(item.ThemeIcon)} ${item.SystemCode} ${item.SystemName} 
                                  </a>`;
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#systemMenu").html(innerHtml);
        }
    </script>
)